{% load humanize %}
{% load funciones_propias %}

<h3>
    {% if contexto_nota_control_calidad_stock_detalle.inspeccion == 1 %}
        Series
        <button class="update badge bg-primary"
            data-form-url="{% url 'calidad_app:series_detalle_bueno_registrar' contexto_nota_control_calidad_stock_detalle.id %}"
            data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
            data-keep-open="True">
            Registrar Serie
        </button>
    {% elif contexto_nota_control_calidad_stock_detalle.control_serie == False and contexto_nota_control_calidad_stock_detalle.inspeccion == 2 %}
        Fallas
        <button class="update badge bg-primary"
            data-form-url="{% url 'calidad_app:series_detalle_malo_sin_serie_registrar' contexto_nota_control_calidad_stock_detalle.id %}"
            data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
            data-keep-open="True">
            Registrar Falla
        </button>
    {% else %}
        Series y Fallas
        <button class="update badge bg-primary"
            data-form-url="{% url 'calidad_app:series_detalle_malo_registrar' contexto_nota_control_calidad_stock_detalle.id %}"
            data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
            data-keep-open="True">
            Registrar Serie y Falla
        </button>
    {% endif %}
    <a href="{% url 'calidad_app:nota_control_calidad_stock_detalle' contexto_nota_control_calidad_stock_detalle.nota_control_calidad_stock.id %}"><span class="badge bg-primary">Regresar</span></a>   
</h3>

<div class="input-group flex-nowrap mt-3">
    <label class="input-group-text">Cantidad Inspeccionada</label>
    <input type="text" class="form-control" value="{{ contexto_nota_control_calidad_stock_detalle.cantidad_calidad|redondear|intcomma }}" style="max-width: 150px;">
    <label class="input-group-text ms-auto">Cantidad Registrada</label>
    <input type="text" class="fondo-personalizado form-control" value="{{ contexto_nota_control_calidad_stock_detalle.series_calidad|redondear|intcomma }}" style="max-width: 150px; 
    {% if contexto_nota_control_calidad_stock_detalle.series_calidad != contexto_nota_control_calidad_stock_detalle.cantidad_calidad %}
    --color-fondo:red;
    {% else %}
    --color-fondo:green;
    {% endif %}
    ">
</div>

<h4>
    {{ contexto_nota_control_calidad_stock_detalle.nota_ingreso_detalle }}
</h4>
<button data-form-url="{% url 'material_app:series' contexto_nota_control_calidad_stock_detalle.material.id %}"
    class="read btn btn-dark"
    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Series">
    Ver Series
</button>
<button class="read btn btn-primary"
    data-form-url="{% url 'calidad_app:falla_material_detalle_modal' contexto_nota_control_calidad_stock_detalle.material.subfamilia.id %}">
    Ver Fallas
</button>
<button class="create btn btn-primary"
    data-form-url="{% url 'calidad_app:falla_material_detalle_registrar' contexto_nota_control_calidad_stock_detalle.material.subfamilia.id %}"
    data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}">
    Agregar Fallas
</button>
<br>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nro. de Serie</th>     
                {% if contexto_nota_control_calidad_stock_detalle.inspeccion != 1 %} 
                    <th>Falla</th>       
                {% endif %}      
                <th>Observación</th>       
                <th>Estado</th>    
                <th class="text-center">Acciones</th>    
            </tr>
        </thead>
        <tbody>
            {% for serie in contexto_series %}
                <tr {% if serie.estado == 2 %}
                style="background-color: red;"
                {% endif %} >
                    <td>{{ serie.serie }}</td>
                    {% if contexto_nota_control_calidad_stock_detalle.inspeccion != 1 %} 
                        <td>{{ serie.falla_material }}</td>
                    {% endif %}  
                    <td>{{ serie.observacion }}</td>
                    <td>
                        {{ serie.get_estado_display }}
                    </td>
                    <td class="text-center text-nowrap">
                        
                        {% if contexto_nota_control_calidad_stock_detalle.inspeccion == 1 %}
                            <button data-form-url="{% url 'calidad_app:series_detalle_bueno_actualizar' serie.id %}"
                                data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% elif contexto_nota_control_calidad_stock_detalle.control_serie == False and contexto_nota_control_calidad_stock_detalle.inspeccion == 2 %}
                            <button data-form-url="{% url 'calidad_app:series_detalle_malo_sin_serie_actualizar' serie.id %}"
                                data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% else %}
                            <button data-form-url="{% url 'calidad_app:series_detalle_malo_actualizar' serie.id %}"
                                data-table-url="{% url 'calidad_app:series_detalle_tabla' contexto_nota_control_calidad_stock_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                            
                        <button data-form-url="{% url 'calidad_app:series_detalle_eliminar' serie.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
                           
        </tbody>
    </table>
</div>