{% load funciones_propias %}

<table class="table">
    <thead>
        <tr>
            <th>Sociedad</th>
            <th>Nro. Control</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>      

        </tr>
    </thead>

    <tbody>
        {% for control in contexto_control_garantia %}
       <tr>
            <td class="fondo-personalizado" style="--color-fondo: {{ control.sociedad.color }};">{{ control.sociedad.abreviatura }}</td>
            <td>{{ control.nro_calidad_garantia|numeroXn:6 }}</td>
            <td>{{ control.cliente }}</td>
            <td>{{ control.get_estado_display }}</td>
            <td class="text-nowrap text-center">
                <a href="{% url 'garantia_app:control_garantia_ver' control.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
                <button data-form-url="{% url 'garantia_app:control_garantia_eliminar' control.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </td>
        </tr>
            
        {% endfor %}
            

    </tbody>
</table>
