<h3>Teléfonos
    <button data-form-url="{% url 'proveedores_app:telefono_registrar' contexto_interlocutores.id %}"
        data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
        class="create badge bg-primary">
        Registrar Teléfono
    </button>
    <button onclick="history.back()" class="badge bg-primary">Regresar</button>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for telefono in telefonos %}
            <tr>
                <td>{{ telefono.numero }}</td>
                <td>{{ telefono.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ telefono.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if telefono.estado == 1 %}
                        <button data-form-url="{% url 'proveedores_app:telefono_actualizar' telefono.id %}"
                            data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'proveedores_app:telefono_baja' telefono.id %}"
                            data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3>Correos
    <button data-form-url="{% url 'proveedores_app:correo_registrar' contexto_interlocutores.id %}"
        data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
        class="create badge bg-primary">
        Registrar Correo
    </button>
    <button onclick="history.back()" class="badge bg-primary">Regresar</button>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for correo in correos %}
            <tr>
                <td>{{ correo.correo }}</td>
                <td>{{ correo.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ correo.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if correo.estado == 1 %}
                        <button data-form-url="{% url 'proveedores_app:correo_actualizar' correo.id %}"
                            data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'proveedores_app:correo_baja' correo.id %}"
                            data-table-url="{% url 'proveedores_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
