<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sociedad</th>
            <th>Fecha ingreso</th>

            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for datoscontratohonorarios in contexto_datoscontratohonorarios %}
        <tr>
            <td>
                {% if datoscontratohonorarios.usuario.first_name %}
                {{ datoscontratohonorarios.usuario.first_name}} {{ datoscontratohonorarios.usuario.last_name}}
                {% else %}
                {{ datoscontratohonorarios.usuario }}
                {% endif %}
            </td>
            <td>{{ datoscontratohonorarios.sociedad}}</td>
       
            </td>
            <td>{{ datoscontratohonorarios.fecha_alta|date:'d/m/Y' }}</td>


            <td>
                <button data-form-url="{% url 'colaborador_app:datos_contrato_honorarios_actualizar' datoscontratohonorarios.id %}"
                    data-table-url="{% url 'colaborador_app:datos_contrato_honorarios_tabla' %}"
                    data-modal="modal-xl"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>


                {% if datoscontratohonorarios.estado_alta_baja == 1 %}                   
                <button data-form-url="{% url 'colaborador_app:datos_contrato_honorarios_baja' datoscontratohonorarios.id %}"
                    data-table-url="{% url 'colaborador_app:datos_contrato_honorarios_tabla' %}"
                    class="update btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                </button>

                {% endif %}

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>