{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Tipo de Cambio
{% endblock titulo %}

{% block contenido %}
    <h3>Tipo de Cambio
        <button class="create badge bg-primary"
            data-form-url="{% url 'datos_globales_app:tipo_cambio_registrar' %}"
            data-table-url="{% url 'datos_globales_app:tipo_cambio_tabla' %}">
            Registrar Tipo de Cambio
        </button>
    </h3>
    
    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'datos_globales/tipo_cambio/inicio_tabla.html' %}
    </div>
    <div>
        <ul class="pagination pagination-sm justify-content-end">
            {% if contexto_pagina.has_previous %}
                <li>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.previous_page_number }}{% else %}?page={{ contexto_pagina.previous_page_number }}{% endif %}">Anterior</a></span>
                    <span>...</span>
                </li>
            {% endif %}
            <li class="">
                <span>Página {% if contexto_pagina.number %}{{ contexto_pagina.number }}{% else %} 1 {% endif %} de {% if contexto_pagina.paginator.num_pages %}{{ contexto_pagina.paginator.num_pages }}{% else %} 1.{% endif %}</span>
            </li>
            {% if contexto_pagina.has_next %}
                <li>
                    <span>...</span>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.next_page_number }}{% else %}?page={{ contexto_pagina.next_page_number }}{% endif %}">Siguiente</a></span>
                </li>
            {% endif %}
        </ul>
    </div>
    
{% endblock contenido %}