{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Tipo de Cambio
{% endblock titulo %}

{% block contenido %}
    <h3>Tipo de Cambio
        <button class="create badge bg-primary"
            data-form-url="{% url 'datos_globales_app:tipo_cambio_registrar' %}"
            data-table-url="{% url 'datos_globales_app:tipo_cambio_tabla' %}">
            Registrar Tipo de Cambio
        </button>
    </h3>
    
    <div class="table-responsive" id="tabla">
        {% include 'datos_globales/tipo_cambio/inicio_tabla.html' %}
    </div>
    
{% endblock contenido %}