<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th class="text-center">Tipo de Cambio Venta</th>
            <th class="text-center">Tipo de Cambio Compra</th>
            <th class="text-center">Ejemplo Venta</th>
            <th class="text-center">Ejemplo Compra</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo_cambio in contexto_tipo_cambio %}
        <tr>
            <td>{{ tipo_cambio.fecha|date:'d/m/Y' }}</td>
            <td class="text-center">{{ tipo_cambio.tipo_cambio_venta }}</td>
            <td class="text-center">{{ tipo_cambio.tipo_cambio_compra }}</td>
            <td class="text-center">1 {{ tipo_cambio.moneda_origen }} = {{ tipo_cambio.venta }} {{ tipo_cambio.moneda_destino }}</td>
            <td class="text-center">{{ tipo_cambio.compra }} {{ tipo_cambio.moneda_destino }} = 1 {{ tipo_cambio.moneda_origen }}</td>
            <td class="text-center">{{ tipo_cambio.updated_by }}</td>
            <td class="text-center text-nowrap">
                <button data-form-url="{% url 'datos_globales_app:tipo_cambio_actualizar' tipo_cambio.id %}"
                    data-table-url="{% url 'datos_globales_app:tipo_cambio_tabla' %}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button data-form-url="{% url 'datos_globales_app:tipo_cambio_eliminar' tipo_cambio.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>