{% extends 'base.html' %}

{% block titulo %}
    Nota Salida Validar Series
{% endblock titulo %}

{% block contenido %}
    <h3>
        <a href="{% url 'muestra_app:devolucion_muestra_detalle' contexto_devolucion_muestra_detalle.devolucion_muestra.id %}"><span class="badge bg-primary">Regresar</span></a>   
    </h3>
    <br>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-lg-4">
                    <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                    {% if field.help_text %}
                    data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                    {% endif %}
                    >
                    <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                    {% endfor %}
                </div>
                
            {% endfor %}
            <div class="col-lg-4 my-auto">
                <button type="submit" class="btn btn-success" title="Buscar">
                    <i class="bi bi-search"></i>
                </button>
                <a class="btn btn-success" href="{% url 'muestra_app:validar_series_devolucion_muestra_detalle' contexto_devolucion_muestra_detalle.id %}">Limpiar</a>
            </div>            
        </div>
    </form>
    <br>
    <button data-form-url="{% url 'material_app:series' contexto_devolucion_muestra_detalle.producto.id %}"
        class="read btn btn-primary">
        Ver series
    </button>
    <div id="tabla">
        {% include 'muestra/validar_serie_devolucion_muestra/detalle_tabla.html' %}
    </div>
{% endblock contenido %}


{% block extrajs %}
<script>
    window.onload = function(){
        setTimeout(() => {
            document.getElementById("id_serie").focus();
        }, 500);
    }
</script>    
{% endblock extrajs %}
    