<h3>Teléfonos
    <button data-form-url="{% url 'clientes_app:telefono_interlocutor_registrar' contexto_interlocutores.id %}"
        data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
        class="create badge bg-primary">
        Registrar Teléfono
    </button>
    <a href="{% url 'clientes_app:interlocutor_lista' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Teléfono</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for telefono in telefonos %}
            <tr>
                <td>{{ telefono.numero }}</td>
                <td>{{ telefono.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ telefono.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if telefono.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:telefono_interlocutor_actualizar' telefono.id %}"
                            data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'clientes_app:telefono_interlocutor_baja' telefono.id %}"
                            data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>Correos
    <button data-form-url="{% url 'clientes_app:correo_interlocutor_registrar' contexto_interlocutores.id %}"
        data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
        class="create badge bg-primary">
        Registrar Correo
    </button>
    <a href="{% url 'clientes_app:interlocutor_lista' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for correo in correos %}
            <tr>
                <td>{{ correo.correo }}</td>
                <td>{{ correo.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ correo.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if correo.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:correo_interlocutor_actualizar' correo.id %}"
                            data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'clientes_app:correo_interlocutor_baja' correo.id %}"
                            data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<h3>Empresas
    <button data-form-url="{% url 'clientes_app:cliente_interlocutor_agregar' contexto_interlocutores.id %}"
        data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
        class="create badge bg-primary">
        Agregar Relación
    </button>
    <a href="{% url 'clientes_app:interlocutor_lista' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Documento</th>
                <th>Tipo de Interlocutor</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente_interlocutor in contexto_interlocutores.ClienteInterlocutor_interlocutor.all %}
            <tr>
                <td>{{ cliente_interlocutor.cliente.razon_social }}</td>
                <td>{{ cliente_interlocutor.cliente.get_tipo_documento_display }}: {{ cliente_interlocutor.cliente.numero_documento }}</td>
                <td>{{ cliente_interlocutor.tipo_interlocutor }}</td>
                <td>{{ cliente_interlocutor.cliente.get_estado_sunat_display }}</td>
                <td class="text-center text-nowrap">
                    <a href="{% url 'clientes_app:cliente_detalle' cliente_interlocutor.cliente.id %}"
                        class="btn btn-success btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Cliente">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    <button data-form-url="{% url 'clientes_app:cliente_interlocutor_actualizar' cliente_interlocutor.id %}"
                        data-table-url="{% url 'clientes_app:interlocutor_detalle_tabla' contexto_interlocutores.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button data-form-url="{% url 'clientes_app:cliente_interlocutor_eliminar' contexto_interlocutores.id cliente_interlocutor.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
