{% extends 'includes/modal generico.html' %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Documento</th>
                <th>Movimiento</th>
                <th>Tipo Movimiento</th>
                <th>Tipo Stock</th>
                <th>Sociedad</th>
                <th>Almacén</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>    
{% endblock content %}
    