{% extends 'includes/modal generico.html' %}
{% load funciones_propias %}
{% load humanize %}

{% block content %}

{% for sociedad, stocks in stocks.items %}
    <h3>
        {% if sociedad %}
        {{ sociedad }}    
        {% else %}
        SIN SOCIEDAD
        {% endif %}
    </h3>
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Almacén/Estado</th>
                    {% for estado in estados %}
                    <th>{{ estado.descripcion }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for almacen, fila in stocks.0.items %} 
                <tr>
                    {% for columna in fila %}
                    
                    {% if forloop.first %}
                    <th>
                        {% if columna %}
                        {{ columna }}    
                        {% else %}
                        Sin Almacén
                        {% endif %}
                    </th>
                    {% elif forloop.last %}
                    <th class="text-end">{{ columna|redondear|intcomma }}</th>
                    {% else %}
                    <td class="text-end">{{ columna|redondear|intcomma }}</td>
                    {% endif %}
                        
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% for columna in stocks.1 %}
                    
                    {% if forloop.first %}
                    <th>{{ columna }}</th>
                    {% else %}
                    <th class="text-end">{{ columna|redondear|intcomma }}</th>
                    {% endif %}
                        
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endfor %}
{% endblock content %}
    