{% extends 'includes/modal generico.html' %}
{% load funciones_propias %}
{% load humanize %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Documento</th>
                <th>Movimiento</th>
                <th>Tipo Movimiento</th>
                <th>Tipo Stock</th>
                <th>Sociedad</th>
                <th>Almacén</th>
                <th>Movimiento Anterior</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %} 
            <tr>
                <td>{{ movimiento.id }}</td>
                <td>{{ movimiento.documento_proceso.fecha|date:'d/m/Y' }}</td>
                <td style="min-width: 250px;">{{ movimiento.content_type_documento_proceso.name }} - {{ movimiento.documento_proceso }}</td>
                <td class="text-end">{{ movimiento.valor|redondear|intcomma }}</td>
                <td class="text-nowrap">{{ movimiento.tipo_movimiento }}</td>
                <td class="text-nowrap">{{ movimiento.tipo_stock }}</td>
                <td>{{ movimiento.sociedad }}</td>
                <td>
                    {% if movimiento.almacen %}
                    {{ movimiento.almacen }}
                    {% endif %}
                </td>
                <td>
                    {% if movimiento.movimiento_anterior %}
                    {{ movimiento.movimiento_anterior }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">{{ total|redondear|intcomma }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>    

{% endblock content %}
    