{% extends 'includes/base login.html' %}
{% load static %}

{% block title %}
    Iniciar Sesión
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 login mx-auto">
            <h1>Bienvenido</h1>

            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
        
                {% for field in form  %}
                    <div class="input-group flex-nowrap mt-3{% if field.errors %} invalid{% endif %}"
                        {% if field.help_text %}
                        data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                        {% endif %}
                        >
                        
                        {% if 'Boton' not in field.label %}
                            <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}
                        {{ field }}

                        {% if field.label == 'Contraseña'%}
                            <button type="button" class="btn btn-info input-group-text">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        {% endif %}
                    </div>

                    {% for error in field.errors %}
                      <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                    {% endfor %}
                    
                {% endfor %}                 

                <input class="col-12 mt-2 btn btn-primary" type="submit" value="Login">
                <a href="{% url 'home_app:olvide_contraseña' %}" class="col-12 mt-2 btn btn-info">Olvidé mi contraseña</a>
            </form>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/usuario/datos_usuario/cambio_contraseña.js' %}" ></script>
{% endblock extrajs %}

