{% extends 'base.html' %}
{% load static %}

{% block title %}
    Panel de trabajo
{% endblock title %}

{% block contenido %}
    <h1>Bienvenido {{ user.username }}</h1>
    
    {% if request.user.is_superuser or request.user.DatosUsuario_usuario.es_jefe_ventas %}
    <select name="usuarios" id="usuarios" class="form-control">
        <option value="">Seleccionar usuario</option>
        {% for usuario in usuarios %}
            
            {% if request.user.id == usuario.id %}
                <option value="{{ usuario.id }}" selected>{{ usuario.username }}</option>
            {% else %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>                
            {% endif %}
        {% endfor %}
    </select>    
    <h3>Dashboard de <span id='usuario_seleccionado'>{{ request.user.username }}</span></h3>
    {% endif %}
    <input type="hidden" id="usuario_id" name="usuario_id" value="{{ request.user.id }}">
    <input type="hidden" id="usuario_nombre" name="usuario_nombre" value="{{ request.user.username }}">

    {% if request.user.is_superuser or request.user.DatosUsuario_usuario.es_ventas %}
    <div class="row">
        <div class="col">
            <label for="fecha_inicio">
                Fecha de inicio:
            </label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}">
        </div>
        <div class="col">
            <label for="fecha_fin">
                Fecha de fin:
            </label>
            <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
        </div>
    </div>
    <div id="dashboard">
        {% include 'home/dashboard.html' %}
    </div>
    {% endif %}
        
    
{% endblock contenido %}
    
{% block extrajs %}
    <script src="{% static 'js/home/panel/panel.js' %}?{{ cache_bust }}" ></script>
{% endblock extrajs %}