{% load widget_tweaks %}
{% load static %}

<form id="formulario" action="" enctype="multipart/form-data" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <h3>{{ accion }} {{ titulo }}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Cliente:  <h5>{{cliente}}</h5>

        {% if nro_boleta %}
        N° Documento:  <h5>{{nro_boleta}}</h5>
        {% endif %}
            
        {% if nro_factura %}
        N° Documento:  <h5>{{nro_factura}}</h5>
        {% endif %}
            
        {% include 'includes/formulario.html' %}    

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-primary-submit">Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>

