{% load funciones_propias %}
{% load humanize %}

<h3>Detalle Cotización Confirmada</h3>

<div class="row mt-3">
    {% if permiso_venta %}
    
    <div class="col-auto">
        <a href="{% url 'cotizacion_app:confirmacion_cotizacion_inicio' cotizacion.id %}" class="btn btn-primary">Regresar</a>
    </div>

    <div class="col-auto">
        <a href="{% url 'cotizacion_app:cotizacion_venta_pdf' confirmacion.sociedad.abreviatura cotizacion.slug  %}" target="_blank" class="btn btn-primary">PDF</a>
    </div>

    <div class="col-auto ms-auto row">
        <div class="col-auto">
            <a href="{% url 'cotizacion_app:cotizacion_venta_ver' cotizacion.id  %}" class="btn btn-primary">Cotización</a>
        </div>
        
            {% if confirmacion.estado != 3 %}

                {% if confirmacion.cliente.estado_sunat == 1 and confirmacion.cliente.condicion_sunat == 1 %}

                    
                    {% if not id_boleta %}
                            
                        {% if confirmacion.cliente.tipo_documento == '6' %}
                        
                            {% if id_factura %}

                                {% if confirmacion.sunat_transaction == 1 %}
                                <div class="col-auto">
                                    <a href="{% url 'comprobante_venta_app:factura_venta_detalle' id_factura %}"
                                    class="btn btn-success">
                                        Ver Factura
                                    </a>
                                </div>
                                {% else %}
                                <div class="col-auto">
                                    <a href="{% url 'comprobante_venta_app:factura_venta_detalle' id_factura %}"
                                    class="btn btn-success">
                                        Ver Factura
                                    </a>
                                </div>
                                
                                    {% if id_factura_anticipo %}
                                    <div class="col-auto">
                                        <a href="{% url 'comprobante_venta_app:factura_venta_detalle' id_factura_anticipo %}"
                                        class="btn btn-success">
                                            Ver Factura Anticipada
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="col-auto">
                                        <button data-form-url="{% url 'comprobante_venta_app:factura_venta_anticipo_regularizar_crear' confirmacion.id %}"
                                            class="delete btn btn-primary">
                                            REGULARIZAR FACTURA ANTICIPO
                                        </button>
                                    </div>
                                    {% endif %}
                                    
                                {% endif %}
                                
                            {% else %}
                            
                                {% if confirmacion.sunat_transaction == 1 %}
                                <div class="col-auto">
                                    <button data-form-url="{% url 'comprobante_venta_app:factura_venta_crear' confirmacion.id %}"
                                        class="delete btn btn-primary">
                                        FACTURA
                                    </button>
                                </div>
                                {% else %}
                                <div class="col-auto">
                                    <button data-form-url="{% url 'comprobante_venta_app:factura_venta_anticipo_crear' confirmacion.id %}"
                                        class="delete btn btn-primary">
                                        FACTURA ANTICIPADA
                                    </button>
                                </div>
                                {% endif %}
                                
                            {% endif %}
                        
                        {% endif %}

                    {% endif %}

                    {% if not id_factura and confirmacion.sunat_transaction == 1 %}
                    
                        {% if id_boleta %}
                        <div class="col-auto">
                            <a href="{% url 'comprobante_venta_app:boleta_venta_detalle' id_boleta %}"
                            class="btn btn-success">
                                Ver Boleta
                            </a>
                        </div>
                        {% else %}
                        <div class="col-auto">
                            <button data-form-url="{% url 'comprobante_venta_app:boleta_venta_crear' confirmacion.id %}"
                                class="delete btn btn-primary">
                                BOLETA
                            </button>
                        </div>
                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endif %}

        {% endif %}
        
        {% if permiso_logistica %}
        <div class="col-auto">
            <button data-form-url="{% url 'cotizacion_app:confirmacion_nota_salida' confirmacion.id %}"
                class="delete btn btn-primary">
                Generar Nota de Salida
            </button>
        </div>
        
        {% if confirmacion.NotaSalida_confirmacion_venta.all %}
        <div class="col-auto">
            <a href="{% url 'logistica_app:nota_salida_confirmacion' confirmacion.id %}" class="delete btn btn-primary">
                Ver Notas de Salida
            </a>
        </div>
        {% endif %}

        {% endif %}
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Razón Social:</th>
                    <td>{{ confirmacion.cliente.razon_social }}</td>
                    <td class="ps-2" rowspan="4">
                        {% if confirmacion.estado == 1 or confirmacion.estado == 5 %}
                        <button data-form-url="{% url 'cotizacion_app:confirmacion_cliente' confirmacion.id %}"
                            data-table-url="{% url 'cotizacion_app:confirmacion_ver_tabla' confirmacion.id %}"
                            class="update btn btn-primary" title="Seleccionar Cliente">
                            Seleccionar Cliente
                        </button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">{{ confirmacion.cliente.documento }}:</th>
                    <td>
                        {% if confirmacion.cliente.numero_documento %}
                        {{ confirmacion.cliente.numero_documento }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Interlocutor:</th>
                    <td>
                        {% if confirmacion.cliente_interlocutor %}
                        {{ confirmacion.cliente_interlocutor }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Correos:</th>
                    <td>
                        {% if confirmacion.cliente.correos %}
                        {{ confirmacion.cliente.correos }}   
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Estado:</th>
                    <td>
                        {% if confirmacion.cliente %}
                        {{ confirmacion.cliente.get_estado_sunat_display }} - {{ confirmacion.cliente.get_condicion_sunat_display }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Fecha:</th>
                    <td>{{ cotizacion.fecha_cotizacion|date:'d/m/Y' }}</td>
                    <th class="px-2">Tipo de Cambio:</th>
                    <td>
                        {% if tipo_cambio %}
                        {{ tipo_cambio }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">N° Cotización:</th>
                    <td>
                        {% if cotizacion.numero_cotizacion %}
                        {{ confirmacion.sociedad.abreviatura }}{{ cotizacion.numero_cotizacion|numeroXn:6 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Estado Cotización:</th>
                    <td>{{ cotizacion.get_estado_display }}</td>
                    <th class="px-2">Estado Confirmación:</th>
                    <td>{{ confirmacion.get_estado_display }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Transacción:</th>
                    <td>{{ confirmacion.get_sunat_transaction_display }}</td>
                    
                    {% if confirmacion.estado == 1 or confirmacion.estado == 5 %}
                    <td class="px-2" rowspan="2">
                        {% if confirmacion.ConfirmacionOrdenCompra_confirmacion_venta %}
                        <button data-form-url="{% url 'cotizacion_app:confirmacion_orden_compra' confirmacion.id confirmacion.ConfirmacionOrdenCompra_confirmacion_venta.id %}"
                            data-table-url="{% url 'cotizacion_app:confirmacion_ver_tabla' confirmacion.id %}"
                            data-modal="modal-xl"
                            class="update btn btn-primary">
                            Orden de Compra
                        </button>
                        {% else %}
                        <button data-form-url="{% url 'cotizacion_app:confirmacion_orden_compra' confirmacion.id %}"
                            data-table-url="{% url 'cotizacion_app:confirmacion_ver_tabla' confirmacion.id %}"
                            class="update btn btn-primary">
                            Orden de Compra
                        </button>
                        {% endif %}
                    </td>
                    {% if confirmacion.ConfirmacionOrdenCompra_confirmacion_venta %}
                    <td class="px-2" rowspan="2">
                        <button data-form-url="{% url 'cotizacion_app:confirmacion_orden_compra_eliminar' confirmacion.id confirmacion.ConfirmacionOrdenCompra_confirmacion_venta.id %}"
                            class="delete btn btn-danger">
                            Eliminar Orden
                        </button>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <th class="pe-2">Orden de Compra:</th>
                    <td>{{ confirmacion.ConfirmacionOrdenCompra_confirmacion_venta }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if permiso_venta %}
<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Línea de crédito:</th>
                    <td class="text-end">{{ confirmacion.cliente.linea_credito_moneda_simbolo }} {{ confirmacion.cliente.linea_credito_monto|intcomma }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Crédito temporal:</th>
                    <td class="text-end">{{ confirmacion.cliente.linea_credito_moneda_simbolo }} {{ credito_temporal|intcomma }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Deuda:</th>
                    <td class="text-end">{{ confirmacion.cliente.linea_credito_moneda_simbolo }} {{ confirmacion.cliente.deuda_monto|intcomma }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Disponible:</th>
                    <td class="text-end">{{ confirmacion.cliente.linea_credito_moneda_simbolo }} {{ disponible|intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Tipo de Venta:</th>
                    <td>{{ confirmacion.get_tipo_venta_display }}</td>
                    <td class="ps-2" rowspan="2">
                        {% if confirmacion.cliente.linea_credito_monto != 0 %}
                            {% if confirmacion.estado == 1 or confirmacion.estado == 5 %}
                            <button data-form-url="{% url 'cotizacion_app:confirmacion_forma_pago' confirmacion.id %}"
                                data-table-url="{% url 'cotizacion_app:confirmacion_ver_tabla' confirmacion.id %}"
                                class="update btn btn-primary">
                                Cambiar Forma de Pago
                            </button>
                            {% endif %}
                            {% if confirmacion.tipo_venta == 2 %}
                            <a href="{% url 'cotizacion_app:confirmacion_cuotas' confirmacion.id %}"
                            class="update btn btn-warning">
                                Cuotas
                            </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Condición de Pago:</th>
                    <td>
                        {% if confirmacion.condiciones_pago %}
                        {{ confirmacion.condiciones_pago }}
                        {% endif %}
                    </td>
                </tr>
                {% if confirmacion.tipo_venta == 2 %}
                <tr>
                    <th class="pe-2">Cuotas:</th>
                    <td>
                        {% for cuota in confirmacion.ConfirmacionVentaCuota_confirmacion_venta.all %}
                        {% if forloop.counter > 1 %}
                        |
                        {% endif %}

                        {{ cuota.dias_calculo }}
                            
                        {% endfor %}    
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="row mt-3">
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ confirmacion.sociedad.color }};">OBSERVACIONES {{ confirmacion.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if confirmacion.observacion %}
                        {{ confirmacion.observacion|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead class="fondo-personalizado" style="--color-fondo: {{ confirmacion.sociedad.color }};">
            <tr>
                <th>Item</th>
                <th style="min-width: 500px;">Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                {% if permiso_venta %}
                <th class="text-nowrap">Prec. Unit.<br>sin IGV </th>
                <th class="text-nowrap">Prec. Unit.<br>con IGV </th>
                <th class="text-nowrap">Prec. Final<br>con IGV</th>
                <th>Descuento</th>
                <th class="text-nowrap">Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                {% endif %}
                <th class="text-center">Vendible</th>
                <th class="text-center">Calidad</th>
                <th class="text-center">Stock</th>
                <th class="text-center">En Camino</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td style="min-width: 500px;">{{ material.material.descripcion_documento }}</td>
                    <td class="text-nowrap">{{ material.material.unidad_base }}</td>
                    <td class="text-end text-nowrap">{{ material.cantidad|redondear|intcomma }}</td>
                    {% if permiso_venta %}
                    <td class="text-end text-nowrap">$ {{ material.precio_unitario_sin_igv|redondear:3|intcomma }}</td>
                    <td class="text-end text-nowrap">$ {{ material.precio_unitario_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap table-secondary">$ {{ material.precio_final_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">$ {{ material.descuento|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">$ {{ material.sub_total|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">$ {{ material.igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">$ {{ material.total|redondear|intcomma }}</td>
                    {% endif %}
                    <td class="text-end text-nowrap table-primary">
                        {{ material.material.vendible|redondear|intcomma }}
                        {% if material.material.reservado %}
                        <br>
                        <span class="text-danger">
                            (-{{ material.material.reservado|redondear|intcomma }})
                        </span>
                        {% endif %}
                    </td>
                    <td class="text-end text-nowrap table-primary">{{ material.material.calidad|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap table-primary">{{ material.material.stock|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap table-primary">{{ material.material.en_camino|redondear|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
        {% if permiso_venta %}
        <tfoot>
            <tr>
                <td colspan="10" class="text-end">
                    Descuento Global:
                </td>
                <td class="text-end text-nowrap">$ {{ totales.descuento_global|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.descuento_global|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Descuento Total:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_descuento|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_descuento|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Anticipo:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_anticipo|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_anticipo|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Exonerada:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_exonerada|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_exonerada|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Inafecta:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_inafecta|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_inafecta|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Gravada:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_gravada|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_gravada|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">IGV:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_igv|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_igv|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Gratuita:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_gratuita|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_gratuita|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Otros Cargos:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_otros_cargos|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_otros_cargos|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">ICBPER:</td>
                <td class="text-end text-nowrap">$ {{ totales.total_icbper|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total_icbper|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Total:</td>
                <td class="text-end text-nowrap">$ {{ totales.total|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">S/ {{ totales_soles.total|redondear|intcomma }}</td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>
