{% extends 'includes/modal generico.html' %}

{% block content %}
{% load funciones_propias %}
{% load humanize %}
<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Razón Social:</th>
                    <td>{{ confirmacion.cliente.razon_social }}</td>
                </tr>
                <tr>
                    <th class="pe-2">{{ confirmacion.cliente.documento }}:</th>
                    <td>
                        {% if confirmacion.cliente.numero_documento %}
                        {{ confirmacion.cliente.numero_documento }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Interlocutor:</th>
                    <td>
                        {% if confirmacion.cliente_interlocutor %}
                        {{ confirmacion.cliente_interlocutor }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">N° Cotización:</th>
                    <td>{{ confirmacion.sociedad.abreviatura }} {{ confirmacion.cotizacion_venta.numero_cotizacion|numeroXn:6 }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Solicitud de Crédito:</th>
                    <td>{{ confirmacion.moneda.simbolo }} {{ confirmacion.total|intcomma }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Condición de Pago:</th>
                    <td>
                    {% if confirmacion.condiciones_pago %}    
                    {{ confirmacion.condiciones_pago }}
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th class="text-end">#</th>
                <th class="text-end">Monto</th>
                <th class="text-end">Días de pago</th>
                <th class="text-center">Fecha de pago</th>
            </tr>
        </thead>
        <tbody>
            {% for cuota in confirmacion.ConfirmacionVentaCuota_confirmacion_venta.all %}
                <tr>
                    <td class="text-end">{{ forloop.counter }}</td>
                    <td class="text-end text-nowrap">{{ confirmacion.moneda.simbolo }} {{ cuota.monto }}</td>
                    <td class="text-end">{{ cuota.dias_mostrar }}</td>
                    <td class="text-center">{{ cuota.fecha_mostrar|date:'d/m/Y' }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="text-end">Total:</th>
                <td class="text-end text-nowrap">
                    {% if total %}
                    {{ confirmacion.moneda.simbolo }} {{ total|redondear|intcomma }}
                    {% endif %}
                </td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock content %}
    