{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
Confirmaciones
{% endblock titulo %}

{% block contenido %}
    <h3>Confirmaciones</h3>

    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Nro Cotización</th>
                    <th>Cliente</th>
                    <th>Fecha Confirmación</th>
                    <th>Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for confirmacion in contexto_cotizacion_venta %}
                
                {% if not confirmacion.NotaSalida_confirmacion_venta.all %}
                    <tr>
                        <td class="text-nowrap">
                            {{ confirmacion.sociedad.abreviatura }}{{ confirmacion.cotizacion_venta.numero_cotizacion|numeroXn:6 }}
                        </td>
                        <td>{{ confirmacion.cliente }}</td>
                        <td>{{ confirmacion.cotizacion_venta.fecha|date:'d/m/Y' }}</td>
                        <td>{{ confirmacion.get_estado_display }}</td>
                        <td class="text-center">
                            <a href="{% url 'cotizacion_app:confirmacion_ver' confirmacion.id %}"
                                class="btn btn-info btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endif %}

                {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock contenido %}