{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
Confirmaciones
{% endblock titulo %}

{% block contenido %}
    <h3>Confirmaciones</h3>

    <form id="formulario" action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
    </form>

    {% include 'includes/paginador.html' %}

    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Nro Cotización</th>
                    <th>Cliente</th>
                    <th>Fecha Confirmación</th>
                    <th>Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for confirmacion in contexto_cotizacion_venta %}
                
                {% if not confirmacion.NotaSalida_confirmacion_venta.all %}
                    <tr>
                        <td class="text-nowrap">
                            {{ confirmacion.sociedad.abreviatura }}{{ confirmacion.cotizacion_venta.numero_cotizacion|numeroXn:6 }}
                        </td>
                        <td>{{ confirmacion.cliente }}</td>
                        <td>{{ confirmacion.cotizacion_venta.fecha|date:'d/m/Y' }}</td>
                        <td>{{ confirmacion.get_estado_display }}</td>
                        <td class="text-center">
                            <a href="{% url 'cotizacion_app:confirmacion_ver' confirmacion.id %}"
                                class="btn btn-info btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endif %}

                {% endfor %} 
            </tbody>
        </table>
    </div>
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}

{% block extrajs %}
    <script>
        $(function () {

            $("#id_cliente").select2({
                width: '100%',
                matcher: buscar_select2
            });
            
        });

        function select_form() {
            combos = document.getElementsByClassName('select2');
            for (let index = 0; index < combos.length; index++) {
                const element = combos[index];
                element.className = element.className.replace('select2-container--default select2-container--focus', 'form-control');
                element.className = element.className.replace('select2-container--default', 'form-control');
                element.className = element.className.replace('select2-container--focus', '');
                element.className = element.className.replace('select2-selection--single', '');
            }
        }

        setTimeout(() => {
            select_form();
        }, 500);
    </script>
{% endblock extrajs %}