<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Creado por</th>
            <th>Fecha de Registro</th>
            <th>Estado</th>
            <th style="text-align: center;">Acciones</th>

        </tr>
    </thead>

    <tbody>
        
        {% for solicitud in contexto_solicitudes %}
        <tr>
            <td>{{ solicitud.titulo }}</td>
            <td>{{ solicitud.created_by }}</td>
            <td>{{ solicitud.created_at|date:'d/m/Y' }}</td>
            <td>{{ solicitud.get_estado_display }}</td>
            <td class="text-center text-nowrap">
            <button data-form-url="{% url 'soporte_app:solicitud_actualizar' solicitud.id %}"
                data-table-url="{% url 'soporte_app:solicitud_tabla' %}"
                data-keep-open="true"
                class="update btn btn-warning btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                <i class="bi bi-pencil-fill"></i>
            </button>
            
            {% if solicitud.estado == 1 %}
            <button data-form-url="{% url 'soporte_app:solicitud_eliminar' solicitud.id %}"
                class="delete btn btn-danger btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                <i class="bi bi-x-lg"></i>
            </button>
            {% endif %}


            <a href="{% url 'soporte_app:solicitud_detalle' solicitud.id %}"
                class="btn btn-info btn-sm"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">
                <i class="bi bi-eye-fill"></i>
            </a>

            </td>
        </tr>
            
        {% endfor %}
            

    </tbody>
</table>
