{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Línea de Crédito
{% endblock titulo %}

{% block contenido %}
    <h3> Línea de Credito
        <button class="create badge bg-primary"
            data-form-url="{% url 'cobranza_app:linea_credito_registrar' %}"
            data-table-url="{% url 'cobranza_app:linea_credito_inicio' %}">
            Registrar Linea de Crédito
        </button>    
    </h3>

    <div class="table-responsive" id="tabla">
        {% include 'cobranza/linea_credito/inicio_tabla.html' %}
    </div>

{% endblock contenido %}

linea_credito_registrar