auto-py-to-exe
wheel
Django==3.2.12
unipath
Pillow
psycopg2-binary
django-phonenumber-field
django-widget-tweaks
django-colorfield
django-bootstrap-modal-forms
phonenumbers
dataclasses
simplejson
requests
django-cleanup
reportlab
openpyxl
django-import-export
python-slugify
django-resized
pandas
# plotly==5.24.0
plotly
django_crontab
django-background-tasks
pywhatkit