<table class="table">
    <thead>
        <tr>
            <th>Sociedad</th>
            <th>Nombre</th>
            <th>Usuario Responsable</th>
            <th>Dirección</th>
            <th>Ubigeo</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for sede in contexto_sede %}
        <tr>
            <td>
                {% for sociedad in sede.sociedad.all %}
                <li>
                    {{ sociedad }}
                </li>
                {% endfor %}
            </td>
            <td>{{ sede.nombre }}</td>
            <td>{{ sede.usuario_responsable }}</td>
            <td>{{ sede.direccion }}</td>
            <td>{{ sede.ubigeo }}</td>
            <td>{{ sede.get_estado_display }}</td>
            <td class="text-center text-nowrap">
                <button data-form-url="{% url 'sede_app:sede_actualizar' sede.id %}"
                    data-table-url="{% url 'sede_app:sede_tabla' %}"
                    data-modal="modal-xl"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                {% if sede.estado == 1 %}
                    <button data-form-url="{% url 'sede_app:sede_baja' sede.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
                {% elif sede.estado == 2 %}
                    <button data-form-url="{% url 'sede_app:sede_alta' sede.id %}"
                        class="delete btn btn-success btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>