{% load funciones_propias %}
{% load humanize %}

<table class="table">
    <thead>
        <tr>
            <th>Fecha Pagar</th>
            <th>Recibo</th>
            <th>Fecha de Pago</th>
            <th class="text-end text-nowrap">Monto</th>
            <th class="text-end text-nowrap">Monto Pagado</th>
            <th>Creado por</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for recibo_boleta_pago in contexto_recibo_boleta_pago %}
        <tr>
            <td>{{ recibo_boleta_pago.fecha_pagar|date:'d/m/Y' }}</td>
            <td>{{ recibo_boleta_pago }} </td>
            <td>{{ recibo_boleta_pago.fecha_pago|date:'d/m/Y' }}</td>
            <td class="text-end text-nowrap">{{ recibo_boleta_pago.boleta_pago.datos_planilla.moneda.simbolo }} {{ recibo_boleta_pago.monto|redondear|intcomma }}</td>
            <td class="text-end text-nowrap">{{ recibo_boleta_pago.boleta_pago.datos_planilla.moneda.simbolo }} {{ recibo_boleta_pago.monto_pagado|redondear|intcomma }}</td>
            <td>{{ recibo_boleta_pago.created_by }}</td>
            <td>
                <button data-form-url="{% url 'contabilidad_app:recibo_boleta_pago_actualizar' recibo_boleta_pago.id %}"
                    data-table-url="{% url 'contabilidad_app:recibo_boleta_pago_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-modal="modal-xl"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button data-form-url="{% url 'contabilidad_app:recibo_boleta_pago_eliminar' recibo_boleta_pago.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi-x-lg"></i>
                </button>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>