{% load funciones_propias %}
{% load humanize %}

<table class="table">
    <thead>
        <tr>
            <th>Nro. Boleta</th>
            <th>Cliente</th>
            <th>Fecha Emision</th>
            <th class="text-end">Total</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>

        </tr>
    </thead>

    <tbody>
        {% for boleta_venta in contexto_pagina %}
        <tr class="{% if boleta_venta.estado == 3 %}text-danger text-decoration-line-through{% endif %}">
            <td class="text-nowrap">{{ boleta_venta.serie_comprobante }}-{{ boleta_venta.numero_boleta|numeroXn:6 }}</td>
            <td>{{ boleta_venta.cliente }}</td>
            <td>{{ boleta_venta.fecha_emision|date:'d/m/Y' }}</td>
            <td class="text-end text-nowrap">{{ boleta_venta.moneda.simbolo }} {{ boleta_venta.total|redondear|intcomma }}</td>
            <td>{{ boleta_venta.get_estado_display }}</td>
            <td class="text-center text-nowrap">
                <a href="{% url 'comprobante_venta_app:boleta_venta_detalle' boleta_venta.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
