<div class="row">
    <div class="table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">Sociedad:</th>
                    <td>{{ contexto_cambio_sociedad_stock_detalle.cambio_sociedad_stock.sociedad}}</td>
                    <th class="px-2">Almacén:</th>
                    <td>{{ contexto_cambio_sociedad_stock_detalle.almacen }}</td>
                    <th class="px-2">Producto:</th>
                    <td>{{ contexto_cambio_sociedad_stock_detalle.producto}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nro. de Serie</th>         
                <th>Estado</th>    
                <th>Almacén</th>    
                <th class="text-center">Acciones</th>    
            </tr>
        </thead>
        <tbody>
            {% for validacion in contexto_series %}
                <tr class="fondo-personalizado"
                {% if contexto_cambio_sociedad_stock_detalle.almacen != validacion.serie.almacen %}
                style="--color-fondo: red"
                {% endif %}
                >
                    {% if validacion.serie %}
                    <td> 
                        {{ validacion.serie}} 
                    </td>
                    {% endif %}
                    <td>{{ validacion.serie.estado }}</td>
                    <td>{{ validacion.serie.almacen }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_cambio_sociedad_stock_detalle.cambio_sociedad_stock.estado == 1 %}
                            <button data-form-url="{% url 'cambio_sociedad_app:validar_series_cambio_sociedad_stock_detalle_eliminar' validacion.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi-x-lg"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                           
        </tbody>
    </table>
</div>