{% extends 'includes/formulario generico.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'js/garantia/ingreso_garantia/form_cliente.js' %}"></script>

    <script>
        $(function () {

            $("#id_cliente").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });

            $("#id_cliente_interlocutor").select2({
                width:'100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2

            });

        });
    </script>

{% endblock js %}
