{% load funciones_propias %}

<table class="table">
    <thead>
        <tr>
            <th>Sociedad</th>
            <th>Nro. Ingreso</th>
            <th>Cliente</th>
            <th>Fecha de Ingreso</th>
            <th>Estado</th>

        </tr>
    </thead>

    <tbody>
        {% for ingreso in contexto_ingreso_garantia %}
       <tr>
            <td class="fondo-personalizado" style="--color-fondo: {{ ingreso.sociedad.color }};">{{ ingreso.sociedad.abreviatura }}</td>
            <td>{{ ingreso.nro_ingreso_garantia|numeroXn:6 }}</td>
            <td>{{ ingreso.cliente }}</td>
            <td>{{ ingreso.fecha_ingreso|date:'d/m/Y' }}</td>
            <td>{{ ingreso.get_estado_display }}</td>

        </tr>
            
        {% endfor %}
            

    </tbody>
</table>
