{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Ingreso Reclamo Garantía
{% endblock titulo %}

{% block contenido %}
    <h3>Ingreso Reclamo Garantía</h3>
    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
    </form>

    <div class="table-responsive" id="tabla">
        {% include 'garantia/ingreso_garantia/inicio_tabla.html' %}
    </div>
    {% include 'includes/paginador inferior.html' %}
{% endblock contenido %}

