{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}

{% block titulo %}
    Series Ingreso Reclamo Garantía Detalle
{% endblock titulo %}

{% block contenido %}
<h3>Series Ingreso Reclamo Garantía Detalle</h3>

<form action="" method="get" autocomplete="off">
    {% include 'includes/formulario lineal.html' %}
    <button type="submit" class="btn btn-success" title="Buscar">
        <i class="bi bi-search"></i>
    </button>
    <a href="{{ regresar }}" class="btn btn-danger">Regresar</a>
    {{ serie_encontrada }}
    
    {% if serie_encontrada == 'Serie antigua' %}
    <a href="{% url 'calidad_app:serie_buscar' %}?serie={{request.GET|get_diccionario:'serie_base'}}"
    target="_blank"
    class="btn btn-info">
        Buscar Serie
    </a>
    {% endif %}
        
</form>

<div id="tabla">
    {% include 'garantia/ingreso_garantia/serie_tabla.html' %}
</div>
{% endblock contenido %}