{% load funciones_propias %}
{% load humanize %}

{% if ingreso_reclamo_garantia_detalle %}
<div class="input-group flex-nowrap mt-3">
    <label class="input-group-text">Cantidad Ingresada</label>
    <input type="text" class="form-control" value="{{ ingreso_reclamo_garantia_detalle.cantidad|redondear|intcomma }}" style="max-width: 150px;">
    <label class="input-group-text ms-auto">Series Registradas</label>
    <input type="text" class="fondo-personalizado form-control" value="{{ ingreso_reclamo_garantia_detalle.series|redondear|intcomma }}" style="max-width: 150px; 
    {% if ingreso_reclamo_garantia_detalle.series != ingreso_reclamo_garantia_detalle.cantidad %}
    --color-fondo:red;
    {% else %}
    --color-fondo:green;
    {% endif %}
    ">
</div>
{% endif %}

{% if cantidad_series %}
<div class="input-group flex-nowrap mt-3">
    <label class="input-group-text ms-auto">Series Registradas</label>
    <input type="text" class="fondo-personalizado form-control" value="{{ cantidad_series|redondear|intcomma }}" style="max-width: 150px;">
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Serie</th>
            <th>Material</th>
            <th>Cliente</th>
            <th>Documento</th>
            <th>Fecha</th>
            <th>Almacén</th>
            <th>Sociedad</th>
            <th>Comentario</th>
            <th>Estado</th>
            <th class="text-nowrap text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for serie in series %}
        <tr>
            <td>{{ serie.serie }}</td>
            <td>{{ serie.ingreso_reclamo_garantia_detalle.producto }}</td>
            <td>
                {% if serie.documento %}
                {{ serie.documento.cliente }}
                {% endif %}
            </td>
            <td class="text-nowrap">
                {% if serie.documento %}
                {{ serie.documento.descripcion }}
                {% endif %}
            </td>
            <td class="text-nowrap">
                {% if serie.documento %}
                {{ serie.documento.fecha|date:'d/m/Y' }}
                {% endif %}
                
                {% if serie.documento.fecha|estado_garantia %}
                <br>
                <span style="color: red;">Fuera de Garantía</span>
                {% endif %}
            </td>
            <td>
                {% if serie.serie.almacen %}
                {{ serie.serie.almacen }}
                {% endif %}
            </td>
            <td>{{ serie.serie.sociedad }}</td>
            <td>
                {% if serie.comentario %}
                {{ serie.comentario }}
                {% endif %}
            </td>
            <td>{{ serie.serie.estado }}</td>
            <td class="text-nowrap text-center">
                {% if not serie.serie.producto.control_serie %}
                <button data-form-url="{% url 'garantia_app:serie_ingreso_garantia_documento' serie.id %}"
                    {% if url_tabla %}
                    data-table-url="{{ url_tabla }}"
                    {% else %}
                    data-table-url="{% url 'garantia_app:serie_ingreso_garantia_tabla' serie.ingreso_reclamo_garantia_detalle.ingreso_reclamo_garantia.id serie.ingreso_reclamo_garantia_detalle.id %}"
                    {% endif %}
                    class="update btn btn-primary btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Documento">
                    <i class="bi bi-search"></i>
                </button>
                {% endif %}
                <button data-form-url="{% url 'garantia_app:serie_ingreso_garantia_comentario' serie.id %}"
                    {% if url_tabla %}
                    data-table-url="{{ url_tabla }}"
                    {% else %}
                    data-table-url="{% url 'garantia_app:serie_ingreso_garantia_tabla' serie.ingreso_reclamo_garantia_detalle.ingreso_reclamo_garantia.id serie.ingreso_reclamo_garantia_detalle.id %}"
                    {% endif %}
                    class="update btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Comentario">
                    <i class="bi bi-chat-dots"></i>
                </button>
                <button data-form-url="{% url 'garantia_app:serie_ingreso_garantia_eliminar' serie.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>