{% load humanize %}
{% load funciones_propias %}
<a href="{{ regresar }}" class="btn btn-danger">Regresar</a>
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Comprobante</th>
                <th>Número de Ingreso</th>
                <th>Proveedor</th>
                <th>Interlocutor</th>
                <th>Sociedad</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_nota_ingreso.fecha_ingreso|date:'d/m/Y' }}</td>
                <td>{{ contexto_nota_ingreso.recepcion_compra }}</td>
                <td>{{ contexto_nota_ingreso.nro_nota_ingreso }}</td>
                <td>{{ contexto_nota_ingreso.recepcion_compra.documento.orden_compra.oferta_proveedor.requerimiento_material.proveedor }}</td>
                <td>{{ contexto_nota_ingreso.recepcion_compra.documento.orden_compra.oferta_proveedor.requerimiento_material.interlocutor_proveedor }}</td>
                <td>{{ contexto_nota_ingreso.sociedad }}</td>
                <td class="text-center">
                    {{ contexto_nota_ingreso.get_estado_display }}
                    {% if contexto_nota_ingreso.motivo_anulacion %}
                        - {{ contexto_nota_ingreso.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>{{ contexto_nota_ingreso.observaciones }}</p>
<br>
<h3>Materiales</h3>
<button data-form-url="{% url 'nota_ingreso_app:nota_ingreso_agregar_material' contexto_nota_ingreso.id %}"
    data-table-url="{% url 'nota_ingreso_app:nota_ingreso_detalle_tabla' contexto_nota_ingreso.id %}"
    class="create btn btn-primary">
    Agregar Material
</button>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Almacén</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>