{% load humanize %}
{% load funciones_propias %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Comprobante</th>
                <th>Número de Comprobante</th>
                <th>Proveedor</th>
                <th>Interlocutor</th>
                <th>Sociedad</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_nota_ingreso.fecha_ingreso|date:'d/m/Y' }}</td>
                <td>{{ contexto_nota_ingreso.content_type.name }}</td>
                <td>{{ contexto_nota_ingreso.numero_comprobante_compra }}</td>
                <td>{{ contexto_nota_ingreso.proveedor }}</td>
                <td>{{ contexto_nota_ingreso.interlocutor_proveedor }}</td>
                <td>{{ contexto_nota_ingreso.sociedad }}</td>
                <td class="text-center">
                    {{ contexto_nota_ingreso.get_estado_display }}
                    {% if contexto_nota_ingreso.motivo_anulacion %}
                        - {{ contexto_nota_ingreso.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>{{ contexto_nota_ingreso.observaciones }}</p>
<br>
<h3>Materiales</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Almacén</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>