{% load humanize %}
{% load funciones_propias %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Comprobante</th>
                <th>Número de Comprobante</th>
                <th>Proveedor</th>
                <th>Interlocutor</th>
                <th>Sociedad</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_recepcion_compra.fecha_recepcion|date:'d/m/Y' }}</td>
                <td>{{ contexto_recepcion_compra.content_type.name }}</td>
                <td>{{ contexto_recepcion_compra.numero_comprobante_compra }}</td>
                <td>{{ contexto_recepcion_compra.proveedor }}</td>
                <td>{{ contexto_recepcion_compra.interlocutor_proveedor }}</td>
                <td>{{ contexto_recepcion_compra.sociedad }}</td>
                <td class="text-center">
                    {{ contexto_recepcion_compra.get_estado_display }}
                    {% if contexto_recepcion_compra.motivo_anulacion %}
                        - {{ contexto_recepcion_compra.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>{{ contexto_recepcion_compra.observaciones }}</p>
<br>
<h3>Materiales</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>
<br>
<h3>
    Archivos
    <button data-form-url="{% url 'recepcion_compra_app:archivo_recepcion_compra_crear' contexto_recepcion_compra.id %}"
        data-table-url="{% url 'recepcion_compra_app:recepcion_compra_detalle_tabla' contexto_recepcion_compra.id %}"
        class="create badge bg-primary">
        Agregar Archivo
    </button>
</h3>    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Archivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ archivo.archivo }}" target="_blank">{{ archivo.archivo|filename }}</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'recepcion_compra_app:archivo_recepcion_compra_eliminar' archivo.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>
    Fotos
    <button data-form-url="{% url 'recepcion_compra_app:foto_recepcion_compra_crear' contexto_recepcion_compra.id %}"
        data-table-url="{% url 'recepcion_compra_app:recepcion_compra_detalle_tabla' contexto_recepcion_compra.id %}"
        class="create badge bg-primary">
        Agregar Foto
    </button>
</h3>    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Foto</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for foto in fotos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ foto.foto }}" target="_blank">{{ foto.foto|filename }}</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'recepcion_compra_app:foto_recepcion_compra_eliminar' foto.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>