
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Número de Comprobante</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>

        </tr>
    </thead>

    <tbody>
        {% for factura_venta in contexto_factura_venta %}
        <tr>
            <td>{{factura_venta.fecha_emision}}</td>
            <td>{{factura_venta.numero_factura}}</td>
            <td>{{factura_venta.cliente}}</td>
            <td>{{factura_venta.total}}</td>
            <td>{{factura_venta.estado}}</td>
            <td>
                <a href="{% url 'comprobante_venta_app:factura_venta_ver' factura_venta.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>                
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
