
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Número de Comprobante</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>

        </tr>
    </thead>

    <tbody>
        {% for factura_venta in contexto_factura_venta %}
        <tr>
            <td>{{factura_venta.fecha_emision}}</td>
            <td>{{factura_venta.numero_factura}}</td>
            <td>{{factura_venta.cliente}}</td>
            <td>{{factura_venta.total}}</td>
            <td>{{factura_venta.get_estado_display}}</td>
            <td>
         
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
