{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Lista Requerimiento Material
{% endblock titulo %}

{% block contenido %}
    <h3>Lista Requerimiento Material
        <a href="{% url 'requerimiento_material_app:lista_requerimiento_material_registrar' %}"
        class="badge bg-primary">
            Nueva Lista
        </a>
    </h3>

    <div class="table-responsive" id="tabla">
        {% include 'requerimiento_material/lista_requerimiento_material/inicio_tabla.html' %}
    </div>
{% endblock contenido %}