{% load humanize %}
{% load funciones_propias %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Condiciones</th>
                <th class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if contexto_oferta_proveedor.condiciones %}
                        {{ contexto_oferta_proveedor.condiciones|linebreaks }}
                    {% endif %}
                </td>
                <td class="text-end text-nowrap">
                        <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_actualizar' contexto_oferta_proveedor.slug %}"
                            data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h3>Materiales
    {% if contexto_oferta_proveedor.estado == 1 %}
        <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_agregar_material' contexto_oferta_proveedor.slug %}"
            data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
            class="create badge bg-primary">
            Agregar Material
        </button>
        <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_crear_material' contexto_oferta_proveedor.slug %}"
            data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
            class="create badge bg-primary">
            Crear Material
        </button>
    {% endif %}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Unidad</th>
                <th>Tipo IGV</th>
                <th class="text-end">Cantidad</th>
                <th class="text-nowrap">Prec. Unit.<br>sin IGV </th>
                <th class="text-nowrap">Prec. Unit.<br>con IGV </th>
                <th class="text-nowrap">Prec. Final<br>con IGV</th>
                <th>Descuento</th>
                <th class="text-nowrap">Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                <th>Imagen</th>
                <th>Especificaciones Técnicas</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item }}</td>
                    <td>{{ material.proveedor_material.name }}</td>
                    <td>{{ material.proveedor_material.brand }}</td>
                    <td>{{ material.proveedor_material.description }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td>{{ material.get_tipo_igv_display }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.precio_unitario_sin_igv|redondear:3|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.precio_unitario_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.precio_final_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.descuento|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.sub_total|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ material.total|redondear|intcomma }}</td>
                    <td class="text-center">
                        {% if material.imagen %}
                            <a href="{{ MEDIA_URL }}{{ material.imagen}}" target="_blank">Ver Imagen</a> 
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if material.especificaciones_tecnicas %}
                            <a href="{{ MEDIA_URL }}{{ material.especificaciones_tecnicas }}" target="_blank">Ver Archivo</a>
                        {% endif %}
                    </td>
                    <td class="text-center text-nowrap">
                        {% if contexto_oferta_proveedor.estado == 1 %}
                            <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_actualizar_material' material.id %}"
                                data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
                                data-modal="modal-xl"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_eliminar_material' material.id  %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi-x-lg"></i>
                            </button>
                        {% else %}
                            {% if not material.proveedor_material.id_registro %}
                            <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_proveedor_material' material.id %}"
                                data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
        <tfoot>
            <tr>
                {% if totales.descuento_global %}
                <td colspan="11" class="text-end">Descuento Global:</td>
                <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.descuento_global|intcomma }}</td>
                {% endif %}     
            </tr>            
            <tr>
                {% if totales.total_descuento %}
                <td colspan="11" class="text-end">Descuento Total:</td>
                <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_descuento|intcomma }}</td>   
                {% endif %}
            </tr>           
             <tr>
                {% if totales.total_anticipo %}
                    <td colspan="11" class="text-end">Anticipo:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_anticipo|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_exonerada %}
                <td colspan="11" class="text-end">Exonerada:</td>
                <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_exonerada|intcomma }}</td>   
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_inafecta %}
                    <td colspan="11" class="text-end">Inafecta:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_inafecta|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_gravada %}
                    <td colspan="11" class="text-end">Gravada:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_gravada|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_igv %}
                    <td colspan="11" class="text-end">IGV:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_igv|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_gratuita %}
                    <td colspan="11" class="text-end">Gratuita:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_gratuita|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_otros_cargos %}
                    <td colspan="11" class="text-end">Otros Cargos:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_otros_cargos|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_icbper %}
                    <td colspan="11" class="text-end">ICBPER:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total_icbper|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total %}
                    <td colspan="11" class="text-end">Total:</td>
                    <td class="text-end">{{ contexto_oferta_proveedor.moneda.simbolo }} {{ totales.total|intcomma }}</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
</div>
<br>
<h3>Archivos
    <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_agregar_archivo' contexto_oferta_proveedor.slug %}"
        data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
        class="create badge bg-primary">
        Agregar Archivo
    </button>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Archivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ archivo.archivo }}" target="_blank">
                        {{ archivo.archivo }}
                    </a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_eliminar_archivo' archivo.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>