{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Oferta Proveedor
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Oferta Proveedor
        {% if contexto_oferta_proveedor.estado == 1 %}
            <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_finalizar' contexto_oferta_proveedor.id %}"
                data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_inicio' %}"
                class="delete badge bg-primary">
                Finalizar Oferta
            </button>
        {% endif %}
        {% if contexto_oferta_proveedor.estado != 1 and contexto_oferta_proveedor.estado != 3 %}
            <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_rechazar' contexto_oferta_proveedor.id %}"
                data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_inicio' %}"
                class="delete badge bg-primary">
                Rechazar Oferta
            </button>
        {% endif %}
        <a href="{% url 'oferta_proveedor_app:oferta_proveedor_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
    </h3>
    
    {% if contexto_oferta_proveedor.estado == 1 %}
        <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_actualizar_moneda' contexto_oferta_proveedor.slug %}"
            data-table-url="{% url 'oferta_proveedor_app:oferta_proveedor_detalle_tabla' contexto_oferta_proveedor.slug %}"
            class="update btn btn-primary">
            Actualizar Moneda
        </button>
    {% endif %}

    {% if contexto_oferta_proveedor.estado != 1 and contexto_oferta_proveedor.estado != 3 and not contexto_oferta_proveedor.OrdenCompra_oferta_proveedor %}
        <button data-form-url="{% url 'oferta_proveedor_app:oferta_proveedor_generar_orden_compra' contexto_oferta_proveedor.slug %}"
            class="delete btn btn-primary">
            Generar Orden de Compra
        </button>
    {% endif %}

    <a href="{% url 'requerimiento_material_app:requerimiento_material_proveedor_detalle' contexto_oferta_proveedor.requerimiento_material.id %}"
        class="btn btn-primary">
        Requerimiento
    </a>
    
    {% if contexto_oferta_proveedor.OrdenCompra_oferta_proveedor %}
        <a href="{% url 'orden_compra_app:orden_compra_detalle' contexto_oferta_proveedor.OrdenCompra_oferta_proveedor.slug %}"
            class="btn btn-primary">
            Orden de Compra
        </a>
    {% endif %}
        
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Interlocutor</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.fecha|date:'d/m/Y' }}</td>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.proveedor }}</td>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.interlocutor_proveedor }}</td>
                    <td>{{ contexto_oferta_proveedor.get_estado_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="tabla">
        {% include 'oferta_proveedor/oferta_proveedor/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
