{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Oferta Proveedor
{% endblock titulo %}

{% block contenido %}
    <h3>Oferta Proveedor</h3>
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Interlocutor</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.fecha|date:'d/m/Y' }}</td>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.proveedor }}</td>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.interlocutor_proveedor }}</td>
                    <td>{{ contexto_oferta_proveedor.requerimiento_material.comentario }}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" id="tabla">
        {% include 'oferta_proveedor/oferta_proveedor/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
