<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Titulo</th>
            <th>Proveedor</th>
            <th>Interlocutor</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>

        </tr>
    </thead>

    <tbody>
        {% for oferta_proveedor in contexto_oferta_proveedor %}
        <tr>
            <td>{{ oferta_proveedor.fecha|date:'d/m/Y' }}</td>
            <td>
                {% if oferta_proveedor.requerimiento_material.titulo != None %}
                    {{ oferta_proveedor.requerimiento_material.titulo}}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if oferta_proveedor.requerimiento_material.proveedor != None %}
                    {{ oferta_proveedor.requerimiento_material.proveedor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if oferta_proveedor.requerimiento_material.interlocutor_proveedor != None %}
                    {{ oferta_proveedor.requerimiento_material.interlocutor_proveedor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ oferta_proveedor.get_estado_display}}</td>
            <td class="text-center text-nowrap">
                <a href="{% url 'oferta_proveedor_app:oferta_proveedor_detalle' oferta_proveedor.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
