{% load funciones_propias %}
{% load humanize %}

<table class="table">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Prioridad</th>
            <th>Fecha Inicio</th>
            <th>Encargado</th>
            <th>Tipo Tarea</th>
            <th>Fecha Limite</th>
            <th>Descripcion</th>
            <th>Asignado por</th>
            <th>Creación</th>
            <th>Fecha inicio real</th>
            <th>Fecha cierre real</th>

            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in contexto_tarea %}
        <tr>
            <td>{{ tarea.get_estado_display}}</td>
            <td>
                {% if tarea.prioridad ==  1%}
                <span style="color: red;"> {{ tarea.get_prioridad_display}} </span>
                {% endif %}                
                
                {% if tarea.prioridad ==  2%}
                <span style="color: green;"> {{ tarea.get_prioridad_display}} </span>
                {% endif %}
                                    
                {% if tarea.prioridad ==  3%}
                <span style="color: blue;"> {{ tarea.get_prioridad_display}} </span>
                {% endif %}
                    
            </td>
            <td>{{ tarea.fecha_inicio|date:'d/m/Y' }}</td>
            <td>{{ tarea.encargado|nombre_usuario }}</td>
            <td>{{ tarea.tipo_tarea }}</td>
            <td>{{ tarea.fecha_limite|date:'d/m/Y' }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.created_by|nombre_usuario }}</td>
            <td>{{ tarea.created_at|date:'d/m/Y' }}</td>
            <td>{{ tarea.fecha_inicio_real|date:'d/m/Y' }}</td>
            <td>{{ tarea.fecha_cierre|date:'d/m/Y' }}</td>
            <td class="text-center text-nowrap">
                
                {% if tarea.estado < 3 or tarea.estado == 4 %}                    
                <button data-form-url="{% url 'tarea_app:tarea_actualizar' tarea.id %}"
                    data-table-url="{% url 'tarea_app:tarea_tabla' %}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                {% endif %}

                <a href="{% url 'tarea_app:tarea_detalle' tarea.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>

                {% if tarea.estado == 1 %}
                <button data-form-url="{% url 'tarea_app:tarea_iniciar' tarea.id %}"
                    data-table-url="{% url 'tarea_app:tarea_tabla' %}"
                    data-keep-open="true"
                    class="delete btn btn-success btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Iniciar">
                    <i class="bi bi-stopwatch"></i>
                </button>                
                <button data-form-url="{% url 'tarea_app:tarea_eliminar' tarea.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>                
                {% endif %}

                
                {% if tarea.estado == 3 %}
                <button data-form-url="{% url 'tarea_app:tarea_reapertura' tarea.id %}"
                    class="delete btn btn-dark btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Reaperturar">
                    <i class="bi bi-envelope-open"></i>
                </button>                
                {% endif %}
                    
                    
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>