<table class="table">
    <thead>
        <tr>
            <th class="text-justify text-nowrap">Nombre</th>
            <th class="text-center text-nowrap">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for modelo in contexto_modelo_activo %}
            <td class="text-justify text-nowrap">{{ modelo.nombre }}</td>
            <td class="text-center text-nowrap">
                <button data-form-url="{% url 'activos_app:modelo_activo_actualizar' modelo.id %}"
                    data-table-url="{% url 'activos_app:modelo_activo_tabla' %}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>