{% extends 'base.html' %}

{% block titulo %}
    Servicio
{% endblock titulo %}

{% block contenido %}
    <h3>Servicio
        <button data-form-url="{% url 'contabilidad_app:servicio_registrar' %}"
            data-table-url="{% url 'contabilidad_app:servicio_tabla' %}"
            class="create badge bg-primary">
            Registrar 
        </button>
    </h3>

    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-success" href="{% url 'contabilidad_app:servicio_inicio' %}">Limpiar</a>
    </form>

    {% include 'includes/paginador.html' %}    
    <div class="table-responsive" id="tabla">
        {% include 'contabilidad/servicio/inicio_tabla.html' %}
    </div>
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}
    
