{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Reporte Stock Sociedad
{% endblock titulo %}

{% block contenido %}
<h1>Reporte Stock</h1>
<br>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="input-group">
        {% for field in form %}
            <div class="input-group columna-auto {% if field.errors %} invalid{% endif %}"
            {% if field.help_text %}
            data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
            {% endif %}
            >
                {% if field in form.visible_fields %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
            {% if field.help_text %}
            <p class="mt-0">Pista:{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
            <p class="text-danger mt-0 error-formulario">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    <input type="text" value="formulario1" name="formulario" hidden>
    <button type="submit" class="btn btn-success" title="Buscar">
        <i class="bi bi-search"></i>
    </button>
</form>
<h1>Reporte Ventas</h1>
<br>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="input-group">
        {% for field in form2 %}
            <div class="input-group columna-auto {% if field.errors %} invalid{% endif %}"
            {% if field.help_text %}
            data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
            {% endif %}
            >
                {% if field in form.visible_fields %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
            {% if field.help_text %}
            <p class="mt-0">Pista:{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
            <p class="text-danger mt-0 error-formulario">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    <input type="text" value="formulario2" name="formulario" hidden>
    <button type="submit" class="btn btn-success" title="Buscar">
        <i class="bi bi-search"></i>
    </button>
</form>
{% endblock contenido %}
    