{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Tipo de Cambio Sunat
{% endblock titulo %}

{% block contenido %}
    <h3>Tipo de Cambio Sunat</h3>
    
    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th class="text-center">Tipo de Cambio Sunat Venta</th>
                    <th class="text-center">Tipo de Cambio Sunat Compra</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo_cambio in contexto_tipo_cambio %}
                <tr>
                    <td>{{ tipo_cambio.fecha|date:'d/m/Y' }}</td>
                    <td class="text-center">{{ tipo_cambio.tipo_cambio_venta }}</td>
                    <td class="text-center">{{ tipo_cambio.tipo_cambio_compra }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}