{% load funciones_propias %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Número de Documento</th>
            <th>Sede</th>
            <th>Usuario que lo atendió</th>
            <th>Motivo de Visita</th>
            <th>Hora de Ingreso</th>
            <th>Hora de Salida</th>
            <th>Empresa Cliente</th>
            <th>Fecha de Registro</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for visita in contexto_visita %}
        <tr>
            <td class="text-nowrap">{{ visita.nombre }}</td>
            <td>{{ visita.numero_documento }}</td>
            <td class="text-nowrap">{{ visita.sede }}</td>
            <td>{{ visita.usuario_atendio }}</td>
            <td class="text-nowrap">{{ visita.motivo_visita }}</td>
            <td>{{ visita.hora_ingreso }}</td>
            <td>
                
                {% if visita.hora_salida %}
                {{ visita.hora_salida }}
                    
                {% endif %}
                    
            </td>
            <td class="text-nowrap">
                
                {% if visita.empresa_cliente %}
                {{ visita.empresa_cliente|recortar_popover }}
                {% endif %}
                    
            </td>
            <td>{{ visita.fecha_registro|date:'d/m/Y'}}</td>
            <td class="text-center text-nowrap">
                
                {% if visita.hora_salida == None %}
                    <button data-form-url="{% url 'recepcion_app:visita_registrar_salida' visita.id %}"
                        data-table-url="{% url 'recepcion_app:visita_tabla' %}"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Registrar Salida">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                {% endif %}
                    
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>