<h3>Visitas
    <button data-form-url="{% url 'visita_app:visita_registrar' %}"
        data-table-url="{% url 'visita_app:visita_tabla' %}"
        class="create badge bg-primary">
        Registrar Visita
    </button>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Número de Documento</th>
            <th>Motivo de Visita</th>
            <th>Hora de Ingreso</th>
            <th>Hora de Salida</th>
            <th>Empresa Cliente</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for visita in contexto_visita %}
        <tr>
            <td>{{ visita.nombre }}</td>
            <td>{{ visita.numero_documento }}</td>
            <td>{{ visita.motivo_visita }}</td>
            <td>{{ visita.hora_ingreso }}</td>
            <td>
                
                {% if visita.hora_salida %}
                {{ visita.hora_salida }}
                    
                {% endif %}
                    
            </td>
            <td>
                
                {% if visita.empresa_cliente %}
                {{ visita.empresa_cliente }}
                    
                {% endif %}
                    
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>