{% load humanize %}
{% load funciones_propias %}
<a href="{{ regresar }}" class="btn btn-danger">Regresar</a>

{% if contexto_devolucion_muestra.estado == 1 %}
<button data-form-url="{% url 'muestra_app:devolucion_muestra_guardar' contexto_devolucion_muestra.id %}"
    class="delete btn btn-primary">
    Guardar
</button>
{% endif %}

{% if contexto_devolucion_muestra.estado == 2 %}
<button data-form-url="{% url 'muestra_app:devolucion_muestra_anular' contexto_devolucion_muestra.id %}"
    class="delete btn btn-danger">
    Anular
</button>
<button data-form-url="{% url 'muestra_app:devolucion_muestra_generar_guia' contexto_devolucion_muestra.id %}"
    class="delete btn btn-primary">
    Generar Guia
</button>
{% endif %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Número de Devolución</th>
                <th>Sociedad</th>
                <th>Sede</th>
                <th>Proveedor</th>
                <th>Usuario</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_devolucion_muestra.fecha_devolucion|date:'d/m/Y' }}</td>
                <td>{{ contexto_devolucion_muestra.numero_devolucion|numeroXn:6 }}</td>
                <td>{{ contexto_devolucion_muestra.sociedad }}</td>
                <td>{{ contexto_devolucion_muestra.sede }}</td>
                <td>{{ contexto_devolucion_muestra.proveedor }}</td>
                <td>{{ contexto_devolucion_muestra.created_by }}</td>
                <td class="text-center">
                    {{ contexto_devolucion_muestra.get_estado_display }}
                    {% if contexto_devolucion_muestra.motivo_anulacion %}
                        - {{ contexto_devolucion_muestra.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>
    {% if contexto_devolucion_muestra.observaciones %}
    {{ contexto_devolucion_muestra.observaciones }}
    {% endif %}
</p>
<br>
<h3>Materiales</h3>

{% if contexto_devolucion_muestra.estado == 1 %}
<button data-form-url="{% url 'muestra_app:devolucion_muestra_agregar_material' contexto_devolucion_muestra.id %}"
    data-table-url="{% url 'muestra_app:devolucion_muestra_detalle_tabla' contexto_devolucion_muestra.id %}"
    class="create btn btn-primary">
    Agregar Material
</button>
{% endif %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Series Registradas</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad_devolucion|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.series_validar|redondear|intcomma }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_devolucion_muestra.estado == 1 %}
                            <button data-form-url="{% url 'muestra_app:devolucion_muestra_actualizar_material' material.id %}"
                                data-table-url="{% url 'muestra_app:devolucion_muestra_detalle_tabla' contexto_devolucion_muestra.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button data-form-url="{% url 'muestra_app:devolucion_muestra_eliminar_material' material.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>
                            {% if material.producto.control_serie %}
                                <a href="{% url 'muestra_app:validar_series_devolucion_muestra_detalle' material.id %}"
                                    class="btn btn-dark btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Series">
                                    <i class="bi bi-upc-scan"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>