{% load funciones_propias %}
{% load humanize %}

<h3> Detalle Vacaciones de {{ contexto_vacaciones.usuario }} | Hoy {{ contexto_vacaciones.hoy }}
    <a href="{% url 'usuario_app:vacaciones_inicio' %}"><span class="badge bg-primary">Regresar</span></a>     
    
    {% if contexto_vacaciones.estado == 2 and contexto_vacaciones.dias_restantes == 0 %}
    <button data-form-url="{% url 'usuario_app:vacaciones_terminar' contexto_vacaciones.id %}"
        data-table-url="{% url 'usuario_app:vacaciones_detalle_tabla' contexto_vacaciones.id %}"
        data-keep-open="true"
        class="update badge bg-primary"> Terminar
    </button>
    {% endif %}

</h3>
<hr>
<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Usuario :</th>
                    <td>
                        {% if contexto_vacaciones.usuario %}
                        {{ contexto_vacaciones.usuario }}  
                        {% endif %}
                    </td>            
                </tr>

                <tr>
                    <th class="pe-2">Sociedad :</th>
                    <td>
                        {% if contexto_vacaciones.sociedad  %}
                            {{ contexto_vacaciones.sociedad}} - {{ contexto_vacaciones.sociedad.abreviatura }}                          
                        {% endif %}
                    </td>              
                </tr>
                <tr>
                    <th class="pe-2">Periodo :</th>
                    <td>
                        {% if contexto_vacaciones.periodo  %}
                             {{ contexto_vacaciones.periodo}}                        
                        {% endif %}
                    </td>              
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>  
                <tr>
                    <th class="pe-2">Estado :</th>
                    <td>
                        {% if contexto_vacaciones.estado  %}

                        <span class="{% if contexto_vacaciones.estado == 1 %}text-danger
                        {% elif contexto_vacaciones.estado == 2 %}text-success
                        {% endif %}">
                             {{ contexto_vacaciones.get_estado_display }}
                        </span>
                        
                        {% endif %}
                    </td> 
                </tr>              
                <tr>
                    <th class="pe-2">Cantidad de días :</th>
                    <td>
                        {% if contexto_vacaciones.dias_vacaciones %}
                        {{ contexto_vacaciones.dias_vacaciones }} 
                        {% endif %}
                    </td>  
                </tr>

                <tr>
                    <th class="pe-2">Días usados :</th>
                    <td>{{ contexto_vacaciones.total_duracion }}</td>
                </tr>                
                
                <tr>
                    <th class="pe-2">Días restantes:</th>
                    <td><span style="color: red;">{{ contexto_vacaciones.dias_restantes }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>
    {% if contexto_vacaciones.dias_restantes != 0 %}
    <button data-form-url="{% url 'usuario_app:vacaciones_detalle_registrar' contexto_vacaciones.id %}"
        data-table-url="{% url 'usuario_app:vacaciones_detalle_tabla' contexto_vacaciones.id %}"
        class="create badge bg-success">
        Registrar Días
    </button>
    {% endif %}
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">N°</th>
                <th class="text-rigth">Fecha Inicio </th>
                <th class="text-rigth">Fecha Fin </th>
                <th class="text-rigth">Duración </th>
                <th class="text-rigth">Motivo | Comentario </th>
                <th class="text-center">Acciones </th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalle_vacaciones %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ detalle.fecha_inicio|date:'l, d/m/Y' }}</td>
                    <td>{{ detalle.fecha_fin|date:'l, d/m/Y' }}</td>
                    <td>{{ detalle.duracion }}</td>
                    <td>{{ detalle.motivo }}</td>
                    <td class="text-center">
                        {% if contexto_vacaciones.estado == 1 or  contexto_vacaciones.estado == 2 %}
                            <button data-form-url="{% url 'usuario_app:vacaciones_detalle_actualizar' detalle.id %}"
                                data-table-url="{% url 'usuario_app:vacaciones_detalle_tabla' contexto_vacaciones.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button data-form-url="{% url 'usuario_app:vacaciones_detalle_eliminar' detalle.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>