<table class="table">
    <thead>
        <tr>
            <th>Fecha Creación</th>
            <th>Usuario</th>
            <th>Creado por</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for boleta_pago in contexto_boleta_pago %}
        <tr>
            <td>{{ boleta_pago.created_at|date:'d/m/Y' }}</td>
            <td>{{ boleta_pago.datos_planilla.usuario}}</td>
            <td>{{ boleta_pago.created_by}}</td>
            <td>
                <button data-form-url="{% url 'contabilidad_app:boleta_pago_actualizar' boleta_pago.id %}"
                    data-table-url="{% url 'contabilidad_app:boleta_pago_tabla' %}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>