<table class="table">
    <thead>
        <tr>
            <th>Boleta</th>
            <th>Sociedad</th>
            <th>Creado por</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for boleta_pago in contexto_boleta_pago %}
        <tr>
            <td>{{ boleta_pago }}</td>
            <td>{{ boleta_pago.datos_planilla.sociedad }}</td>
            <td>{{ boleta_pago.created_by}}</td>
            <td class="text-center text-nowrap">
                <button data-form-url="{% url 'contabilidad_app:boleta_pago_actualizar' boleta_pago.id %}"
                    data-table-url="{% url 'contabilidad_app:boleta_pago_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}"
                    data-keep-open="true"
                    class="update btn btn-warning btn-sm"
                    data-modal="modal-xl"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>

                <button data-form-url="{% url 'contabilidad_app:boleta_pago_eliminar' boleta_pago.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi-x-lg"></i>
                </button>
                <button data-form-url="{% url 'contabilidad_app:boleta_pago_ver' boleta_pago.id %}"
                    class="read btn btn-success btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Detalle">
                    <i class="bi bi-eye-fill"></i>
                </button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
