{% extends 'base.html' %}

{% block titulo %}
    Reparación de Material Validar Series
{% endblock titulo %}

{% block contenido %}
    <h3>
        <a href="{% url 'calidad_app:reparacion_material_detalle' contexto_reparacion_material_detalle.reparacion.id %}"><span class="badge bg-primary">Regresar</span></a>   
    </h3>
    <br>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-lg-4">
                    <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                    {% if field.help_text %}
                    data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                    {% endif %}
                    >
                    <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                    {% endfor %}
                </div>
                
            {% endfor %}
            <div class="col-lg-4 my-auto">
                <button type="submit" class="btn btn-success" title="Buscar">
                    <i class="bi bi-search"></i>
                </button>
                <a class="btn btn-success" href="{% url 'calidad_app:reparacion_material_validar_series_detalle' contexto_reparacion_material_detalle.id %}">Limpiar</a>
            </div>            
        </div>
    </form>
    <br>
    <button data-form-url="{% url 'material_app:series' contexto_reparacion_material_detalle.material.id %}"
        class="read btn btn-primary">
        Ver series
    </button>
    <button class="read btn btn-primary"
        data-form-url="{% url 'calidad_app:solucion_material_detalle_modal' contexto_reparacion_material_detalle.material.subfamilia.id %}">
        Ver Soluciones
    </button>
    <button class="create btn btn-primary"
        data-form-url="{% url 'calidad_app:solucion_material_general_registrar' contexto_reparacion_material_detalle.material.subfamilia.id %}"
        data-table-url="{% url 'calidad_app:reparacion_material_validar_series_detalle_tabla' contexto_reparacion_material_detalle.id %}">
        Agregar Solución
    </button>

    <div id="tabla">
        {% include 'calidad/reparacion/validar_serie/detalle_tabla.html' %}
    </div>
{% endblock contenido %}


{% block extrajs %}
<script>
    window.onload = function(){
        setTimeout(() => {
            document.getElementById("id_serie").focus();
        }, 500);
    }
</script>    
{% endblock extrajs %}