{% load funciones_propias %}
{% load humanize %}

<h3>Detalle Fallas por Sub Familia
    <button class="create badge bg-primary"
        data-form-url="{% url 'calidad_app:falla_material_detalle_registrar' contexto_subfamilia.id %}"
        data-table-url="{% url 'calidad_app:falla_material_detalle_tabla' contexto_subfamilia.id %}">
        Registrar Falla
    </button>
    <a href="{% url 'calidad_app:falla_material' %}"><span class="btn btn-danger">Regresar</span></a>
</h3>

<!-- TABLA -->
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td><b>Familia</b></td>
                <td class="px-2">:</td>
                <td>{{ contexto_subfamilia.familia.nombre }}</td>
                <td class="px-4"></td>
                <td><b>Sub Familia</b></td>
                <td class="px-2">:</td>
                <td>{{ contexto_subfamilia.nombre }}</td>
                <td class="px-4"></td>
            </tr>
        </tbody>
    </table>
</div>

<p></p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Título de Falla</th>
                <th>Comentario</th>
                <th class="text-center">Visible</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for falla in fallas %}
                <tr>
                    <td>{{ falla.titulo }}</td>
                    <td>{{ falla.comentario }}</td>
                    <td class="text-center">
                        {% if  falla.visible %}
                            Si 
                        {% else %}
                            No 
                        {% endif %}
                    </td>
                    <td class="text-center text-nowrap">
                        <button data-form-url="{% url 'calidad_app:falla_material_detalle_actualizar' falla.id %}"
                            data-table-url="{% url 'calidad_app:falla_material_detalle_tabla' contexto_subfamilia.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'calidad_app:falla_material_detalle_eliminar' falla.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-x-lg"></i>
                        </button>
                        <a href="{% url 'calidad_app:solucion_material_detalle' falla.id %}"
                            class="btn btn-info btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle Soluciones">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    </td>                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>