{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Fallas por Sub Familia
{% endblock titulo %}

{% block contenido %}
    <h3>Fallas por Sub Familia</h3>
    <br>
    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Familia</th>
                    <th>Sub Familia</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>    
                {% for subfamilia in contexto_subfamilias %}
                    <tr>
                        <td>{{ subfamilia.familia.nombre }}</td>
                        <td>{{ subfamilia.nombre }}</td>
                        <td class="text-center text-nowrap">
                            <a href="{% url 'calidad_app:falla_material_detalle' subfamilia.id %}"
                                class="btn btn-info btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                        </td>
                    </tr>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock contenido %}