<table class="table">
    <thead>
        <tr>
            <th>Sub Familia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>    
        {% for subfamilia in contexto_subfamilia %}
            <tr>
                <td>{{ subfamilia.nombre }}</td>
                <td class="text-center">
                    <a href="{% url 'calidad_app:falla_material_detalle' subfamilia.id %}"
                        class="btn btn-info btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </td>
            </tr>
            </tr>
        {% endfor %}
    </tbody>
</table>