{% extends 'base.html' %}
{% load humanize %}

{% block titulo %}
{{ contexto_cheque_detalle.concepto }}
{% endblock titulo %}
    
{% block contenido %}
    <h3>{{ contexto_cheque_detalle.concepto }} | {{ contexto_cheque_detalle.usuario.username }}
        {% if contexto_cheque_detalle.estado == 1 %}
            <button data-form-url="{% url 'contabilidad_app:cheque_solicitar' contexto_cheque_detalle.id %}"
                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                class="delete badge bg-success">
                Solicitar
            </button>
        {% endif %}
        {% if contexto_cheque_detalle.estado == 2 %}
            <button data-form-url="{% url 'contabilidad_app:cheque_por_cerrar' contexto_cheque_detalle.id %}"
                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                class="delete badge bg-success">
                Por Cerrar
            </button>
            <button data-form-url="{% url 'contabilidad_app:cheque_editar' contexto_cheque_detalle.id %}"
                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                class="delete badge bg-secondary">
                Editar
            </button>
        {% endif %}
        <a href="{% url 'contabilidad_app:cheque_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
    </h3>
    <br>
    <div id="tabla">
        {% include 'contabilidad/cheque/detalle_tabla.html' %}
    </div>
    
{% endblock contenido %}
    