{% load humanize %}
{% load funciones_propias %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-end">Monto Cheque</th>
                {% if contexto_cheque_detalle.estado == 1 %}
                    <th class="text-end">Monto Requerido</th>
                {% endif %}
                {% if contexto_cheque_detalle.estado > 1 %}
                    <th class="text-end">Monto Recibido</th>
                    <th class="text-end">Monto Usado</th>
                {% endif %}
                {% if contexto_cheque_detalle.estado == 4 %}
                    <th class="text-end">Redondeo</th>
                    <th class="text-end">Vuelto Extra</th>
                    <th class="text-end">Vuelto</th>
                {% endif %}
                <th>Usuario</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ contexto_cheque_detalle.monto_cheque|redondear|intcomma }}</td>
                {% if contexto_cheque_detalle.estado == 1 %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_monto_requerido|redondear|intcomma }}</td>
                {% endif %}
                {% if contexto_cheque_detalle.estado > 1 %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} <span id="monto">{{ contexto_cheque_detalle.recibido|redondear|intcomma }}</span></td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ contexto_cheque_detalle.monto_usado|redondear|intcomma }}</td>
                {% endif %}
                {% if contexto_cheque_detalle.estado == 4 %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ contexto_cheque_detalle.redondeo|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ contexto_cheque_detalle.vuelto_extra|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ contexto_cheque_detalle.vuelto|redondear|intcomma }}</td>
                {% endif %}
                <td>{{ contexto_cheque_detalle.usuario.first_name }} {{ contexto_cheque_detalle.usuario.last_name }}</td>
                <td>{{ contexto_cheque_detalle.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if contexto_cheque_detalle.estado == 1 and request.user == contexto_cheque_detalle.usuario %}
                        <button data-form-url="{% url 'contabilidad_app:cheque_actualizar' contexto_cheque_detalle.id %}"
                            data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    {% endif %}     
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h3> Recibo Boleta Pago
    {% if contexto_cheque_detalle.estado == 1 %}
        <button data-form-url="{% url 'contabilidad_app:cheque_recibo_boleta_pago_agregar' contexto_cheque_detalle.id %}"
            data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
            class="create badge bg-primary">
            Agregar
        </button>
    {% endif %}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Boleta Pago</th>
                <th class="text-end">Monto</th>
                <th class="text-end">Monto Pagado</th>
                <th class="text-center">Fecha Pago</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for recibo_bp in contexto_recibos_boleta_pago %}
                <tr>
                    <td>{{ recibo_bp.boleta_pago }}</td>
                    <td class="text-end">{{ recibo_bp.moneda.simbolo }} {{ recibo_bp.monto|redondear|intcomma }}</td>
                    <td class="text-end">{{ recibo_bp.moneda.simbolo }} {{ recibo_bp.monto_pagado|redondear|intcomma }}</td>
                    <td class="text-center">{{ recibo_bp.fecha_pago|date:'d/m/Y' }}</td>
                    <td class="text-center">{{ recibo_bp.get_estado_display }}</td>
                    <td class="text-nowrap text-center">
                        {% if recibo_bp.voucher %}
                            <a href="{{ MEDIA_URL }}{{ recibo_bp.voucher }}" target="_blank"
                            class="btn btn-info btn-sm">
                                <i class="bi bi-image-fill"></i>
                            </a>
                        {% endif %}
                        {% if contexto_cheque_detalle.estado == 3 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_boleta_pago_actualizar' contexto_cheque_detalle.id recibo_bp.id %}"
                                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                        {% if contexto_cheque_detalle.estado == 1 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_boleta_pago_remover' contexto_cheque_detalle.id recibo_bp.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>  
                        {% endif %}
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end">Total:</td>
                {% if total_boleta %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_boleta|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_boleta_pagado|redondear|intcomma }}</td>
                {% else %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                {% endif %}
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br>
<h3> Recibo Servicios
    {% if contexto_cheque_detalle.estado == 1 %}
        <button data-form-url="{% url 'contabilidad_app:cheque_recibo_servicio_agregar' contexto_cheque_detalle.id %}"
            data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
            class="create badge bg-primary">
            Agregar
        </button>
    {% endif %}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Servicio</th>
                <th class="text-end">Monto</th>
                <th class="text-end">Monto Pagado</th>
                <th>Fecha Pago</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for recibo_s in contexto_recibos_servicio %}
                <tr>
                    <td>{{ recibo_s.servicio }}</td>
                    <td class="text-end">{{ recibo_s.moneda.simbolo }} {{ recibo_s.monto|redondear|intcomma }}</td>
                    <td class="text-end">{{ recibo_s.moneda.simbolo }} {{ recibo_s.monto_pagado|redondear|intcomma }}</td>
                    <td>{{ recibo_s.fecha_pago|date:'d/m/Y' }}</td>
                    <td>{{ recibo_s.get_estado_display }}</td>
                    <td class="text-nowrap text-center">
                        {% if recibo_s.voucher %}
                            <a href="{{ MEDIA_URL }}{{ recibo_s.voucher }}" target="_blank"
                            class="btn btn-info btn-sm">
                                <i class="bi bi-image-fill"></i>
                            </a>
                        {% endif %}
                        {% if contexto_cheque_detalle.estado == 3 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_servicio_actualizar' contexto_cheque_detalle.id recibo_s.id %}"
                                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                        {% if contexto_cheque_detalle.estado == 1 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_servicio_remover' contexto_cheque_detalle.id recibo_s.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end">Total:</td>
                {% if total_servicio %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_servicio|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_servicio_pagado|redondear|intcomma }}</td>
                {% else %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                {% endif %}
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br>
<h3> Recibo Caja Chica
    {% if contexto_cheque_detalle.estado == 1 %}
        <button data-form-url="{% url 'contabilidad_app:cheque_recibo_caja_chica_agregar' contexto_cheque_detalle.id %}"
            data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
            class="create badge bg-primary">
            Agregar
        </button>
    {% endif %}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Concepto</th>
                <th class="text-end">Monto</th>
                <th class="text-end">Monto Pagado</th>
                <th>Fecha Pago</th>
                <th>Estado</th>
                <th class="text-center text-nowrap">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for recibo_cc in contexto_recibos_caja_chica %}
                <tr>
                    <td>{{ recibo_cc.concepto }}</td>
                    <td class="text-end">{{ recibo_cc.moneda.simbolo }} {{ recibo_cc.monto|redondear|intcomma }}</td>
                    <td class="text-end">{{ recibo_cc.moneda.simbolo }} {{ recibo_cc.monto_pagado|redondear|intcomma }}</td>
                    <td>{{ recibo_cc.fecha_pago|date:'d/m/Y' }}</td>
                    <td>{{ recibo_cc.get_estado_display }}</td>
                    <td class="text-center text-nowrap">                    
                        {% if contexto_cheque_detalle.estado == 3 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_caja_chica_actualizar' contexto_cheque_detalle.id recibo_cc.id %}"
                                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                        {% if contexto_cheque_detalle.estado == 1 %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_recibo_caja_chica_remover' contexto_cheque_detalle.id recibo_cc.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end">Total:</td>
                {% if total_caja_chica %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_caja_chica|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_caja_chica_pagado|redondear|intcomma }}</td>
                {% else %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                {% endif %}
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br>
<h3> Requerimientos
</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Concepto</th>
                <th class="text-end">Monto</th>
                <th class="text-end">Monto Usado</th>
                <th>Fecha Entrega</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for requerimiento in contexto_requerimientos %}
                <tr>
                    <td>{{ requerimiento.concepto_final }}</td>
                    <td class="text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.monto|redondear|intcomma }}</td>
                    <td class="text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.monto_usado|redondear|intcomma }}</td>
                    <td>{{ requerimiento.fecha_entrega|date:'d/m/Y' }}</td>
                    <td>{{ requerimiento.get_estado_display }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_cheque_detalle.estado == 3 and requerimiento.estado == 3 %}
                            <button data-form-url="{% url 'caja_chica_app:requerimiento_entregar' requerimiento.id %}"
                            data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Entregar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        {% endif %}
                        {% if requerimiento.vouchers %}
                            <button data-form-url="{% url 'caja_chica_app:requerimiento_vouchers' requerimiento.id %}"
                                class="read btn btn-info btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Vouchers">
                                <i class="bi bi-image-fill"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>    
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end">Total:</td>
                {% if total_requerimiento %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_requerimiento|redondear|intcomma }}</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_requerimiento_usado|redondear|intcomma }}</td>
                {% else %}
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                {% endif %}
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br>

{% if contexto_cheque_detalle.estado > 1 %}
    <h3> Cheque Físico
        {% if contexto_cheque_detalle.estado == 2 %}
            <button data-form-url="{% url 'contabilidad_app:cheque_fisico_registrar' contexto_cheque_detalle.id %}"
                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                class="create badge bg-primary">
                Registrar
            </button>
        {% endif %}
    </h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Banco</th>
                    <th>Nro. Cheque</th>
                    <th>Sociedad</th>
                    <th>Responsable</th>
                    <th class="text-end">Monto</th>
                    <th>Fecha Emisión</th>
                    <th class="text-end">Comisión</th>
                    <th class="text-end">Monto Recibido</th>
                    <th>Fecha Cobro</th>
                    <th>Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cheque_fisico in contexto_cheques_fisicos %}
                    <tr>
                        <td>{{ cheque_fisico.banco }}</td>
                        <td>{{ cheque_fisico.numero }}</td>
                        <td>{{ cheque_fisico.sociedad }}</td>
                        <td>
                            {% if cheque_fisico.responsable.first_name %}
                                {{ cheque_fisico.responsable.first_name}} {{ cheque_fisico.responsable.last_name}}
                            {% else %}
                                {{ cheque_fisico.responsable }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap text-end">{{ cheque_fisico.moneda.simbolo  }} {{ cheque_fisico.monto|redondear|intcomma  }}</td>
                        <td>{{ cheque_fisico.fecha_emision|date:'d/m/Y' }}</td>
                        <td class="text-nowrap text-end">{{ cheque_fisico.moneda.simbolo  }} {{ cheque_fisico.comision|redondear|intcomma  }}</td>
                        <td class="text-nowrap text-end">{{ cheque_fisico.moneda.simbolo  }} {{ cheque_fisico.monto_recibido|redondear|intcomma  }}</td>
                        <td>{{ cheque_fisico.fecha_cobro|date:'d/m/Y' }}</td>
                        <td>{{ cheque_fisico.get_estado_display }}</td>
                        <td class="text-nowrap text-center">
                            {% if cheque_fisico.estado == 1 %}
                                <button data-form-url="{% url 'contabilidad_app:cheque_fisico_actualizar' cheque_fisico.id %}"
                                    data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                    data-keep-open="true"
                                    class="update btn btn-warning btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button data-form-url="{% url 'contabilidad_app:cheque_fisico_eliminar' cheque_fisico.id %}"
                                    class="delete btn btn-danger btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            {% endif %}
                            {% if contexto_cheque_detalle.estado == 2 %}
                                <button data-form-url="{% url 'contabilidad_app:cheque_fisico_cobrar' cheque_fisico.id %}"
                                    data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                    data-keep-open="true"
                                    class="update btn btn-success btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Cobrar">
                                    <i class="bi bi-wallet2"></i>
                                </button>
                            {% endif %}
                            {% if cheque_fisico.foto %}
                                <a class="btn btn-info btn-sm" href="{{ MEDIA_URL }}{{ cheque_fisico.foto }}" target="_blank" role="button" title="Ver foto"><i class="bi bi-image-fill"></i></a>
                            {% endif %}
                        </td>
                    </tr>    
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end">Total:</td>
                    {% if total_cheque_fisico %}
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_cheque_fisico|redondear|intcomma }}</td>
                    {% else %}
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    {% endif %}
                    <td></td>
                    {% if total_cheque_fisico %}
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_cheque_fisico_comision|redondear|intcomma }}</td>
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} {{ total_cheque_fisico_recibido|redondear|intcomma }}</td>
                    {% else %}
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                        <td class="text-end">{{ contexto_cheque_detalle.moneda.simbolo }} 0.00</td>
                    {% endif %}
                    <td colspan="3"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <h3>Vueltos Extra
        {% if contexto_cheque_detalle.estado == 2 %}
            <button data-form-url="{% url 'contabilidad_app:cheque_vuelto_extra_agregar' contexto_cheque_detalle.id %}"
                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                class="delete badge bg-primary">
                Registrar
            </button>
        {% endif %}
    </h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-end">Vuelto en Efectivo</th>
                    <th class="text-end">Tipo de Cambio</th>
                    <th class="text-end">Vuelto en el Cheque</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for vuelto_extra in contexto_vuelto_extra %}
                    <tr>
                        <td class="text-end">{{ vuelto_extra.moneda.simbolo }} {{ vuelto_extra.vuelto_original|redondear|intcomma }}</td>
                        <td class="text-end">{{ vuelto_extra.tipo_cambio }}</td>
                        <td class="text-end">{{ vuelto_extra.cheque.moneda.simbolo }} {{ vuelto_extra.vuelto_extra|redondear|intcomma }}</td>
                        <td class="text-nowrap text-center">
                            {% if contexto_cheque_detalle %}
                            <button data-form-url="{% url 'contabilidad_app:cheque_vuelto_extra_editar' vuelto_extra.id %}"
                                data-table-url="{% url 'contabilidad_app:cheque_detalle_tabla' contexto_cheque_detalle.id %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button data-form-url="{% url 'contabilidad_app:cheque_vuelto_extra_eliminar' vuelto_extra.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi bi-x-lg"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}