{% extends 'base.html' %}
{% load humanize %}

{% block titulo %}
{{ contexto_cheque_detalle.concepto }}
{% endblock titulo %}
    
{% block contenido %}
    <h3>{{ contexto_cheque_detalle.concepto }} | {{ contexto_cheque_detalle.usuario.username }}</h3>
    <h3>
        <a href="{% url 'contabilidad_app:cheque_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
    </h3>
    <br>
    <div id="tabla">
        {% include 'contabilidad/cheque/detalle_tabla.html' %}
    </div>
    
{% endblock contenido %}
    