.login {
    margin-top: 10rem;
    margin-left: 1rem;
    padding: 2rem;
    border: black;
    border-style: solid;
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
}

.logo-menu{
    height: 2em;
    width: 2em;
    margin: 0.1em;
    filter: invert(32%) sepia(83%) saturate(7437%) hue-rotate(354deg) brightness(94%) contrast(124%);
}

.nobull {
    list-style-type: none;
}