.login {
    margin-top: 10rem;
    margin-left: 1rem;
    padding: 2rem;
    border: black;
    border-style: solid;
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
}

.logo-menu{
    height: 2em;
    width: 2em;
    margin: 0.1em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.logo-sub-menu{
    height: 1.5em;
    width: 1.5em;
    margin: 0.1em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.logo-link{
    height: 1em;
    width: 1em;
    margin: 0.1em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.nobull {
    list-style-type: none;
}