{% load funciones_propias %}
{% load humanize %}

<div class="table-responsive">

<table class="table">
    <tr>
        <th>Pregunta</th>
        <th>Respuestas</th>
    </tr>

    {% for pregunta, respuestas in respuesta_detalle.items %}
    <tr>
        <td>{{ pregunta }}</td>
        <td>
            <ul>
                {% for respuesta in respuestas %}
                <li>
                    {{ respuesta }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}

</table>
