{% load humanize %}
{% load funciones_propias %}

<div class="row mt-3">
    <div class=" table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Razón Social:</th>
                    <td>{{ contexto_despacho_detalle.cliente.razon_social }}</td>
                    <th class="px-2">Nota de Salida:</th>
                    <td>{{ contexto_despacho_detalle.nota_salida }}</td>
                    <th class="px-2">Fecha:</th>
                    <td>{{ contexto_despacho_detalle.fecha_despacho|date:'d/m/Y' }}</td>
                    <th class="px-2">Motivo de Anulación:</th>
                    <td>
                        {% if contexto_despacho_detalle.motivo_anulacion %}    
                        {{ contexto_despacho_detalle.motivo_anulacion }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">{{ contexto_despacho_detalle.cliente.documento }}:</th>
                    <td>
                        {% if contexto_despacho_detalle.cliente.numero_documento %}
                            {{ contexto_despacho_detalle.cliente.numero_documento }}
                        {% endif %}
                    </td>
                    <th class="px-2">Número de Despacho:</th>
                    <td>{{ contexto_despacho_detalle.numero_despacho|numeroXn:6 }}</td>
                    <th class="px-2">Observación:</th>
                    <td>
                        {% if contexto_despacho_detalle.observacion %}
                        {{ contexto_despacho_detalle.observacion }}
                        {% endif %}
                    </td>
                    <th class="px-2">Estado:</th>
                    <td>{{ contexto_despacho_detalle.get_estado_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row mt-3">
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ contexto_despacho_detalle.sociedad.color }};">OBSERVACIONES {{ contexto_despacho_detalle.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if contexto_despacho_detalle.observacion %}
                            {{ contexto_despacho_detalle.observacion|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad Despachada</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td>{{ material.producto }}</td>
                    <td>{{ material.unidad }}</td>
                    <td class="text-end">{{ material.cantidad_despachada|redondear|intcomma }}</td>
                    <td>
                        {% if material.estado %}
                            {{ material.get_estado_display}}
                        {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>