{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Despacho
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Despacho
        {% if contexto_despacho_detalle.estado == 1 %}
            <button data-form-url="{% url 'logistica_app:despacho_concluir' contexto_despacho_detalle.id %}"
                class="delete badge bg-primary">
                Concluir Despacho
            </button> 
            <button data-form-url="{% url 'logistica_app:despacho_actualizar' contexto_despacho_detalle.id %}"
                data-table-url="{% url 'logistica_app:despacho_detalle_tabla' contexto_despacho_detalle.id %}"
                class="create badge bg-primary">
                Fecha de Despacho
            </button> 
        {% endif %}
        {% if contexto_despacho_detalle.estado == 2 %}
            <button data-form-url="{% url 'logistica_app:despacho_finalizar_sin_guia' contexto_despacho_detalle.id %}"
                class="delete badge bg-primary">
                Finalizar sin Guia
            </button> 
            <button data-form-url="{% url 'logistica_app:despacho_generar_guia' contexto_despacho_detalle.id %}"
                class="delete badge bg-primary">
                Generar Guia
            </button>
        {% endif %}
        {% if contexto_despacho_detalle.estado == 5 %}
            <a href="{{ url_guia }}"><span class="badge bg-primary">Ver Guía</span></a>
        {% endif %}
        {% if contexto_despacho_detalle.estado == 2 or contexto_despacho_detalle.estado == 4 or contexto_despacho_detalle.estado == 6 %}
            <button data-form-url="{% url 'logistica_app:despacho_anular' contexto_despacho_detalle.id %}"
                class="delete badge bg-danger">
                Anular Despacho
            </button>
        {% endif %}
        {% if contexto_despacho_detalle.estado == 2 or contexto_despacho_detalle.estado == 4 or contexto_despacho_detalle.estado == 6 %}
            <button data-form-url="{% url 'logistica_app:despacho_corregir' contexto_despacho_detalle.id %}"
                class="delete badge bg-danger">
                Corregir Despacho
            </button>
        {% endif %}
        
        <a href="{% url 'logistica_app:nota_salida_detalle' contexto_despacho_detalle.nota_salida.id %}"><span class="badge bg-primary">Ver Nota de Salida</span></a>
        <a href="{% url 'logistica_app:nota_salida_series_pdf' contexto_despacho_detalle.nota_salida.id %}" target="_blank"><span class="badge bg-info">Ver Series</span></a>
        <a href="{% url 'logistica_app:despacho_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
    </h3>

    <div id="tabla">
        {% include 'logistica/despacho/detalle_tabla.html' %}
    </div>
{% endblock contenido %}
