{% load funciones_propias %}
<table class="table">
    <thead>
        <tr>
            <th>Nro. Despacho</th>
            <th>Cliente</th>
            <th>Fecha de Despacho</th>
            <th>Observación</th>
            <th>Motivo Anulación</th>
            <th>Estado</th>
            <th>Creación</th>
            <th>Modificación</th>
            <th class="text-center">Acciones</th>

        </tr>
    </thead>
    
    <tbody>
        {% for despacho in contexto_despacho %}
        <tr>
            <td> {{ despacho.numero_despacho|numeroXn:6 }} </td>
            <td> {{ despacho.cliente  }} </td>
            <td> {{ despacho.fecha_despacho|date:'d/m/Y' }} </td>
            <td>
                {% if despacho.observacion %}  
                    {{ despacho.observacion }}    
                {% endif %}  
            </td>
            <td>
                {% if despacho.motivo_anulacion %}  
                    {{ despacho.motivo_anulacion }}    
                {% endif %}  
            </td>
            <td>{{ despacho.get_estado_display }}</td>
            <td>{{ despacho.created_by|nombre_usuario }}: {{ despacho.created_at|date:'d/m/Y H:i' }}</td>
            <td>{{ despacho.updated_by|nombre_usuario }}: {{ despacho.updated_at|date:'d/m/Y H:i' }}</td>
            <td class="text-center">
                {% if despacho.estado == 1 %}
                    <button data-form-url="{% url 'logistica_app:despacho_actualizar' despacho.id %}"
                        data-table-url="{% url 'logistica_app:despacho_tabla' %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                {% endif %}
                {% if despacho.estado == 2 or despacho.estado == 4 or despacho.estado == 6 %}
                    <button data-form-url="{% url 'logistica_app:despacho_anular' despacho.id %}"
                        data-table-url="{% url 'logistica_app:despacho_tabla' %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Anular Nota de Salida">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
                {% endif %}
                <a href="{% url 'logistica_app:despacho_detalle' despacho.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
            </td>
        </tr> 
        {% endfor %}
            
    </tbody>
</table>
