{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Despacho
{% endblock titulo %}

{% block contenido %}
    <h3>Despacho</h3>

    <form id="formulario" action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
    </form>

    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'logistica/despacho/inicio_tabla.html' %}
    </div>
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}

{% block extrajs %}
    <script>
        $(function () {

            $("#id_cliente").select2({
                width: '100%',
                matcher: buscar_select2
            });
            
        });

        function select_form() {
            combos = document.getElementsByClassName('select2');
            for (let index = 0; index < combos.length; index++) {
                const element = combos[index];
                element.className = element.className.replace('select2-container--default select2-container--focus', 'form-control');
                element.className = element.className.replace('select2-container--default', 'form-control');
                element.className = element.className.replace('select2-container--focus', '');
                element.className = element.className.replace('select2-selection--single', '');
            }
        }

        setTimeout(() => {
            select_form();
        }, 500);
    </script>
{% endblock extrajs %}