<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Fecha de Alta</th>
            <th>Fecha de Baja</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        {% for historicouser in contexto_historicouser %}
        <tr>
            <td>{{ historicouser.id }}</td>
            <td>{{ historicouser.usuario }}</td>
            <td>{{ historicouser.fecha_alta|date:'d/m/Y' }}</td>
            <td>{{ historicouser.fecha_baja|date:'d/m/Y' }}</td>
            <td>{{ historicouser.get_estado_display}}</td>
                         
            <td>
            {% if historicouser.estado == 1 %}                   
                <button data-form-url="{% url 'usuario_app:baja_usuarios' historicouser.id %}"
                    data-table-url="{% url 'usuario_app:historico_usuarios_tabla' %}"
                    class="update btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                </button>
            {% else %}
                <button data-form-url="{% url 'usuario_app:alta_usuarios' historicouser.usuario.id %}"
                    data-table-url="{% url 'usuario_app:historico_usuarios_tabla' %}"
                    class="update btn btn-success btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                </button>
            {% endif %}


                <a href="{% url 'usuario_app:historico_usuarios_detalle' historicouser.usuario.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>