{% load funciones_propias %}
{% load humanize %}

<h3>Detalle Traspaso Stock
    {% if contexto_traspaso_stock.estado == 1 %}
        <button data-form-url="{% url 'traslado_producto_app:traspaso_stock_detalle_registrar' contexto_traspaso_stock.id %}"
            data-table-url="{% url 'traslado_producto_app:traspaso_stock_detalle_tabla' contexto_traspaso_stock.id %}"
            class="create badge bg-primary">
            Agregar Material
        </button>
        <button data-form-url="{% url 'traslado_producto_app:traspaso_stock_concluir' contexto_traspaso_stock.id %}"
            class="delete badge bg-primary">
            Concluir Traspaso Stock
        </button>
    {% endif %}
    <a href="{% url 'traslado_producto_app:traspaso_stock_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>


<div class="row">
    <div class="table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">Número de Traspaso: </th>
                    <td>{{ contexto_traspaso_stock.nro_traspaso|numeroXn:6 }}</td>
                    <th class="px-2">Encargado: </th>
                    <td>{{ contexto_traspaso_stock.encargado }}</td>
                    <th class="px-2">Sede: </th>
                    <td>{{ contexto_traspaso_stock.sede }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Almacén</th>
                <th>Tipo Stock Inicial</th>
                <th class="text-end">Cantidad</th>
                <th>Tipo Stock Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in contexto_traspaso_stock_detalle %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td>{{ material.material }}</td>
                    <td>{{ material.almacen }}</td>
                    <td>{{ material.tipo_stock_inicial }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                    <td>{{ material.tipo_stock_final }}</td>
                    <td class="text-center text-nowrap">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>