<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Tipo Documento</th>
            <th>DNI</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Ticket</th>
            <th>Premio</th>
            <th>Modificar</th>
        </tr>
    </thead>
    <tbody>      
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.fecha|date:'d/m/Y' }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.get_tipo_documento_display }}</td>
            <td>{{ usuario.numero_documento }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>
                {% if usuario.correo %}
                {{ usuario.correo }}
                {% endif %}    
            </td>
            <td>
                {% if usuario.empresa %}
                {{ usuario.empresa }}
                {% endif %} 
            </td>
            <td>{{ usuario.ticket }}</td>
            <td class="text-nowrap">
                {% if usuario.premio %}
                {{ usuario.premio }}
                {% endif %}
            </td>
            <td>
                <button data-form-url="{% url 'sorteo_aptc_app:respuesta_usuarioaptc_actualizar' usuario.id %}"
                    data-keep-open="false"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
