{% extends 'includes/formulario generico.html' %}
{% load static %}    

{% block js %}
    <script src="{% static 'js/activos/form_devolucion_activo.js' %}?{{ cache_bust }}"></script>
    <script>
        $(function () {
            $("#id_asignacion").select2({
                width:'100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });            
            $("#id_activo").select2({
                width:'100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });
            });
    </script>
{% endblock js %}