{% load funciones_propias %}
{% load humanize %}
<br>

{% if contexto_pregunta_crm.tipo_pregunta != 3 %}    

<h3>Alternativas | {{ contexto_pregunta_crm.get_tipo_pregunta_display }}

    
    {% if contexto_pregunta_crm.id not in lista_preguntas %}
    <button data-form-url="{% url 'crm_app:alternativa_registrar' contexto_pregunta_crm.id %}"
        data-table-url="{% url 'crm_app:pregunta_crm_detalle_tabla' contexto_pregunta_crm.id %}"
        class="create badge bg-success">
        Registrar alternativa
    </button>    
    {% endif %}

</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Texto</th>
                <th>Valor</th>
                <th>Mostrar</th>
                <th>Fecha Registro</th>
                <th>Registrado por</th>
                <th>Fecha Modificación</th>
                <th>Modificado por</th>
                {% if contexto_pregunta_crm.id not in lista_preguntas %}
                <th class="text-center">Acciones</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for alternativa in alternativas %}
            <tr>
                <td>{{ alternativa.orden }}</td>
                <td>{{ alternativa.texto }}</td>
                <td>{{ alternativa.valor }}</td>
                <td>{{ alternativa.mostrar }}</td>
                <td>{{ alternativa.created_at|date:'d/m/Y'}}</td>
                <td>{{ alternativa.created_by|nombre_usuario }}</td>
                <td>{{ alternativa.updated_at|date:'d/m/Y'}}</td>
                <td>{{ alternativa.updated_by|nombre_usuario }}</td>

                {% if contexto_pregunta_crm.id not in lista_preguntas %}
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'crm_app:alternativa_actualizar' alternativa.id %}"
                        data-table-url="{% url 'crm_app:pregunta_crm_detalle_tabla' contexto_pregunta_crm.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button data-form-url="{% url 'crm_app:alternativa_eliminar' alternativa.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endif %}

{% if contexto_pregunta_crm.tipo_pregunta == 3 %}   
    En la pregunta de tipo ABIERTA no exiten alternativas.
{% endif %}
