{% extends 'includes/eliminar generico.html' %}    

{% block abajo %}
<table class="table">
    <tbody>
        <tr>
            <th>Nombre de Documento</th>
            <td class="text-center">{{ contexto_documento.nombre_documento }}</td>
        </tr>
        <tr>
            <th>Descripción del documento</th>
            <td class="text-center">{{ contexto_documento.descripcion_documento }}</td>
        </tr>
        <tr>
            <th>Documento</th>
            <td class="text-center"><a href="{{ MEDIA_URL }}{{ contexto_documento.documento }}" target="_blank">Ver Documento</a></td>
        </tr>
    </tbody>
</table>
{% endblock abajo %}