{% load humanize %}
{% load funciones_propias %}
<a href="{{ regresar }}" class="btn btn-danger">Regresar</a>

{% if contexto_nota_stock_inicial.estado == 1 %}
<button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_guardar' contexto_nota_stock_inicial.id %}"
    class="delete btn btn-primary">
    Guardar
</button>
{% endif %}

{% if contexto_nota_stock_inicial.estado == 2 %}
<button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_anular' contexto_nota_stock_inicial.id %}"
    class="delete btn btn-danger">
    Anular
</button>
<a href="{% url 'nota_ingreso_app:nota_ingreso_lista_nota_stock_inicial' contexto_nota_stock_inicial.id %}" class="btn btn-primary">Ver Notas de Ingreso</a>
<button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_generar_nota_ingreso' contexto_nota_stock_inicial.id %}"
    class="delete btn btn-primary">
    Generar Nota de Ingreso
</button>
{% endif %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Número de Ingreso</th>
                <th>Sociedad</th>
                <th>Usuario</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_nota_stock_inicial.fecha_ingreso|date:'d/m/Y' }}</td>
                <td>{{ contexto_nota_stock_inicial.nro_nota_stock_inicial|numeroXn:6 }}</td>
                <td>{{ contexto_nota_stock_inicial.sociedad }}</td>
                <td>{{ contexto_nota_stock_inicial.created_by }}</td>
                <td class="text-center">
                    {{ contexto_nota_stock_inicial.get_estado_display }}
                    {% if contexto_nota_stock_inicial.motivo_anulacion %}
                        - {{ contexto_nota_stock_inicial.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>
    {% if contexto_nota_stock_inicial.observaciones %}
    {{ contexto_nota_stock_inicial.observaciones }}
    {% endif %}
</p>
<br>
<h3>Materiales</h3>

{% if contexto_nota_stock_inicial.estado == 1 %}
<button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_agregar_material' contexto_nota_stock_inicial.id %}"
    data-table-url="{% url 'nota_ingreso_app:nota_stock_inicial_detalle_tabla' contexto_nota_stock_inicial.id %}"
    class="create btn btn-primary">
    Agregar Material
</button>
{% endif %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Cantidad Contada</th>
                <th>Pendiente</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad_total|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.cantidad_contada|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.pendiente|redondear|intcomma }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_nota_stock_inicial.estado == 1 %}
                        <button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_actualizar_material' material.id %}"
                            data-table-url="{% url 'nota_ingreso_app:nota_stock_inicial_detalle_tabla' contexto_nota_stock_inicial.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'nota_ingreso_app:nota_stock_inicial_eliminar_material' material.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-x-lg"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>