{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Orden Compra
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Orden Compra         
        <button onclick="history.back()" class="create btn btn-primary">Regresar</button>
    </h3>

    
    {% if contexto_orden_compra.estado != 3 %}
    <button data-form-url="{% url 'orden_compra_app:orden_compra_nueva_version' contexto_orden_compra.id %}"
        data-table-url="{% url 'orden_compra_app:orden_compra_tabla' %}"
        class="delete btn btn-primary">
        Nueva Versión
    </button>
    {% endif %}
    
    
    {% if contexto_orden_compra.estado < 2  %}
    <button data-form-url="{% url 'orden_compra_app:orden_compra_enviar_correo' contexto_orden_compra.slug %}"
        data-table-url="{% url 'orden_compra_app:orden_compra_tabla' %}"
        class="delete btn btn-primary">
        Enviar Correo
    </button>
    {% endif %}


    {% if contexto_orden_compra.estado == 2 %}
    <button data-form-url="{% url 'orden_compra_app:orden_compra_generar_comprobante_compra_total' contexto_orden_compra.slug %}"
        data-table-url="{% url 'orden_compra_app:orden_compra_tabla' %}"
        class="delete btn btn-primary">
        Generar Comprobante Total
    </button>
    {% endif %}
    
    
    {% if contexto_orden_compra.estado == 3 %}
        <a href="{% url 'orden_compra_app:orden_compra_pdf_anular' contexto_orden_compra.slug  %}" target="_blank"><span class="btn btn-primary">Motivo Anulación</span></a>
    {% endif %}
        
    <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>N° Orden Compra</th>
                    <th>Proveedor</th>
                    <th>Interlocutor</th>
                    <th>Estado</th>
                    <th>Motivo de Anulación</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ contexto_orden_compra.fecha_orden|date:'d/m/Y' }}</td>
                    <td>{{ contexto_orden_compra.numero_orden_compra }}</td>
                    <td>{{ contexto_orden_compra.proveedor }}</td>
                    <td>{{ contexto_orden_compra.interlocutor }}</td>
                    <td>{{ contexto_orden_compra.get_estado_display }}</td>
                    
                    {% if  contexto_orden_compra.motivo_anulacion  %}
                    <td>{{ contexto_orden_compra.motivo_anulacion }}</td>
                        
                    {% endif %}
                    <td> - </td>
                        

                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <h3>Materiales</h3>
    {% if contexto_orden_compra.estado == 0 %}
    <button data-form-url="{% url 'orden_compra_app:orden_compra_agregar_material' contexto_orden_compra.id %}"
    data-table-url="{% url 'orden_compra_app:orden_compra_detalle_tabla' contexto_orden_compra.id %}"
    class="create btn btn-primary">
    Agregar Material
    </button>
    {% endif %} 


    <div id="tabla">
        {% include 'orden_compra/orden_compra/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
