{% load humanize %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Tipo IGV</th>
                <th>Cantidad</th>
                <th>Prec. Unit. sin IGV</th>
                <th>Prec. Unit. con IGV</th>
                <th>Prec. Final con IGV</th>
                <th>Descuento</th>
                <th>Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <td>Item</td>
            <td>Material</td>
            <td>Unidad</td>
            <td>Tipo IGV</td>
            <td>Cantidad</td>
            <td>Prec. Unit. sin IGV</td>
            <td>Prec. Unit. con IGV</td>
            <td>Prec. Final con IGV</td>
            <td>Descuento</td>
            <td>Sub Total</td>
            <td>IGV</td>
            <td>Total</td>
            <td>Acciones</td>
        </tbody>
  
    </table>
</div>
<br>
