{% load funciones_propias %}
{% load humanize %}

<div class="table-responsive">
    <table class="table">
        <thead class="fondo-personalizado" style="--color-fondo: {{ contexto_orden_compra.sociedad.color }};">
            <tr>
                <th>Item</th>
                <th>Descripción Español</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Unidad</th>
                <th>Tipo IGV</th>
                <th>Cantidad</th>
                <th>Prec. Unit. sin IGV</th>
                <th>Prec. Unit. con IGV</th>
                <th>Prec. Final con IGV</th>
                <th>Descuento</th>
                <th>Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in orden_compra_detalle  %}
            <tr>
                <td> {{ detalle.item }} </td>
                <td> {{ detalle.material }} </td>
                <td>
                    {% if detalle.proveedor_material %}
                    {{ detalle.proveedor_material.name }}
                    {% endif %}
                </td>
                <td>
                    {% if detalle.proveedor_material %}
                    {{ detalle.proveedor_material.brand }}
                    {% endif %}
                </td>
                <td>
                    {% if detalle.proveedor_material %}
                    {{ detalle.proveedor_material.description }}
                    {% endif %}
                </td>
                <td> {{ detalle.material.unidad_base }}</td>
                <td> {{ detalle.get_tipo_igv_display }} </td>
                <td class="text-end text-nowrap">{{ detalle.cantidad|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.precio_unitario_sin_igv|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.precio_unitario_con_igv|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.precio_final_con_igv|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.descuento|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.sub_total|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.igv|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ contexto_orden_compra.moneda.simbolo }} {{ detalle.total|redondear|intcomma }}</td>
                <td class="text-center text-nowrap">
                    {% if contexto_orden_compra.estado == 1 %}
                    <button data-form-url="{% url 'orden_compra_app:orden_compra_actualizar_material' detalle.id %}"
                        data-table-url="{% url 'orden_compra_app:orden_compra_detalle_tabla' contexto_orden_compra.slug %}"
                        class="delete btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    {% endif %}
                </td>
            </tr>
                
            {% endfor %}
                
        </tbody>
        <tfoot>
            <tr>
                {% if totales.descuento_global %}
                <td colspan="11" class="text-end">Descuento Global:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.descuento_global|intcomma }}</td>
                {% endif %}
            </tr>            
            <tr>                
                {% if totales.total_descuento %}
                <td colspan="11" class="text-end">Descuento Total:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_descuento|intcomma }}</td>
                {% endif %}
            </tr>           
             <tr>
                {% if totales.total_anticipo %}
                <td colspan="11" class="text-end">Anticipo:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_anticipo|intcomma }}</td>                  
                {% endif %}   
            </tr>
            <tr>
                {% if totales.total_exonerada %}
                <td colspan="11" class="text-end">Exonerada:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_exonerada|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_inafecta %}
                <td colspan="11" class="text-end">Inafecta:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_inafecta|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_gravada %}
                <td colspan="11" class="text-end">Gravada:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_gravada|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_igv %}
                <td colspan="11" class="text-end">IGV:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_igv|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_gratuita %}
                <td colspan="11" class="text-end">Gratuita:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_gratuita|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_otros_cargos %}
                <td colspan="11" class="text-end">Otros Cargos:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_otros_cargos|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if totales.total_icbper %}
                <td colspan="11" class="text-end">ICBPER:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total_icbper|intcomma }}</td>
                {% endif %}
            </tr>
            <tr>
                <td colspan="11" class="text-end">Total:</td>
                <td class="text-end">{{ contexto_orden_compra.moneda.simbolo }} {{ totales.total|intcomma }}</td>
            </tr>
        </tfoot>


  
    </table>
</div>
<br>
