<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° de Orden</th>
            <th>Proveedor</th>
            <th>Interlocutor</th>
            <th>Estado</th>  
            <th class="text-center">Acciones</th>      
        </tr>
    </thead>
    
    <tbody>
        {% for orden_compra in contexto_orden_compra %}
        <tr> 
            <td>{{ orden_compra.fecha_orden|date:'d/m/Y' }}</td>
            <td>
                {% if orden_compra.numero_orden_compra != None %}
                    {{ orden_compra.numero_orden_compra}}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if orden_compra.oferta_proveedor.requerimiento_material.proveedor != None %}
                    {{ orden_compra.oferta_proveedor.requerimiento_material.proveedor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if orden_compra.oferta_proveedor.requerimiento_material.interlocutor_proveedor != None %}
                    {{ orden_compra.oferta_proveedor.requerimiento_material.interlocutor_proveedor }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ orden_compra.get_estado_display}}</td>
            <td class="text-nowrap">
                <a href="{% url 'orden_compra_app:orden_compra_detalle' orden_compra.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
                
                <button data-form-url="{% url 'orden_compra_app:orden_compra_eliminar' orden_compra.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                    <i class="bi-x-lg"></i>
                </button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

