{% load funciones_propias %}
{% load humanize %}

<h3>Nota Control Calidad Stock Detalle
    {% if contexto_nota_control_calidad_stock.estado == 1 %}
        <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_detalle_registrar' contexto_nota_control_calidad_stock.id %}"
            data-table-url="{% url 'calidad_app:nota_control_calidad_stock_detalle_tabla' contexto_nota_control_calidad_stock.id %}"
            data-keep-open="true"
            class="update badge bg-primary">
            Agregar Material
        </button>
        <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_concluir' contexto_nota_control_calidad_stock.id %}"
            class="delete badge bg-primary">
            Concluir Nota
        </button>
    {% endif %}
    {% if contexto_nota_control_calidad_stock.estado == 2 %}
        <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_registrar_series' contexto_nota_control_calidad_stock.id %}"
            class="delete badge bg-primary">
            Registrar Series
        </button>
    {% endif %}
    {% if contexto_nota_control_calidad_stock.estado == 3 %}
        <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_anular' contexto_nota_control_calidad_stock.id %}"
            class="delete badge bg-danger">
            Anular Nota
        </button>
    {% endif %}
    <a href="{% url 'calidad_app:nota_control_calidad_stock_series_pdf' contexto_nota_control_calidad_stock.id %}" target="_blank"><span class="badge bg-info">Ver Series</span></a>
    <a href="{% url 'calidad_app:nota_control_calidad_stock_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Ingreso:</th>
                <td>{{ contexto_nota_control_calidad_stock.nota_ingreso.fecha_ingreso|date:'d/m/Y' }}</td>
                <th>Nro. Comprobante Compra:</th>
                <td>{{ contexto_nota_control_calidad_stock.nota_ingreso.recepcion_compra }}</td>
                <th>Razón Social Proveedor:</th>
                <td>{{ contexto_nota_control_calidad_stock.nota_ingreso.recepcion_compra.proveedor }}</td>
                <th>Estado:</th>
                <td>{{ contexto_nota_control_calidad_stock.get_estado_display }}</td>
            </tr>
            <tr>
                <th>Sociedad:</th>
                <td colspan="7" class="fondo-personalizado" style="--color-fondo: {{ contexto_nota_control_calidad_stock.nota_ingreso.sociedad.color }};"> {{ contexto_nota_control_calidad_stock.nota_ingreso.sociedad }}</td>
            </tr>
        </thead>
    </table>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Descripción</th>
                <th>Almacén</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Series Registradas</th>
                <th>Estado de Inspección</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in nota_control_calidad_detalle %}
            <tr>
                <td>{{ material.item }}</td>
                <td>{{ material.material }} | Control calidad: {{ material.material.control_calidad }} | Control serie: {{ material.control_serie }} </td>
                <td>{{ material.nota_ingreso_detalle.almacen }}</td>
                <td class="text-end text-nowrap">{{ material.cantidad_calidad|redondear|intcomma }}</td>
                <td class="text-end text-nowrap">{{ material.series_calidad|redondear|intcomma }}</td>
                <td>{{ material.get_inspeccion_display}}</td>
                <td class="text-center text-nowrap">
                    
                    {% if contexto_nota_control_calidad_stock.estado == 1 %}
                    <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_detalle_actualizar' material.id %}"
                        data-table-url="{% url 'calidad_app:nota_control_calidad_stock_detalle_tabla' contexto_nota_control_calidad_stock.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button data-form-url="{% url 'calidad_app:nota_control_calidad_stock_detalle_eliminar' material.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    {% endif %}

                    {% if contexto_nota_control_calidad_stock.estado == 2 %}
                        {% if material.control_serie and material.inspeccion == 1 %}
                            <a href="{% url 'calidad_app:series_detalle' material.id %}"
                                class="btn btn-dark btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Series">
                                <i class="bi bi-upc-scan"></i>
                            </a>
                        {% elif material.control_serie and material.inspeccion == 2 %}
                            <a href="{% url 'calidad_app:series_detalle' material.id %}"
                                class="btn btn-dark btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Series y Fallas">
                                <i class="bi bi-upc-scan"></i>
                            </a>
                        {% elif material.control_serie == False and material.inspeccion == 2 %}
                            <a href="{% url 'calidad_app:series_detalle' material.id %}"
                                class="btn btn-dark btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Fallas">
                                <i class="bi bi-clipboard-x"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>