<header class="p-3 bg-dark text-white">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
            <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <button class="btn float-end text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="bi bi-menu-button-wide" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                    Menú
                </button>
            </div>
            
            <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <a href="{% url 'home_app:home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo-multiplay">
                    <img class="" src="https://www.multiplay.com.pe/img/header/20220530095828.png" alt="Logo" height="40">
                </a>
            </div>
    
            <div class="col-md-3 text-end">
            
            </div>
        </nav>
    </div>
</header>
  
  