{% extends 'base.html' %}

{% block titulo %}
    Recepción de Compra
{% endblock titulo %}

{% block contenido %}
    <h3>Recepción de Compra</h3>
    <a href="{% url 'nota_ingreso_app:nota_ingreso_lista' contexto_recepcion_compra.id %}" class="btn btn-primary">Ver Notas de Ingreso</a>
    <button data-form-url="{% url 'recepcion_compra_app:recepcion_compra_generar_nota_credito' contexto_recepcion_compra.id %}"
        class="delete btn btn-primary">
        Generar Nota de Ingreso
    </button>
    
    {% if contexto_recepcion_compra.estado == 1 %}
    <button data-form-url="{% url 'recepcion_compra_app:recepcion_compra_anular' contexto_recepcion_compra.id %}"
        class="delete btn btn-danger">
        Anular Recepción
    </button>
    
    {% if contexto_recepcion_compra.DocumentoReclamo_recepcion_compra.all %}
        <a href="{% url 'recepcion_compra_app:documento_reclamo_lista' contexto_recepcion_compra.id %}" class="btn btn-primary">Ver Documentos de Reclamo</a>    
    {% endif %}
        
    <button data-form-url="{% url 'recepcion_compra_app:recepcion_compra_generar_documento_reclamo' contexto_recepcion_compra.id %}"
        class="delete btn btn-primary">
        Generar Documento de Reclamo
    </button>
    {% endif %}
    <a href="{{ regresar }}" class="btn btn-danger">Regresar</a>
    <br>
    <div id="tabla">
        {% include 'recepcion_compra/recepcion_compra/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
