<h3>Datos de material</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Descripción venta</th>
                <th class="text-rigth">Descripción corta</th>
                <th class="text-rigth">Familia</th>
                <th class="text-rigth">Subfamilia</th>
                <th class="text-rigth">Unidad Base</th>
                <th class="text-rigth">Peso Unidad Base</th>
                <th class="text-rigth">Marca</th>
                <th class="text-rigth">Modelo</th>
                <th class="text-center">Clase</th>
                <th class="text-center">Control Serie</th>
                <th class="text-center">Control Lote</th>
                <th class="text-center">Control Calidad</th>
                <th class="text-center">Mostrar</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_material.descripcion_venta }}</td>
                <td>{{ contexto_material.descripcion_corta }}</td>
                <td>{{ contexto_material.subfamilia.familia }}</td>
                <td>{{ contexto_material.subfamilia }}</td>
                <td>{{ contexto_material.unidad_base }}</td>
                <td>{{ contexto_material.peso_unidad_base }}</td>

                <td class="text-center">
                    {% if contexto_material.marca != None %}
                        {{ contexto_material.marca }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.modelo != None %}
                        {{ contexto_material.modelo }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.clase != None %}
                        {{ contexto_material.clase }}
                    {% else %}
                        -
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.control_serie == True %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.control_lote == True %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.control_calidad == True %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if contexto_material.mostrar == True %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>

                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:material_actualizar' contexto_material.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

</br>

<h3>Datos de importación</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Traducción</th>
                <th class="text-rigth">Partida</th>
                <th class="text-rigth">Uso o funcion</th>
                <th class="text-rigth">Compuesto por</th>
                <th class="text-center">Es componente</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_material.traduccion }}</td>
                <td>{{ contexto_material.partida }}</td>
                <td>{{ contexto_material.uso_funcion }}</td>
                <td>{{ contexto_material.compuesto_por }}</td>
                <td class="text-center">
                    {% if contexto_material.es_componente == True %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:datos_importacion_actualizar' contexto_material.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

</br>

<h3>Producto SUNAT</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Segmento SUNAT</th>
                <th class="text-rigth">Familia SUNAT</th>
                <th class="text-rigth">Clase SUNAT</th>
                <th class="text-rigth">Producto SUNAT</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_material.producto_sunat.clase.familia.segmento }}</td>
                <td>{{ contexto_material.producto_sunat.clase.familia}}</td>
                <td>{{ contexto_material.producto_sunat.clase}}</td>
                <td>
                    {% if contexto_material.producto_sunat %}
                    {{ contexto_material.producto_sunat }}
                    {% else %}

                    {% endif %}
                </td>

                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:producto_sunat_actualizar' contexto_material.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true" data-modal="modal-xl"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

</br>

<h3>Componentes
    <button data-form-url="{% url 'material_app:componente_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Relacionar Componentes
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Componente</th>
                <th class="text-rigth">Cantidad</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for componente in componentes %}
            <tr>
                <td>{{ componente.componentematerial }}</td>
                <td>{{ componente.cantidad }}</td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:componente_actualizar' componente.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button data-form-url="{% url 'material_app:componente_eliminar' componente.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

</br>
<h3>Especificaciones
    <button data-form-url="{% url 'material_app:especificacion_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Relacionar Especificaciones
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Orden</th>
                <th class="text-rigth">Atributo</th>
                <th class="text-rigth">Valor</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for especificacion in especificaciones %}
            <tr>
                <td>{{ especificacion.orden }}</td>
                <td>{{ especificacion.atributomaterial }}</td>
                <td>{{ especificacion.valor }}</td>

                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:especificacion_actualizar' especificacion.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button data-form-url="{% url 'material_app:especificacion_eliminar' especificacion.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

</br>
<h3>Datasheet
    <button data-form-url="{% url 'material_app:datasheet_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Relacionar Datasheet
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Descripción</th>
                <th class="text-rigth">Archivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for datasheet in datasheets %}
            <tr>
                <td>{{ datasheet.descripcion }}</td>
                <td><a href="{{ MEDIA_URL }}{{ datasheet.archivo }}" target="_blank">Ver Archivo</a></td>

                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:datasheet_actualizar' datasheet.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button data-form-url="{% url 'material_app:datasheet_eliminar' datasheet.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

</br>
<h3>Imagen
    <button data-form-url="{% url 'material_app:imagen_material_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Relacionar Imagen
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Descripción</th>
                <th class="text-rigth">Imagen</th>
                <th class="text-center">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for imagen  in imagenes %}
            <tr>
                <td>{{ imagen.descripcion}}</td>
                <td><a href="{{ MEDIA_URL }}{{ imagen.imagen}}" target="_blank">Ver Imagen</a></td>

                <td class="text-center text-nowrap">
                    {% if imagen.estado_alta_baja == 1 %}
                        <button data-form-url="{% url 'material_app:imagen_material_actualizar' imagen.id %}"
                            data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button data-form-url="{% url 'material_app:imagen_material_baja' imagen.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% elif imagen.estado_alta_baja == 2 %}
                        <button data-form-url="{% url 'material_app:imagen_material_alta' imagen.id %}"
                            class="delete btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

</br>
<h3>Video
    <button data-form-url="{% url 'material_app:video_material_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Relacionar Video
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Descripción</th>
                <th class="text-rigth">Video</th>
                <th class="text-center">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for video  in videos %}
            <tr>
                <td>{{ video.descripcion}}</td>
                <td><a href="{{ video.url}}" target="_blank" >Ver Video</a></td>

                <td class="text-center text-nowrap">
                    {% if video.estado_alta_baja == 1 %}

                        <button data-form-url="{% url 'material_app:video_material_actualizar' video.id %}"
                            data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button data-form-url="{% url 'material_app:video_material_baja' video.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% elif video.estado_alta_baja == 2 %}
                        <button data-form-url="{% url 'material_app:video_material_alta' video.id %}"
                            class="delete btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

</br>
<h3>Equivalencia Unidad
    <button data-form-url="{% url 'material_app:equivalencia_unidad_material_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Equivalencia Unidad
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Cantidad base</th>
                <th class="text-rigth">Unidad Base</th>
                <th class="text-rigth">Cantidad nueva unidad</th>
                <th class="text-rigth">Nueva unidad</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equivalencia  in equivalencias %}
            <tr>
                <td>{{ equivalencia.cantidad_base}}</td>
                <td>{{ equivalencia.material.unidad_base}}</td>
                <td>{{ equivalencia.cantidad_nueva_unidad}}</td>
                <td>{{ equivalencia.nueva_unidad}}</td>
                <td class="text-center text-nowrap">

                    {% if equivalencia.estado_alta_baja == 1 %}
                        <button data-form-url="{% url 'material_app:equivalencia_unidad_material_actualizar' equivalencia.id %}"
                            data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button data-form-url="{% url 'material_app:equivalencia_unidad_material_baja' equivalencia.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% elif equivalencia.estado_alta_baja == 2 %}
                        <button data-form-url="{% url 'material_app:equivalencia_unidad_material_alta' equivalencia.id %}"
                            class="delete btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<br>

</br>
<h3>Proveedor Material
    <button data-form-url="{% url 'material_app:proveedor_material_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Proveedor Material
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Proveedor</th>
                <th class="text-rigth">Name</th>
                <th class="text-rigth">Brand</th>
                <th class="text-rigth">Descripción</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.proveedor}}</td>
                <td>{{ proveedor.name}}</td>
                <td>{{ proveedor.brand}}</td>
                <td>{{ proveedor.description}}</td>
                <td class="text-center text-nowrap">
                    {% if proveedor.estado_alta_baja == 1 %}
                        <button data-form-url="{% url 'material_app:proveedor_material_actualizar' proveedor.id %}"
                            data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button data-form-url="{% url 'material_app:proveedor_material_baja' proveedor.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% elif proveedor.estado_alta_baja == 2 %}
                        <button data-form-url="{% url 'material_app:proveedor_material_alta' proveedor.id %}"
                            class="delete btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

</br>
<h3>Idioma Material
    <button data-form-url="{% url 'material_app:idioma_material_registrar' contexto_material.id %}"
        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
        class="create badge bg-primary">
        Idioma Material
    </button>
    <a href="{% url 'material_app:material_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-rigth">Idioma</th>
                <th class="text-rigth">Traducción</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for idioma in idiomas %}
            <tr>
                <td>{{ idioma.idioma}}</td>
                <td>{{ idioma.traduccion}}</td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'material_app:idioma_material_actualizar' idioma.id %}"
                        data-table-url="{% url 'material_app:material_detalle_tabla' contexto_material.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
