{% extends 'includes/formulario generico.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'js/material/form_precio.js' %}?{{ cache_bust }}"></script>

    <script>
        $(function () {

            $("#id_familia").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });

            $("#id_subfamilia").select2({
                width:'100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2

            });

            $("#id_unidad_base").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });

            $("#id_marca").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });

            $("#id_modelo").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });
            });
    </script>

{% endblock js %}
