{% extends 'includes/formulario generico.html' %}
{% load static %}    

{% block js %}
    <script>
        $(function () {
            $("#id_producto_sunat").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2,
                ajax: {
                    url: "{% url 'material_app:producto_sunat_json' %}",
                    dataType: 'json',
                    type: "GET",
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.nombre}
                            })
                        };
                    }
                },
                minimumInputLength: 3,
            });
        });
    </script>
{% endblock js %}