<table class="table">
    <thead>
        <tr>
            <th>Descripción Venta</th>
            <th>Descripción Corta</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th class="text-center">Mostrar</th>
            <th class="text-center text-nowrap">Acciones</th>

        </tr>
    </thead>

    <tbody>
        {% for material in contexto_material %}
            <td>{{ material.descripcion_venta }}</td>
            <td>{{ material.descripcion_corta }}</td>
            <td>{{ material.marca }}</td>
            <td>{{ material.modelo }}</td>
            <td class="text-center">
            {% if material.mostrar %}
                SI
            {% else %}
                NO
            {% endif %}
            </td>

            <td class="text-center text-nowrap">
                {% if material.estado_alta_baja == 1 %}
                    <button data-form-url="{% url 'material_app:material_actualizar' material.id %}"
                        data-table-url="{% url 'material_app:material_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button data-form-url="{% url 'material_app:material_baja' material.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>

                {% elif material.estado_alta_baja == 2 %}
                    <button data-form-url="{% url 'material_app:material_alta' material.id %}"
                        class="delete btn btn-success btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                {% endif %}

                {% if material.estado_alta_baja == 1 %}
                    <a href="{% url 'material_app:material_detalle' material.id %}"
                        class="btn btn-info btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                {% endif %}
                
                <button data-form-url="{% url 'movimiento_almacen_app:ver_movimiento' material.id material.content_type.id %}"
                    class="read btn swatch-orange btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Movimientos">
                    <i class="bi bi-eyeglasses"></i>
                </button>

                <button data-form-url="{% url 'movimiento_almacen_app:ver_stock' material.id material.content_type.id %}"
                    class="read btn swatch-purple btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Stocks">
                    <i class="bi bi-box-seam"></i>
                </button>
                
                
                {% if material.control_serie %}
                <button data-form-url="{% url 'material_app:series' material.id %}"
                    class="read btn btn-dark btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Series">
                    <i class="bi bi-upc-scan"></i>
                </button>
                <a href="{% url 'material_app:series_ver' material.id %}"
                    class="read btn btn-dark btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Series">
                    <i class="bi bi-upc-scan"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
