<table class="table">
    <thead>
        <tr>
            <th>Descripción Venta</th>
            <th>Descripción Corta</th>
            <th>Modelo</th>
            <th class="text-center text-nowrap">Acciones</th>
        
        </tr>
    </thead>
    
    <tbody>
        {% for material in contexto_material %}
            <td>{{ material.descripcion_venta }}</td>
            <td>{{ material.descripcion_corta }}</td>
            <td>{{ material.marca }}</td>

            <td class="text-center text-nowrap">
                {% if material.estado_alta_baja == 1 %}
                    <button data-form-url="{% url 'material_app:material_actualizar' material.id %}"
                        data-table-url="{% url 'material_app:material_tabla' %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button data-form-url="{% url 'material_app:material_baja' material.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>

                {% elif material.estado_alta_baja == 2 %}
                    <button data-form-url="{% url 'material_app:material_alta' material.id %}"
                        class="delete btn btn-success btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                {% endif %}
                
                {% if material.estado_alta_baja == 1 %}
                    <a href="{% url 'material_app:material_detalle' material.id %}"
                        class="btn btn-info btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                        <i class="bi bi-eye-fill"></i>
                    </a>                
                {% endif %}


            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>