<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sociedad</th>
            <th>Fecha ingreso</th>

            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for datoscontratoplanilla in contexto_datoscontratoplanilla %}
        <tr>
            <td>
                {% if datoscontratoplanilla.usuario.first_name %}
                {{ datoscontratoplanilla.usuario.first_name}} {{ datoscontratoplanilla.usuario.last_name}}
                {% else %}
                {{ datoscontratoplanilla.usuario }}
                {% endif %}
            </td>
            <td>{{ datoscontratoplanilla.sociedad}}</td>
       
            </td>
            <td>{{ datoscontratoplanilla.fecha_alta|date:'d/m/Y' }}</td>

            <td>
                <button data-form-url="{% url 'colaborador_app:datos_contrato_planilla_actualizar' datoscontratoplanilla.id %}"
                    data-table-url="{% url 'colaborador_app:datos_contrato_planilla_tabla' %}"
                    class="update btn btn-warning btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                    <i class="bi bi-pencil-fill"></i>
                </button>

                {% if datoscontratoplanilla.estado_alta_baja == 1 %}                   
                    <button data-form-url="{% url 'colaborador_app:datos_contrato_planilla_baja' datoscontratoplanilla.id %}"
                        data-table-url="{% url 'colaborador_app:datos_contrato_planilla_tabla' %}"
                        class="update btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
               
                       
                {% endif %}
                        

            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>