{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Requerimiento Material
{% endblock titulo %}

{% block contenido %}
    <h3>Requerimiento Material
        <a href="{% url 'requerimiento_material_app:requerimiento_material_registrar' %}"
        class="badge bg-primary">
            Requerimiento Material
        </a>
    </h3>

    <div class="table-responsive" id="tabla">
        {% include 'requerimiento_material/requerimiento_material/inicio_tabla.html' %}
    </div>
{% endblock contenido %}