{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Notificaciones
{% endblock titulo %}

{% block contenido %}
    <h1>Notificaciones</h1>
    {% if no_leidas > 0 %}

    <p>Tienes {{ no_leidas }} notificaciones sin leer.</p>
    {% else %}

    <p>No tienes notificaciones sin leer.</p>
    {% endif %}

    <ul>
    {% for notificacion in notificaciones %}
        <li {% if not notificacion.leido %}class="no_leida"{% endif %}>
        <h3>{{ notificacion.titulo }}</h3>
        <p>{{ notificacion.mensaje }}</p>
        <p>Creado el {{ notificacion.creado_en }}</p>
        {% if not notificacion.leido %}
            <a href="{% url 'marcar_como_leido' notificacion.id %}">Marcar como leído</a>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock contenido %}