<h3>Interlocutores
    <button data-form-url="{% url 'clientes_app:interlocutor_registrar' contexto_clientes.id %}"
        data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
        class="create badge bg-primary">
        Registrar Interlocutor
    </button>
    <a href="{% url 'clientes_app:cliente_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Tipo de Interlocutor</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for interlocutor in interlocutores %}
            <tr>
                <td>{{ interlocutor.interlocutor.nombre_completo }}</td>
                <td>{{ interlocutor.tipo_interlocutor }}</td>
                <td class="text-center text-nowrap">
                    {% if interlocutor.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:interlocutor_actualizar' interlocutor.interlocutor.id %}"
                            data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'clientes_app:interlocutor_baja' interlocutor.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                        <a href="{% url 'clientes_app:interlocutor_detalle' interlocutor.interlocutor.id %}"
                            class="btn btn-info btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    {% elif interlocutor.estado == 2 %}
                        <button data-form-url="{% url 'clientes_app:interlocutor_alta' interlocutor.id %}"
                            class="delete btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Alta">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>Correos
    <button data-form-url="{% url 'clientes_app:correo_registrar' contexto_clientes.id %}"
        data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
        class="create badge bg-primary">
        Registrar Correo
    </button>
    <a href="{% url 'clientes_app:cliente_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Correo</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for correo in correos %}
            <tr>
                <td>{{ correo.correo }}</td>
                <td>{{ correo.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ correo.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if correo.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:correo_actualizar' correo.id %}"
                            data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'clientes_app:correo_baja' correo.id %}"
                            data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>Representantes Legales
    <button data-form-url="{% url 'clientes_app:representante_legal_asignar' contexto_clientes.id %}"
        data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
        class="create badge bg-primary">
        Asignar Representante Legal
    </button>
    <a href="{% url 'clientes_app:cliente_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Representante Legal</th>
                <th>Tipo de Representante Legal</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for representante in representantes_legales %}
            <tr>
                <td>{{ representante.interlocutor.nombre_completo }}</td>
                <td>{{ representante.get_tipo_representante_legal_display }}</td>
                <td>{{ representante.fecha_inicio|date:'d/m/Y' }}</td>
                <td>{{ representante.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ representante.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if representante.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:representante_legal_baja' representante.id %}"
                            data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>Locales Anexos
    <button data-form-url="{% url 'clientes_app:anexo_registrar' contexto_clientes.id %}"
        data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
        class="create badge bg-primary">
        Agregar Dirección
    </button>
    <a href="{% url 'clientes_app:cliente_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Ubigeo</th>
                <th>Fecha de Baja</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for anexo in anexos %}
            <tr>
                <td>{{ anexo.direccion }}</td>
                <td>{{ anexo.distrito }}</td>
                <td>{{ anexo.fecha_baja|date:'d/m/Y' }}</td>
                <td>{{ anexo.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if anexo.estado == 1 %}
                        <button data-form-url="{% url 'clientes_app:anexo_baja' anexo.id %}"
                            data-table-url="{% url 'clientes_app:cliente_detalle_tabla' contexto_clientes.id %}"
                            class="update btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                            <i class="bi bi-hand-thumbs-down-fill"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>