{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block contenido %}
    <h3>Clientes
        <button class="create badge bg-primary"
            data-form-url="{% url 'clientes_app:cliente_registrar' %}"
            data-table-url="{% url 'clientes_app:cliente_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}">
            Registrar Cliente
        </button>
    </h3>
    <br>
    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-success" href="{% url 'clientes_app:cliente_inicio' %}">Limpiar</a>
    </form>
    <br>

    {% include 'includes/paginador.html' %}
    
    <div class="table-responsive" id="tabla">
        {% include 'clientes/cliente/inicio_tabla.html' %}
    </div>
    
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}

{% block extrajs %}
<script>
    $(function () {

        $("#id_ubigeo").select2({
            width: '100%',
            matcher: buscar_select2,
            ajax: {
                url: "{% url 'datos_globales_app:distrito_json' %}",
                dataType: 'json',
                type: "GET",
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.nombre}
                        })
                    };
                }
            },
            minimumInputLength: 3,
        });
            
    });
    function select_form() {
        combos = document.getElementsByClassName('select2');
        for (let index = 0; index < combos.length; index++) {
            const element = combos[index];
            element.className = element.className.replace('select2-container--default select2-container--focus', 'form-control columna-grande');
            element.className = element.className.replace('select2-container--default', 'form-control columna-grande');
        }
    }

    setTimeout(() => {
        select_form();
    }, 500);
</script>
{% endblock extrajs %}