{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
Detalle Deuda
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Deuda - {{ contexto_deuda.0.cliente }}</h3>

    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-success" href="{% url 'cobranza_app:deudores_detalle' id_cliente %}">Limpiar</a>
    </form>
    <br>
    
    {% include 'includes/paginador.html' %}

    <div class="table-responsive" id="tabla">
        {% include 'cobranza/deudas/detalle tabla.html' %}
    </div>

    {% include 'includes/paginador inferior.html' %}

{% endblock contenido %}