{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}

{% block titulo %}
Detalle Deuda
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Deuda</h3>

    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Fecha</th>
                    <th>Documento</th>
                    <th class="text-end">Total</th>
                    <th class="text-end">Amortizado</th>
                    <th class="text-end">Deuda</th>
                    <th class="text-center">Fecha de Vencimiento</th>
                    <th>Estado</th>
                    <th class="text-center text-nowrap">Acciones</th>
                </tr>
            </thead>
        
            <tbody>
                {% for deuda in contexto_deuda %}
                <tr>
                    <td class="text-center">{{ deuda.fecha_deuda|date:'d/m/Y' }}</td>
                    <td>
                        {% if deuda.Cuota_deuda.all %}
                        <div class="accordion" id="accordion{{deuda.id}}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ deuda.id }}" aria-expanded="false" aria-controls="collapse{{ deuda.id }}">
                                        {{ deuda.documento }}
                                    </button>
                                </h2>
                                <div id="collapse{{ deuda.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion{{deuda.id}}">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                                <tr><th colspan="4">Cuotas</th></tr>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th class="text-end">Monto</th>
                                                    <th class="text-end">Saldo</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for cuota in deuda.Cuota_deuda.all %}
                                                <tr>
                                                    <td>{{ cuota.fecha|date:'d/m/Y' }}</td>
                                                    <td class="text-end text-nowrap">{{ deuda.moneda.simbolo }} {{ cuota.monto }}</td>
                                                    <td class="text-end text-nowrap">{{ deuda.moneda.simbolo }} {{ cuota.saldo }}</td>
                                                    <td class="texto-personalizado" style="--color-texto: {{ cuota.color }};">{{ cuota.estado }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                        {% else %}
                        {{ deuda.documento }}
                        {% endif %}
                    </td>
                    <td class="text-end text-nowrap">{{ deuda.moneda.simbolo }} {{ deuda.monto }}</td>
                    <td class="text-end text-nowrap">{{ deuda.moneda.simbolo }} {{ deuda.pagos }}</td>
                    <td class="text-end text-nowrap">{{ deuda.moneda.simbolo }} {{ deuda.saldo }}</td>
                    <td class="text-center">{{ deuda.fecha_vencimiento|date:'d/m/Y' }}</td>
                    <td class="texto-personalizado" style="--color-texto: {{ deuda.color }};">{{ deuda.estado }}</td>
                    <td class="text-center text-nowrap">
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock contenido %}