{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}
{% block titulo %}
Deudores
{% endblock titulo %}

{% block contenido %}
    <h3>Deudores</h3>
    <br>
    <form action="" method="get">
        <div class="row">
            {% for field in form %}
                <div class="col-lg-4">
                    <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                    {% if field.help_text %}
                    data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                    {% endif %}
                    >
                    <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                    {% endfor %}
                </div>
                
            {% endfor %}
            <div class="col-lg-4 my-auto">
                <button type="submit" class="btn btn-success" title="Buscar">
                    <i class="bi bi-search"></i>
                </button>
                <a class="btn btn-success" href="{% url 'cobranza_app:deudores_inicio' %}">Limpiar</a>
            </div>            
        </div>
    </form>
    <br>

    {% include 'includes/paginador.html' %}
    
    <div class="table-responsive" id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Monto</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
        
            <tbody>
                {% for cliente in contexto_cliente %}
        
                <tr>
                    <td>{{ cliente.razon_social }}</td>
                    <td class="text-end text-nowrap">{{ moneda.simbolo }} {{  cliente.deuda_monto|redondear|intcomma }}</td>
                    <td class="text-center">
                        <a href="{% url 'cobranza_app:deudores_detalle' cliente.id %}"
                            class="btn btn-info btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    </td>
                </tr>
        
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <ul class="pagination pagination-sm justify-content-end">
            {% if contexto_pagina.has_previous %}
                <li>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.previous_page_number }}{% else %}?page={{ contexto_pagina.previous_page_number }}{% endif %}">Anterior</a></span>
                    <span>...</span>
                </li>
            {% endif %}
            <li class="">
                <span>Página {% if contexto_pagina.number %}{{ contexto_pagina.number }}{% else %} 1 {% endif %} de {% if contexto_pagina.paginator.num_pages %}{{ contexto_pagina.paginator.num_pages }}{% else %} 1.{% endif %}</span>
            </li>
            {% if contexto_pagina.has_next %}
                <li>
                    <span>...</span>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.next_page_number }}{% else %}?page={{ contexto_pagina.next_page_number }}{% endif %}">Siguiente</a></span>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock contenido %}