{% load humanize %}
{% load funciones_propias %}

<h3>Detalle Guía</h3>

<div class="row mt-3">
    <div class="col-auto">
        <a href="{% url 'comprobante_despacho_app:guia_inicio' %}" class="btn btn-primary">Regresar</a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Razón Social:</th>
                    <td>{{ guia.cliente.razon_social }}</td>
                </tr>
                <tr>
                    <th class="pe-2">{{ guia.cliente.documento }}:</th>
                    <td>
                        {% if guia.cliente.numero_documento %}
                        {{ guia.cliente.numero_documento }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Transportista:</th>
                    <td>{{guia.transportista}}</td>
                    <td>
                        <button data-form-url="{% url 'comprobante_despacho_app:guia_transportista' guia.id%}"
                            data-table-url="{% url 'comprobante_despacho_app:guia_inicio' %}"
                            class="update btn btn-primary" title="Seleccionar Transportista">
                            Transportista
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Número de Bultos:</th>
                    <td>{{guia.numero_bultos}}</td>
                    <td>
                        <button data-form-url="{% url 'comprobante_despacho_app:guia_bultos' guia.id%}"
                            data-table-url="{% url 'comprobante_despacho_app:guia_inicio' %}"
                            class="update btn btn-primary" title="">
                            N° de Bultos
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Fecha:</th>
                    <td>{{ guia.fecha_emision|date:'d/m/Y' }}</td>
                </tr>
                <tr>
                    <th class="pe-2">N° Guia:</th>
                    <td>
                        {% if guia.numero_guia %}
                        {{ guia.numero_guia }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Estado Guía:</th>
                    <td>{{ guia.get_estado_display }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Dirección de Partida</th>
                    <td>{{guia.direccion_partida}}</td>
                    <th class="pe-2">Ubigeo de Partida</th>
                    <td>{{guia.ubigeo_partida}}</td>
                    <td>
                        <button data-form-url="{% url 'comprobante_despacho_app:guia_partida' guia.id%}"
                            data-table-url="{% url 'comprobante_despacho_app:guia_inicio' %}"
                            class="update btn btn-primary" title="Seleccionar Partida">
                            Partida
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Dirección de Destino</th>
                    <td>{{guia.direccion_destino}}</td>
                    <th class="pe-2">Ubigeo de Destino</th>
                    <td>{{guia.ubigeo_destino}}</td>
                    <td>
                        <button data-form-url="{% url 'comprobante_despacho_app:guia_destino' guia.id%}"
                            data-table-url="{% url 'comprobante_despacho_app:guia_inicio' %}"
                            class="update btn btn-primary" title="Seleccionar Destino">
                            Destino
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  

<div class="row mt-3">
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ guia.sociedad.color }};">OBSERVACIONES {{ guia.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if guia.observacion %}
                        {{ guia.observacion|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead class="fondo-personalizado" style="--color-fondo: {{ guia.sociedad.color }};">
            <tr>
                <th>Item</th>
                <th style="min-width: 500px;">Material</th>
                <th class="text-end">Cantidad</th>
                <th class="text-nowrap">Peso</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td style="min-width: 500px;">{{ material.material }}</td>
                </tr>
            {% endfor %}
        </tbody>        

    </table>
</div>
