
{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle de Aprobacion Consumo Interno
{% endblock titulo %}
    
{% block contenido %}
    <h3>Detalle de Aprobacion Consumo Interno
        {% if contexto_aprobacion_consumo.estado == 1 %}           
            <button data-form-url="{% url 'calidad_app:aprobacion_consumo_interno_aprobar' contexto_aprobacion_consumo.id %}"   
                data-table-url="{% url 'calidad_app:aprobacion_consumo_interno_inicio' %}"
                data-keep-open="true"    
                class="delete badge bg-primary "
                data-bs-toggle="tooltip" data-bs-placement="top" title="Aprobar">
                Aprobar Solicitud
            </button>        
            <button data-form-url="{% url 'calidad_app:aprobacion_consumo_interno_rechazar' contexto_aprobacion_consumo.solicitud_consumo.id %}"   
                data-table-url="{% url 'calidad_app:aprobacion_consumo_interno_inicio' %}"
                data-keep-open="true"    
                class="delete badge bg-primary "
                data-bs-toggle="tooltip" data-bs-placement="top" title="Rechazar">
                Rechazar Solicitud
            </button>
        {% endif %}
    </h3>
    <a href="{% url 'calidad_app:encuesta_ver' %}" class="btn btn-danger">Regresar</a> 
    <br></br>
    <div class="table-responsive" id="tabla">
        {% include 'calidad/consumo/aprobacion_consumo_interno/detalle_tabla.html' %}
    </div>
{% endblock contenido %}
    