<h3>Documentos
    <button data-form-url="{% url 'sociedad_app:documento_registrar' contexto_sociedad.id %}"
        data-table-url="{% url 'sociedad_app:sociedad_detalle_tabla' contexto_sociedad.id %}"
        class="create badge bg-primary">
        Registrar Documento
    </button>
    <a href="{% url 'sociedad_app:sociedad_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Nombre de documento</th>
                <th class="text-center">Descripción del documento</th>
                <th class="text-center">Documento</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td>{{ documento.nombre_documento }}</td>
                <td>{{ documento.descripcion_documento }}</td>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ documento.documento }}" target="_blank">Ver Documento</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'sociedad_app:documento_eliminar' documento.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3>
    Representantes
    <button data-form-url="{% url 'sociedad_app:representante_registrar' contexto_sociedad.id %}"
        data-table-url="{% url 'sociedad_app:sociedad_detalle_tabla' contexto_sociedad.id %}"
        class="create badge bg-primary">
        Registrar Representante
    </button>
    <a href="{% url 'sociedad_app:sociedad_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Tipo Representante Legal</th>
                <th>Fecha Registro</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for representante in representantes %}
            <tr>
                <td>{{ representante.usuario }}</td>
                <td>{{ representante.tipo_representante_legal }}</td>
                <td>{{ representante.fecha_registro|date:'d/m/Y'}}</td>
                <td>{{ representante.get_estado_display}}</td>

                <td>
                    {% if representante.estado == 1 %}
                    <button data-form-url="{% url 'sociedad_app:representante_baja' representante.id %}"
                        data-table-url="{% url 'sociedad_app:sociedad_detalle_tabla' contexto_sociedad.id %}"
                        class="update btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de Baja">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>