<table class="table">
    <thead>
        <tr>
            <th class="text-justify text-nowrap">#</th>
            <th class="text-justify text-nowrap">Marca</th>
            <th class="text-justify text-nowrap">Descripción</th>
            <th class="text-center text-nowrap">Total Vendido</th>
            <th class="text-center text-nowrap">Fecha Última Venta</th>
            <th class="text-center text-nowrap">Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in contexto_marca_ventas %}
            <td> {{ forloop.counter }} </td>
            {% for dato in fila %}
                {% if forloop.counter == 3 or forloop.counter == 4 or forloop.counter == 5 %}
                    <td class="text-end text-nowrap">{{ dato }}</td>
                {% else %}
                    <td class="text-justify text-nowrap">{{ dato }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>