{% extends 'base.html' %}

{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
Depósitos
{% endblock titulo %}

{% block contenido %}
    <h3>Depósitos</h3>

    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <input type="submit" class="btn btn-primary" value="Buscar">
    </form>
    
    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'bancos/cuenta bancaria/depositos tabla.html' %}
    </div>
    {% include 'includes/paginador inferior.html' %}

{% endblock contenido %}