{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
Detalle de Cuenta Bancaria
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle de Cuenta Bancaria</h3>
    <div class="table-responsive">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Sociedad:</th>
                    <td class="pe-3 fondo-personalizado" style="--color-fondo: {{ cuenta_bancaria.sociedad.color }};">{{ cuenta_bancaria.sociedad }}</td>
                    <th class="pe-2">Estado:</th>
                    <td class="pe-3">{{ cuenta_bancaria.get_estado_display }}</td>
                    {% if not cuenta_bancaria.efectivo %}
                    <th class="pe-2">Número de Cuenta:</th>
                    <td>{{ cuenta_bancaria.numero_cuenta }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if cuenta_bancaria.efectivo %}
                    <td class="pe-3">EFECTIVO</td>
                    {% else %}
                    <th class="pe-2">Banco:</th>
                    <td class="pe-3">{{ cuenta_bancaria.banco }}</td>
                    {% endif %}
                    <th class="pe-2">Moneda:</th>
                    <td class="pe-3 fondo-personalizado" style="--color-fondo: {{ cuenta_bancaria.moneda.color }};">{{ cuenta_bancaria.moneda }}</td>
                    {% if not cuenta_bancaria.efectivo %}
                    <th class="pe-2">Número de Cuenta Interbancaria:</th>
                    <td>{{ cuenta_bancaria.numero_cuenta_interbancaria }}</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{% url 'cobranza_app:cuenta_bancaria_inicio' %}"
    class="btn btn-primary">
        Regresar
    </a>
    {% if cuenta_bancaria.efectivo %}
    <button class="delete btn btn-primary"
        data-form-url="{% url 'cobranza_app:cuenta_bancaria_agregar_ingreso_efectivo' cuenta_bancaria.id %}">
        Agregar Ingreso
    </button>
    {% else %}
    <button class="delete btn btn-primary"
        data-form-url="{% url 'cobranza_app:cuenta_bancaria_agregar_ingreso' cuenta_bancaria.id %}">
        Agregar Ingreso
    </button>
    {% endif %}
    <br>
    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'bancos/cuenta bancaria/detalle tabla.html' %}
    </div>
    <div>
        <ul class="pagination pagination-sm justify-content-end">
            {% if contexto_pagina.has_previous %}
                <li>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.previous_page_number }}{% else %}?page={{ contexto_pagina.previous_page_number }}{% endif %}">Anterior</a></span>
                    <span>...</span>
                </li>
            {% endif %}
            <li class="">
                <span>Página {% if contexto_pagina.number %}{{ contexto_pagina.number }}{% else %} 1 {% endif %} de {% if contexto_pagina.paginator.num_pages %}{{ contexto_pagina.paginator.num_pages }}{% else %} 1.{% endif %}</span>
            </li>
            {% if contexto_pagina.has_next %}
                <li>
                    <span>...</span>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.next_page_number }}{% else %}?page={{ contexto_pagina.next_page_number }}{% endif %}">Siguiente</a></span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock contenido %}
