{% extends 'includes/formulario generico.html' %}
{% load static %}

{% block arriba %}
<div class="input-group flex-nowrap mt-3">
    <label class="input-group-text" for="id_monto">Disponible</label>
    <input type="text" class="form-control" value="{{ ingreso.moneda.simbolo }} {{ ingreso.saldo }}" disabled>
    <span id="moneda" hidden>{{ ingreso.moneda.simbolo }}</span>
    <span id="disponible" hidden>{{ ingreso.saldo }}</span>
</div>
<hr>
{% endblock arriba %}

{% block abajo %}
<hr>
<div class="input-group flex-nowrap mt-3">
    <label class="input-group-text" for="id_monto">Monto Final</label>
    <input type="text" class="form-control" disabled id="monto_final">
</div>
{% endblock abajo %}
    

{% block js %}
<script src="{% static 'js/bancos/cuenta bancaria/form pagar.js' %}?{{ cache_bust }}"></script>
<script>
    $(function () {
        $("#id_deuda").select2({
            width:'100%',
            dropdownParent: $(".modal-body"),
            matcher: buscar_select2
        });
    });
</script>
{% endblock js %}
    