{% load funciones_propias %}
{% load humanize %}

<div class="row">
    <div class="table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">RUC: </th>
                    <td>{{ contexto_cliente_crm.cliente_crm.numero_documento }}</td>
                    <th class="px-2">Representante: </th>
                    <td>{{ contexto_cliente_crm.representante.interlocutor }}</td>
                    <th class="px-2">Tipo Representante: </th>
                    <td>{{ contexto_cliente_crm.representante.get_tipo_representante_legal_display }}</td>
                    <th class="px-2">Medio: </th>
                    <td>{{ contexto_cliente_crm.get_medio_display }}</td>
                </tr>
                <tr>
                    <th class="px-2">Fecha Registro: </th>
                    <td>{{ contexto_cliente_crm.fecha_registro|date:'d/m/Y' }}</td>
                    <th class="pe-2">Última Factura: </th>
                    <td>{{ contexto_cliente_crm.nro_factura.serie_comprobante.serie }}-{{contexto_cliente_crm.nro_factura.numero_factura|numeroXn:6 }}</td>
                    <th class="px-2">Monto Total: </th>
                    <td>{{ contexto_cliente_crm.nro_factura.moneda.simbolo }} {{ contexto_cliente_crm.nro_factura.total|redondear|intcomma }}</td>
                    <th class="px-2">Estado: </th>
                    <td>{{ contexto_cliente_crm.get_estado_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>
    <button data-form-url="{% url 'crm_app:cliente_crm_detalle_registrar' contexto_cliente_crm.id %}"
        data-table-url="{% url 'crm_app:cliente_crm_detalle_tabla' contexto_cliente_crm.id %}"
        class="create badge bg-primary">
        Registrar Información Adicional
    </button>
    <a href="{% url 'crm_app:cliente_crm_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Comentario</th>
                <th>Monto</th>
                <th>Archivo Recibido</th>
                <th>Archivo Enviado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente_crm in cliente_crm_detalle %}
            <tr>
                <td>{{ cliente_crm.fecha|date:'d/m/Y' }}</td>
                <td>{{ cliente_crm.comentario}}</td>
                <td>{{ cliente_crm.monto|intcomma}}</td>
                <td class="text-center">
                    {% if cliente_crm.archivo_recibido %}
                        <a href="{{ MEDIA_URL }}{{ cliente_crm.archivo_recibido}}" target="_blank">Ver Archivo</a>
                    {% endif %} 
                </td>
                <td class="text-center">
                    {% if cliente_crm.archivo_enviado %}
                        <a href="{{ MEDIA_URL }}{{ cliente_crm.archivo_enviado}}" target="_blank">Ver Archivo</a>
                    {% endif %}
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'crm_app:cliente_crm_detalle_actualizar' cliente_crm.id %}"
                        data-table-url="{% url 'crm_app:cliente_crm_detalle_tabla' contexto_cliente_crm.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button data-form-url="{% url 'crm_app:cliente_crm_detalle_eliminar' cliente_crm.id  %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>