<table class="table">
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>RUC</th>
            <th>Medio</th>
            <th>País</th>
            <th class="text-center">Fecha Registro</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in contexto_pagina %}
        <tr>
            <td>{{ cliente.razon_social }}</td>
            <td>
                {% if cliente.numero_documento %}
                {{ cliente.numero_documento }}
                {% endif %}
            </td>
            <td>
                {% if cliente.medio %}
                {{ cliente.get_medio_display }}
                {% endif %}
            </td>
            <td>
                {% if cliente.pais %}
                {{ cliente.pais }}
                {% endif %}
            </td>
            <td class="text-center">{{ cliente.created_at|date:'d/m/Y'}}</td>
            <td class="text-center">{{ cliente.get_estado_cliente_display }}</td>
            <td class="text-center text-nowrap">
              
                {% if cliente.pais.nombre == 'PERÚ' %}
                    <button data-form-url="{% url 'crm_app:cliente_crm_nacional_actualizar' cliente.id %}"
                        data-table-url="{% url 'crm_app:cliente_crm_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                {% else %}
                    <button data-form-url="{% url 'crm_app:cliente_crm_extranjero_actualizar' cliente.id %}"
                        data-table-url="{% url 'crm_app:cliente_crm_tabla' %}{{ contexto_filtro }}{{ pagina_filtro }}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                {% endif %}
                <a href="{% url 'crm_app:detalle_reuniones' cliente.id %}"
                    class="btn btn-outline-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Reuniones">
                    <i class="bi bi-people-fill"></i>
                </a>
                <a href="{% url 'crm_app:detalle_visitas' cliente.id %}"
                    class="btn btn-outline-secondary btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Visitas">
                    <i class="bi bi-person-walking"></i>
                </a>
                <a href="{% url 'crm_app:detalle_llamadas' cliente.id %}"
                    class="btn btn-outline-success btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Llamadas">
                    <i class="bi bi-telephone-fill"></i>
                    </a>
                <a href="{% url 'crm_app:detalle_correos' cliente.id %}"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Correos">
                    <i class="bi bi-envelope-fill"></i>
                </a>
                <a href="{% url 'crm_app:detalle_eventos' cliente.id %}"
                    class="btn btn-outline-primary btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eventos/Webinar">
                    <i class="bi bi-person-workspace"></i>
                </a>
                <a href="{% url 'crm_app:detalle_soporte_tecnico' cliente.id %}"
                    class="btn btn-outline-dark btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Soporte Técnico">
                    <i class="bi bi-tools"></i>
                </a>
                <a href="{% url 'crm_app:detalle_caracteristicas_tecnicas' cliente.id %}"
                    class="btn btn-outline-success btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Características Técnicas">
                    <i class="bi bi-list-check"></i>
                </a>
                <a href="{% url 'crm_app:detalle_nuevos_productos_solicitados' cliente.id %}"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Nuevos Productos Solicitados">
                    <i class="bi bi-router-fill"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>