{% extends 'base.html' %}

{% block titulo %}
    Institucion
{% endblock titulo %}

{% block contenido %}
    <h3>Institucion
        <button data-form-url="{% url 'contabilidad_app:institucion_registrar' %}"
            data-table-url="{% url 'contabilidad_app:institucion_tabla' %}"
            class="create badge bg-primary">
            Registrar 
        </button>
    </h3>

    <br>
    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-success" href="{% url 'contabilidad_app:institucion_inicio' %}">Limpiar</a>
    </form>
    <br>

    {% include 'includes/paginador.html' %}
    
    <div class="table-responsive" id="tabla">
        {% include 'contabilidad/institucion/inicio_tabla.html' %}
    </div>

    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}
    
