{% load funciones_propias %}

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>N° de Nota de Stock Inicial</th>
            <th>Observaciones</th>
            <th>Motivo de Anulación</th>
            <th>Sociedad</th>  
            <th>Usuario</th>  
            <th>Estado</th>  
            <th class="text-center">Acciones</th>      
        </tr>
    </thead>
    
    <tbody>
        {% for nota_ingreso_muestra in contexto_nota_ingreso_muestra %}
        <tr> 
            <td>{{ nota_ingreso_muestra.fecha_ingreso|date:'d/m/Y' }}</td>
            <td>{{ nota_ingreso_muestra.nro_nota_ingreso_muestra|numeroXn:6 }}</td>
            <td>
                {% if nota_ingreso_muestra.observaciones %}
                    {{ nota_ingreso_muestra.observaciones }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if nota_ingreso_muestra.motivo_anulacion %}
                    {{ nota_ingreso_muestra.motivo_anulacion }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ nota_ingreso_muestra.sociedad }}</td>
            <td>{{ nota_ingreso_muestra.created_by }}</td>
            <td>{{ nota_ingreso_muestra.get_estado_display}}</td>
            <td class="text-nowrap text-center">
                <a href="{% url 'muestra_app:nota_ingreso_muestra_detalle' nota_ingreso_muestra.id %}"
                    class="btn btn-info btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                    <i class="bi bi-eye-fill"></i>
                </a>
                {% if forloop.last and nota_ingreso_muestra.estado == 1 %}
                <button data-form-url="{% url 'muestra_app:nota_ingreso_muestra_eliminar' nota_ingreso_muestra.id %}"
                    class="delete btn btn-danger btn-sm"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

