{% load humanize %}
{% load funciones_propias %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item }}</td>
                    <td>{{ material.material }}</td>
                    <td>{{ material.proveedor_material.name }}</td>
                    <td>{{ material.proveedor_material.brand }}</td>
                    <td>{{ material.proveedor_material.description }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-center text-nowrap">{{ material.cantidad|redondear|intcomma }}</td>
                    <td>
                        <button data-form-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_actualizar_material' material.id %}"
                            data-table-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_detalle_tabla' requerimiento.id  %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <button data-form-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_eliminar_material' material.id  %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi-x-lg"></i>
                        </button>

                    </td>
    
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>