{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Detalle Requerimiento Proveedor
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Requerimiento Proveedor
        <a href="{% url 'requerimiento_material_app:requerimiento_material_proveedor_inicio' %}"
        class="create btn btn-primary" title="Regresar a Requerimiento Material Proveedor">
        Regresar
        </a>
    </h3>

    <button data-form-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_duplicar' requerimiento.id %}"
        data-table-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_tabla' %}"
        class="create btn btn-primary">
        Duplicar
    </button>

    <a href="{% url 'requerimiento_material_app:requerimiento_material_proveedor_pdf' requerimiento.slug  %}" target="_blank"><span class="btn btn-primary">PDF</span></a>

    <button data-form-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_enviar_correo' requerimiento.id %}"
        data-table-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_tabla' %}"
        class="create btn btn-primary">
        Enviar Correo
    </button>    
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Interlocutor</th>
                    <th>Comentario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ contexto_requerimiento_material_proveedor.fecha|date:'d/m/Y' }}</td>
                    <td>{{ contexto_requerimiento_material_proveedor.proveedor }}</td>
                    <td>{{ contexto_requerimiento_material_proveedor.interlocutor_proveedor }}</td>
                    <td>{{ contexto_requerimiento_material_proveedor.comentario }}</td>
                    <td>{{ contexto_requerimiento_material_proveedor.get_estado_display }}</td>

                </tr>
            </tbody>
        </table>
        <button data-form-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_agregar_material' requerimiento.id %}"
            data-table-url="{% url 'requerimiento_material_app:requerimiento_material_proveedor_detalle_tabla' requerimiento.id %}"
            class="create btn btn-primary">
            Agregar Material
        </button>
    </div>

    <div class="table-responsive" id="tabla">
        {% include 'requerimiento_material/requerimiento_material_proveedor/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
