{% extends 'base.html' %}

{% block titulo %}
    Asistencia
{% endblock titulo %}

{% block contenido %}
    <h3>Asistencia Generales </h3>

    <form action="" method="get" autocomplete="off">
        <div class="row">
            {% for field in form %}
            <div class="col-lg-4">
                <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                {% if field.help_text %}
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                {% endif %} >
                
                {% if 'Boton' not in field.label %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="col-lg-4 my-auto">
                <input class="btn btn-outline-dark" type="submit" value="Buscar">
                <a class="btn btn-outline-dark" href="{% url 'recepcion_app:asistencia_inicio' %}">Limpiar</a>
            </div>            
        </div>
    </form>
    <br>
    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'recepcion/asistencia/inicio_tabla.html' %}
    </div>

    {% include 'includes/paginador inferior.html' %}

{% endblock contenido %}