{% extends 'base.html' %}

{% block titulo %}
    Asistencia Personal
{% endblock titulo %}

{% block contenido %}
    <h3>Asistencia Personal
        <button data-form-url="{% url 'recepcion_app:asistencia_personal_registrar' %}"
            data-table-url="{% url 'recepcion_app:asistencia_personal_tabla' %}{{ contexto_filtro }}"
            class="create badge bg-primary">
            Asistencia
        </button>       
        <button data-form-url="{% url 'recepcion_app:inasistencia_registrar' %}"
            data-table-url="{% url 'recepcion_app:asistencia_personal_tabla' %}{{ contexto_filtro }}"
            class="create badge bg-danger">
            Inasistencia
        </button>
    </h3>
    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-outline-dark" href="{% url 'recepcion_app:asistencia_personal_inicio' %}">Limpiar</a>
    </form>

    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'recepcion/asistencia/inicio_personal_tabla.html' %}
    </div>
    {% include 'includes/paginador inferior.html' %}
    
{% endblock contenido %}