{% extends 'base.html' %}

{% block titulo %}
    Asistencia Personal
{% endblock titulo %}

{% block contenido %}
    <h3>Asistencia Personal
        <button data-form-url="{% url 'recepcion_app:asistencia_personal_registrar' %}"
            data-table-url="{% url 'recepcion_app:asistencia_personal_tabla' %}{{ contexto_filtro }}"
            class="create badge bg-primary">
            Registrar Asistencia
        </button>
    </h3>

    <form action="" method="get">
        <div class="row">
            
            {% for field in form %}
            <div class="col-lg-4">
                <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                {% if field.help_text %}
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                {% endif %} >
                
                {% if 'Boton' not in field.label %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="col-lg-4 my-auto">
                <input class="btn btn-outline-dark" type="submit" value="Buscar">
                <a class="btn btn-outline-dark" href="{% url 'recepcion_app:asistencia_personal_inicio' %}">Limpiar</a>
            </div>            
        </div>
    </form>

    <div class="table-responsive" id="tabla">
        {% include 'recepcion/asistencia/inicio_personal_tabla.html' %}
    </div>
    
{% endblock contenido %}