{% extends 'base.html' %}

{% block titulo %}
    Asistencia Personal
{% endblock titulo %}

{% block contenido %}
    <h3>Asistencia Personal
        <button data-form-url="{% url 'recepcion_app:asistencia_personal_registrar' %}"
            data-table-url="{% url 'recepcion_app:asistencia_personal_tabla' %}{{ contexto_filtro }}"
            class="create badge bg-primary">
            Registrar Asistencia
        </button>
    </h3>

    <form action="" method="get">
        <div class="row">
            
            {% for field in form %}
            <div class="col-lg-4">
                <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                {% if field.help_text %}
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                {% endif %} >
                
                {% if 'Boton' not in field.label %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="col-lg-4 my-auto">
                <input class="btn btn-outline-dark" type="submit" value="Buscar">
                <a class="btn btn-outline-dark" href="{% url 'recepcion_app:asistencia_personal_inicio' %}">Limpiar</a>
            </div>            
        </div>
    </form>

    {% include 'includes/paginador.html' %}
    <div class="table-responsive" id="tabla">
        {% include 'recepcion/asistencia/inicio_personal_tabla.html' %}
    </div>
    <div>
        <ul class="pagination pagination-sm justify-content-end">
            {% if contexto_pagina.has_previous %}
                <li>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.previous_page_number }}{% else %}?page={{ contexto_pagina.previous_page_number }}{% endif %}">Anterior</a></span>
                    <span>...</span>
                </li>
            {% endif %}
            <li class="">
                <span>Página {% if contexto_pagina.number %}{{ contexto_pagina.number }}{% else %} 1 {% endif %} de {% if contexto_pagina.paginator.num_pages %}{{ contexto_pagina.paginator.num_pages }}{% else %} 1.{% endif %}</span>
            </li>
            {% if contexto_pagina.has_next %}
                <li>
                    <span>...</span>
                    <span><a href="{% if contexto_filtro %}{{ contexto_filtro }}&page={{ contexto_pagina.next_page_number }}{% else %}?page={{ contexto_pagina.next_page_number }}{% endif %}">Siguiente</a></span>
                </li>
            {% endif %}
        </ul>
    </div>
    
{% endblock contenido %}