{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Reportes Panel
{% endblock titulo %}

{% block contenido %}
<h1>Panel de Reportes</h1>
<br>

<div>
    <a href="{% url 'reportes_panel_app:reportes_panel_marcasventa' %}" class="btn btn-primary">Reporte Marcas vs Ventas</a>
    <a href="{% url 'reportes_panel_app:reportes_panel_productoclienteventas' %}" class="btn btn-primary">Reporte Producto-Cliente vs Ventas</a>
    <a href="{% url 'reportes_panel_app:reportes_panel_ubigeoventas' %}" class="btn btn-primary">Reporte Ubigeo vs Ventas</a>
</div>

<br>
{% endblock contenido %}
