{% extends 'base.html' %}

{% block titulo %}
    Detalle Comprobante de Compra CI
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Comprobante de Compra CI</h3>
    {% if contexto_comprobante_compra_ci.estado == 1 %}
        <button data-form-url="{% url 'comprobante_compra_app:comprobante_compra_ci_finalizar' contexto_comprobante_compra_ci.slug %}"
            class="delete btn btn-primary">
            Finalizar
        </button>
    {% endif %}
    <a href="{% url 'comprobante_compra_app:comprobante_compra_ci_traduccion' contexto_comprobante_compra_ci.slug %}"
    class="btn btn-primary">
        Ver Traducción CI
    </a>
    <a href="{% url 'comprobante_compra_app:comprobante_compra_pi_detalle' contexto_comprobante_compra_ci.comprobante_compra_PI.slug %}"
    class="btn btn-danger">
        Regresar
    </a>
    <br>
    <div id="tabla">
        {% include 'comprobante_compra/comprobante_compra_ci/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
