{% extends 'base.html' %}
{% load static %}
{% load funciones_propias %}
{% load humanize %}

{% block titulo %}
    Traducción CI
{% endblock titulo %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Unidad</th>
            <th class="text-end">Cantidad</th>
            <th>Partida</th>
            <th>Traducción</th>
            <th>Uso o función</th>
            <th>Compuesto por</th>
            <th>Es componente</th>
        </tr>
    </thead>
    <tbody>
        {% for material in materiales %}
        
        {% if material.cantidad %}
            <tr>
                <td>{{ material.item}}</td>
                <td>{{ material.material.unidad_base }}</td>
                <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                <td>
                    {{ material.descripcion }}
                    ({{ material.material.partida }})
                </td>
                <td>{{ material.material.traduccion }}</td>
                <td>{{ material.material.uso_funcion }}</td>
                <td>{{ material.material.compuesto_por }}</td>
                <td>{{ material.material.es_componente }}</td>
            </tr>
        {% endif %}

        {% endfor %}    
    </tbody>
</table>
{% endblock contenido %}
    