{% extends 'base.html' %}

{% block titulo %}
    Detalle Comprobante de Compra
{% endblock titulo %}

{% block contenido %}
    <h3>Detalle Comprobante de Compra</h3>
    <a href="{% url 'comprobante_compra_app:comprobante_compra_pi_lista' %}" class="btn btn-primary">Regresar</a>
    <button data-form-url="{% url 'comprobante_compra_app:comprobante_compra_pi_logistico' contexto_comprobante_compra_pi.slug %}"
        data-table-url="{% url 'comprobante_compra_app:comprobante_compra_pi_detalle_tabla' contexto_comprobante_compra_pi.slug %}"
        class="update btn btn-primary">
        Actualizar Logístico
    </button>
    <br>
    <div id="tabla">
        {% include 'comprobante_compra/comprobante_compra_pi/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
