{% load humanize %}
{% load funciones_propias %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Número de Comprobante</th>
                <th>Proveedor</th>
                <th>Interlocutor</th>
                <th>Sociedad</th>
                <th>Fecha Estimada de Llegada</th>
                <th>Estado</th>
                <th class="text-center">Logístico</th>  
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_comprobante_compra_pi.fecha_comprobante|date:'d/m/Y' }}</td>
                <td>{{ contexto_comprobante_compra_pi.numero_comprobante_compra }}</td>
                <td>{{ contexto_comprobante_compra_pi.orden_compra.proveedor }}</td>
                <td>{{ contexto_comprobante_compra_pi.orden_compra.interlocutor }}</td>
                <td>{{ contexto_comprobante_compra_pi.sociedad }}</td>
                <td>
                    {% if contexto_comprobante_compra_pi.fecha_estimada_llegada %}
                    {{ contexto_comprobante_compra_pi.fecha_estimada_llegada|date:'d/m/Y' }}
                    {% endif %}    
                </td>
                <td>{{ contexto_comprobante_compra_pi.get_estado_display }}</td>
                <td class="text-center">{{ contexto_comprobante_compra_pi.logistico }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
{% if permiso_compras %}
<h4>Condiciones:</h4>
<p>
    {% if contexto_comprobante_compra_pi.condiciones %}
    {{ contexto_comprobante_compra_pi.condiciones }}
    {% endif %}
</p>
{% endif %}
<br>
<h3>Materiales</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Tipo IGV</th>
                <th class="text-end">Cantidad</th>
                {% if permiso_compras %}
                <th class="text-nowrap">Prec. Unit.<br>sin IGV </th>
                <th class="text-nowrap">Prec. Unit.<br>con IGV </th>
                <th class="text-nowrap">Prec. Final<br>con IGV</th>
                <th>Descuento</th>
                <th class="text-nowrap">Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>

                    <td>{{ material.item}}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td>{{ material.get_tipo_igv_display }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                    {% if permiso_compras %}
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.precio_unitario_sin_igv|redondear:3|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.precio_unitario_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.precio_final_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.descuento|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.sub_total|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ material.total|redondear|intcomma }}</td>
                    {% endif %}
                </tr>
            {% endfor %}    
        </tbody>
        {% if permiso_compras %}
        <tfoot>
            {% if totales.descuento_global %}
            <tr>
                <td colspan="11" class="text-end">Descuento Global:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.descuento_global|redondear|intcomma }}</td>
            </tr>            
            {% endif %}
            
            {% if totales.total_descuento %}
            <tr>
                <td colspan="11" class="text-end">Descuento Total:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_descuento|redondear|intcomma }}</td>
            </tr>           
            {% endif %}
             
             {% if totales.total_anticipo %}
             <tr>
                 <td colspan="11" class="text-end">Anticipo:</td>
                 <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_anticipo|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_exonerada %}
            <tr>
                <td colspan="11" class="text-end">Exonerada:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_exonerada|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_inafecta %}
            <tr>
                <td colspan="11" class="text-end">Inafecta:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_inafecta|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_gravada %}
            <tr>
                <td colspan="11" class="text-end">Gravada:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_gravada|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_igv %}
            <tr>
                <td colspan="11" class="text-end">IGV:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_igv|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_gratuita %}
            <tr>
                <td colspan="11" class="text-end">Gratuita:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_gratuita|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_otros_cargos %}
            <tr>
                <td colspan="11" class="text-end">Otros Cargos:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_otros_cargos|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total_icbper %}
            <tr>
                <td colspan="11" class="text-end">ICBPER:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total_icbper|redondear|intcomma }}</td>
            </tr>
            {% endif %}
            
            {% if totales.total %}
            <tr>
                <td colspan="11" class="text-end">Total:</td>
                <td class="text-end">{{ contexto_comprobante_compra_pi.moneda.simbolo }} {{ totales.total|redondear|intcomma }}</td>
            </tr>
            {% endif %}
        </tfoot>
        {% endif %}
    </table>
</div>
<br>
{% if permiso_compras %}
<h3>
    Archivos
    <button data-form-url="{% url 'comprobante_compra_app:archivo_comprobante_compra_pi_crear' contexto_comprobante_compra_pi.slug %}"
        data-table-url="{% url 'comprobante_compra_app:comprobante_compra_pi_detalle_tabla' contexto_comprobante_compra_pi.slug %}"
        class="create badge bg-primary">
        Agregar Archivo
    </button>
</h3>    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Archivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ archivo.archivo }}" target="_blank">{{ archivo.archivo|filename }}</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'comprobante_compra_app:archivo_comprobante_compra_pi_eliminar' archivo.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}