{% load humanize %}
{% load funciones_propias %}
<a href="{{ regresar }}" class="btn btn-danger">Regresar</a>

<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">Razón Social:</th>
                    <td>{{ contexto_nota_credito.cliente.razon_social }}</td>
                    <tr>
                        <th class="pe-2">{{ contexto_nota_credito.cliente.documento }}:</th>
                        <td>
                            {% if contexto_nota_credito.cliente.numero_documento %}
                            {{ contexto_nota_credito.cliente.numero_documento }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Dirección:</th>
                        <td>
                            {% if contexto_nota_credito.cliente.direccion_fiscal %}
                            {{ contexto_nota_credito.cliente.direccion_fiscal }}   
                            {% endif %}
                        </td>
                        <td class="ps-2" rowspan="2">
                            {% if contexto_nota_credito.estado == 1 and contexto_nota_credito.cliente.direccion_anterior != contexto_nota_credito.cliente.direccion_nueva %}
                            <button data-form-url="{% url 'comprobante_venta_app:factura_venta_direccion' contexto_nota_credito.id contexto_nota_credito.cliente.id %}"
                                class="delete btn btn-primary text-nowrap">
                                Actualizar Dirección
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Interlocutor:</th>
                        <td>
                            {% if contexto_nota_credito.cliente_interlocutor %}
                            {{ contexto_nota_credito.cliente_interlocutor.nombre_completo }}   
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Correos:</th>
                        <td>
                            {% if contexto_nota_credito.cliente.correos %}
                            {{ contexto_nota_credito.cliente.correos }}   
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Estado:</th>
                        <td>
                            {% if contexto_nota_credito.cliente %}
                            {{ contexto_nota_credito.cliente.get_estado_sunat_display }} - {{ contexto_nota_credito.cliente.get_condicion_sunat_display }}
                            {% endif %}
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">Fecha:</th>
                    <td>{{ contexto_nota_credito.fecha_emision|date:'d/m/Y' }}</td>
                    {% if contexto_nota_credito.estado == 1 %}
                    <td class="ps-2" rowspan="3">
                        <button data-form-url="{% url 'comprobante_venta_app:factura_venta_serie' contexto_nota_credito.id %}"
                            data-table-url="{% url 'comprobante_venta_app:factura_venta_detalle_tabla' contexto_nota_credito.id %}"
                            class="update btn btn-primary text-nowrap">
                            Seleccionar Serie
                        </button>
                    </td>
                    {% endif %}
                    <th class="pe-2">Tipo de Cambio (HOY):</th>
                    <td>
                        {% if tipo_cambio_hoy %}
                        {{ tipo_cambio_hoy }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Fecha Vencimiento:</th>
                    <td>{{ contexto_nota_credito.fecha_vencimiento|date:'d/m/Y' }}</td>
                    <th class="pe-2">Tipo de Cambio:</th>
                    <td>
                        {% if tipo_cambio %}
                        {{ tipo_cambio }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">N° Factura:</th>
                    <td class="text-nowrap">
                        {{ contexto_nota_credito.serie_comprobante }}
                        -
                        {% if contexto_nota_credito.numero_nota %}
                        {{ contexto_nota_credito.numero_nota|numeroXn:6 }}
                        {% endif %}
                        ({{ nubefact_acceso }})
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Estado Factura:</th>
                    <td>{{ contexto_nota_credito.get_estado_display }}</td>
                </tr>
                <tr>
                    <!-- Revisar Tipo de Venta -->
                    <th class="pe-2">Tipo de Nota:</th>
                    <td>{{ contexto_nota_credito.get_tipo_nota_credito_display }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Documento:</th>
                    <td>
                        {% if contexto_nota_credito.documento %}
                        {{ contexto_nota_credito.documento }}
                        {% endif %}
                    </td>
                </tr>
                {% if contexto_nota_credito.tipo_venta == 2 and contexto_nota_credito.confirmacion %}
                <tr>
                    <th class="pe-2">Cuotas:</th>
                    <td>
                        {% for cuota in contexto_nota_credito.confirmacion.ConfirmacionVentaCuota_confirmacion_venta.all %}
                        {% if forloop.counter > 1 %}
                        |
                        {% endif %}

                        {{ cuota.dias_calculo }}
                            
                        {% endfor %}    
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ contexto_nota_credito.sociedad.color }};">OBSERVACIONES {{ contexto_nota_credito.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if contexto_nota_credito.observaciones %}
                        {{ contexto_nota_credito.observaciones|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="fondo-personalizado" style="--color-fondo: {{ contexto_nota_credito.sociedad.color }};">
            <tr>
                <th>Item</th>
                <th style="min-width: 500px;">Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th class="text-nowrap">Prec. Unit.<br>sin IGV </th>
                <th class="text-nowrap">Prec. Unit.<br>con IGV </th>
                <th class="text-nowrap">Prec. Final<br>con IGV</th>
                <th>Descuento</th>
                <th class="text-nowrap">Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td style="min-width: 500px;">
                        {{ material.descripcion_documento }}
                        {% if contexto_nota_credito.confirmacion.sunat_transaction == 4 and contexto_nota_credito.estado == 1 %}
                        <button data-form-url="{% url 'comprobante_venta_app:factura_venta_detalle_actualizar' material.id %}"
                            data-table-url="{% url 'comprobante_venta_app:factura_venta_detalle_tabla' contexto_nota_credito.id %}"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ material.unidad }}</td>
                    <td class="text-end text-nowrap">{{ material.cantidad|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.precio_unitario_sin_igv|redondear:3|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.precio_unitario_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap table-secondary">{{ contexto_nota_credito.moneda.simbolo }} {{ material.precio_final_con_igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.descuento|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.sub_total|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.igv|redondear|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ material.total|redondear|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" class="text-end">
                    Descuento Global:
                </td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.descuento_global|redondear|intcomma }}</td>
            </tr>            
            <tr>
                <td colspan="10" class="text-end">Descuento Total:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_descuento|redondear|intcomma }}</td>
            </tr>           
            <tr>
                <td colspan="10" class="text-end">Anticipo:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_anticipo|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Exonerada:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_exonerada|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Inafecta:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_inafecta|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Gravada:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_gravada|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">IGV:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_igv|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Gratuita:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_gratuita|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Otros Cargos:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_otros_cargos|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">ICBPER:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total_icbper|redondear|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="10" class="text-end">Total:</td>
                <td class="text-end text-nowrap">{{ contexto_nota_credito.moneda.simbolo }} {{ totales.total|redondear|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
</div>

