{% load funciones_propias %}
{% load humanize %}

<div class="row">
    <div class="table-responsive mb-3">
        <table class="table">
            <tbody>
                <tr>
                    <th class="pe-2">Número de Salida</th>
                    <td>{{ contexto_nota_salida_detalle.numero_salida|numeroXn:6 }}</td>
                    <th class="px-2">Cliente</th>
                    <td>{{ contexto_nota_salida_detalle.cliente }}</td>
                    <th class="px-2">Fecha Salida</th>
                    <td>{{ contexto_nota_salida_detalle.fecha|date:'d/m/Y' }}</td>
                    <th class="px-2">Motivo Anulación</th>
                    <td>
                        {% if contexto_nota_salida_detalle.motivo_anulacion %}
                        {{ contexto_nota_salida_detalle.motivo_anulacion }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Sociedad</th>
                    <td>{{ contexto_nota_salida_detalle.sociedad }}</td>
                    <th class="px-2">Interlocutor</th>
                    <td>{{ contexto_nota_salida_detalle.interlocutor_cliente }}</td>
                    <th class="px-2">Observación Adicional</th>
                    <td>{{ contexto_nota_salida_detalle.observacion_adicional }}</td>
                    <th class="px-2">Estado</th>
                    <td>{{ contexto_nota_salida_detalle.get_estado_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th>Sede</th>
                <th>Almacén</th>
                <th class="text-end">Cantidad de Salida</th>
                <th class="text-end">Cantidad Despachada</th>
                <th class="text-end">Pendiente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td>{{ material.producto}}</td>
                    <td>{{ material.producto.unidad_base }}</td>
                    <td>
                        {% if material.sede %}
                            {{ material.sede}}
                        {% endif %}
                    </td>
                    <td>
                        {% if material.almacen %}
                            {{ material.almacen.nombre}}
                        {% endif %}
                    </td>
                    <td class="text-end">{{ material.cantidad_salida|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.despachado|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.pendiente|redondear|intcomma }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_nota_salida_detalle.estado == 1 %}
                            <button data-form-url="{% url 'logistica_app:nota_salida_detalle_actualizar' material.id %}"
                                data-table-url="{% url 'logistica_app:nota_salida_detalle_tabla' contexto_nota_salida_detalle.id  %}"
                                data-keep-open="true"
                                class="update btn btn-warning btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button data-form-url="{% url 'logistica_app:nota_salida_detalle_eliminar' material.id %}"
                                class="delete btn btn-danger btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                <i class="bi-x-lg"></i>
                            </button>
                            <button data-form-url="{% url 'movimiento_almacen_app:ver_stock' material.producto.id material.producto.content_type %}"
                                class="read btn swatch-purple btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Stocks">
                                <i class="bi bi-box-seam"></i>
                            </button>
                            {% if material.producto.control_serie %}
                                <a href="{% url 'logistica_app:validar_series_detalle' material.id %}"
                                    class="btn btn-dark btn-sm"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Series">
                                    <i class="bi bi-upc-scan"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>