{% extends 'base.html' %}

{% block titulo %}
    Documento de Reclamo
{% endblock titulo %}

{% block contenido %}
    <h3>Documento de Reclamo</h3>
    <button data-form-url="{% url 'recepcion_compra_app:recepcion_compra_generar_nota_credito' contexto_recepcion_compra.id %}"
        class="delete btn btn-primary">
        Cerrar Documento
    </button>
    
    {% if contexto_recepcion_compra.estado == 1 %}
    <button data-form-url="{% url 'recepcion_compra_app:recepcion_compra_anular' contexto_recepcion_compra.id %}"
        class="delete btn btn-danger">
        Anular Documento
    </button>
    {% endif %}
    <a href="{{ regresar }}" class="btn btn-danger">Regresar</a>
    <br>
    <div id="tabla">
        {% include 'recepcion_compra/documento_reclamo/detalle_tabla.html' %}
    </div>


{% endblock contenido %}
