{% load humanize %}
{% load funciones_propias %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Comprobante</th>
                <th>Número de Documento</th>
                <th>Proveedor</th>
                <th>Interlocutor</th>
                <th>Sociedad</th>
                <th class="text-center">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contexto_documento_reclamo.fecha_documento|date:'d/m/Y' }}</td>
                <td>{{ contexto_documento_reclamo.recepcion_compra }}</td>
                <td>{{ contexto_documento_reclamo.nro_documento_reclamo|numeroXn:6 }}</td>
                <td>{{ contexto_documento_reclamo.recepcion_compra.proveedor }}</td>
                <td>{{ contexto_documento_reclamo.recepcion_compra.interlocutor_proveedor }}</td>
                <td>{{ contexto_documento_reclamo.recepcion_compra.sociedad }}</td>
                <td class="text-center">
                    {{ contexto_documento_reclamo.get_estado_display }}
                    {% if contexto_documento_reclamo.motivo_anulacion %}
                        - {{ contexto_documento_reclamo.motivo_anulacion }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h4>Observaciones:</h4>
<p>{{ contexto_documento_reclamo.observaciones }}</p>
<br>
<h3>Productos en Exceso</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th class="text-end text-nowrap">Cantidad Exceso</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
            {% if material.tipo == 1 %}
                <tr>
                    <td>{{ material.item}}</td>
                    <td>{{ material.producto.descripcion_venta }}</td>
                    <td>{{ material.producto.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                </tr>
            {% endif %}
            {% endfor %}    
        </tbody>
    </table>
</div>
<br>
<h3>Productos en Defecto</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th class="text-end text-nowrap">Cantidad Defecto</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
            {% if material.tipo == -1 %}
                <tr>
                    <td>{{ material.item}}</td>
                    <td>{{ material.producto.descripcion_venta }}</td>
                    <td>{{ material.producto.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                </tr>
            {% endif %}
            {% endfor %}    
        </tbody>
    </table>
</div>
<br>
<h3>
    Archivos
    <button data-form-url="{% url 'recepcion_compra_app:archivo_recepcion_compra_crear' contexto_documento_reclamo.id %}"
        data-table-url="{% url 'recepcion_compra_app:recepcion_compra_detalle_tabla' contexto_documento_reclamo.id %}"
        class="create badge bg-primary">
        Agregar Archivo
    </button>
</h3>    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Archivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for archivo in archivos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ archivo.archivo }}" target="_blank">{{ archivo.archivo|filename }}</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'recepcion_compra_app:archivo_recepcion_compra_eliminar' archivo.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<h3>
    Fotos
    <button data-form-url="{% url 'recepcion_compra_app:foto_recepcion_compra_crear' contexto_documento_reclamo.id %}"
        data-table-url="{% url 'recepcion_compra_app:recepcion_compra_detalle_tabla' contexto_documento_reclamo.id %}"
        class="create badge bg-primary">
        Agregar Foto
    </button>
</h3>    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Foto</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for foto in fotos %}
            <tr>
                <td class="text-center">
                    <a href="{{ MEDIA_URL }}{{ foto.foto }}" target="_blank">{{ foto.foto|filename }}</a>
                </td>
                <td class="text-center text-nowrap">
                    <button data-form-url="{% url 'recepcion_compra_app:foto_recepcion_compra_eliminar' foto.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>