{% extends 'base.html' %}

{% block titulo %}
    Documentos de Reclamo
{% endblock titulo %}

{% block contenido %}
    <h3>Documentos de Reclamo - {{ contexto_recepcion_compra }}</h3>
    
    <div id="tabla">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>    
                    <th>Documento</th>
                    <th>Usuario</th>
                    <th>Observaciones</th>
                    <th>Motivo de Anulación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>


{% endblock contenido %}
