{% load humanize %}
{% load funciones_propias %}

<div class="row mt-3">
    <div class="col-auto">
        <a href="{% url 'nota_app:nota_devolucion_inicio' %}" class="btn btn-danger">Regresar</a>
    </div>

    {% if contexto_nota_devolucion.estado == 1 %}
    <div class="col-auto">
        <button data-form-url="{% url 'nota_app:nota_devolucion_finalizar' contexto_nota_devolucion.id %}"
            class="delete btn btn-danger">
            Guardar
        </button>
    </div>
    {% endif %}

    {% if contexto_nota_devolucion.estado == 1 %}
    <div class="col-auto">
        <button data-form-url="{% url 'nota_app:nota_devolucion_observacion' contexto_nota_devolucion.id %}"
            class="delete btn btn-primary">
            Observaciones
        </button>
    </div>
    {% endif %}

    <div class="col-auto ms-auto row">
        {% if contexto_nota_devolucion.nota_credito %}
        <div class="col-auto">
            <a href="{% url 'nota_app:nota_credito_detalle' contexto_nota_devolucion.nota_credito.id  %}" class="btn btn-primary">Nota de Crédito</a>
        </div>
        {% endif %}
        
        {% if not contexto_nota_devolucion.numero_nota or contexto_nota_devolucion.estado == 3 %}
        <div class="col-auto">
            <button data-form-url="{% url 'nota_app:nota_devolucion_eliminar' contexto_nota_devolucion.id %}"
                class="delete btn btn-danger">
                Eliminar Nota
            </button>
        </div>
        {% endif %}

    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2 text-nowrap">Razón Social:</th>
                    <td>{{ contexto_nota_devolucion.cliente.razon_social }}</td>
                    <tr>
                        <th class="pe-2">{{ contexto_nota_devolucion.cliente.documento }}:</th>
                        <td>
                            {% if contexto_nota_devolucion.cliente.numero_documento %}
                            {{ contexto_nota_devolucion.cliente.numero_documento }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Dirección:</th>
                        <td>
                            {% if contexto_nota_devolucion.cliente.direccion_fiscal %}
                            {{ contexto_nota_devolucion.cliente.direccion_fiscal }}   
                            {% endif %}
                        </td>
                        <td class="ps-2" rowspan="2">
                            {% if contexto_nota_devolucion.estado == 1 and contexto_nota_devolucion.cliente.direccion_anterior != contexto_nota_devolucion.cliente.direccion_nueva %}
                            <button data-form-url="{% url 'nota_app:nota_devolucion_direccion' contexto_nota_devolucion.id contexto_nota_devolucion.cliente.id %}"
                                class="delete btn btn-primary text-nowrap">
                                Actualizar Dirección
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Interlocutor:</th>
                        <td>
                            {% if contexto_nota_devolucion.cliente_interlocutor %}
                            {{ contexto_nota_devolucion.cliente_interlocutor.nombre_completo }}   
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Correos:</th>
                        <td>
                            {% if contexto_nota_devolucion.cliente.correos %}
                            {{ contexto_nota_devolucion.cliente.correos }}   
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-2">Estado:</th>
                        <td>
                            {% if contexto_nota_devolucion.cliente %}
                            {{ contexto_nota_devolucion.cliente.get_estado_sunat_display }} - {{ contexto_nota_devolucion.cliente.get_condicion_sunat_display }}
                            {% endif %}
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Fecha:</th>
                    <td>
                        {% if contexto_nota_devolucion.fecha_devolucion %}
                        {{ contexto_nota_devolucion.fecha_devolucion|date:'d/m/Y' }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2 text-nowrap">N° Nota de Devolución:</th>
                    <td class="text-nowrap">
                        {% if contexto_nota_devolucion.numero_devolucion %}
                        {{ contexto_nota_devolucion.numero_devolucion|numeroXn:6 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Estado Nota:</th>
                    <td>{{ contexto_nota_devolucion.get_estado_display }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Documento:</th>
                    <td colspan="3">
                        {% if contexto_nota_devolucion.documento %}
                        {{ contexto_nota_devolucion.documento }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="table-responsive mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ contexto_nota_devolucion.sociedad.color }};">OBSERVACIONES {{ contexto_nota_devolucion.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if contexto_nota_devolucion.observaciones %}
                        {{ contexto_nota_devolucion.observaciones|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
<div class="table-responsive mt-3">
    <table class="table">
        <thead class="fondo-personalizado" style="--color-fondo: {{ contexto_nota_devolucion.sociedad.color }};">
            <tr>
                <th>Item</th>
                <th style="min-width: 500px;">Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th>Almacén</th>
                <th class="text-nowrap text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td style="min-width: 500px;">
                        {{ material.producto }}
                    </td>
                    <td class="text-nowrap">{{ material.unidad }}</td>
                    <td class="text-end text-nowrap">{{ material.cantidad|redondear|intcomma }}</td>
                    <td class="text-nowrap">{{ material.almacen }}</td>
                    <td class="text-center text-nowrap">
                        {% if contexto_nota_devolucion.estado == 1 %}
                        <button data-form-url="{% url 'nota_app:nota_devolucion_detalle_actualizar' material.id %}"
                            data-table-url="{% url 'nota_app:nota_devolucion_detalle_tabla' contexto_nota_devolucion.id %}"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

