{% load funciones_propias %}
{% load humanize %}

<h3> Detalle Envio Traslado Producto 
    <a href="{% url 'traslado_producto_app:envio_inicio' %}" class="create btn btn-primary">Regresar</a>
    {% if envio_traslado_producto.estado == 1 %}
    <button data-form-url="{% url 'traslado_producto_app:envio_observaciones' envio_traslado_producto.id %}"
        data-table-url="{% url 'traslado_producto_app:envio_ver_tabla' envio_traslado_producto.id %}"
        data-keep-open="true"
        class="delete btn btn-primary" title="Observaciones">
        Observaciones
    </button>
    {% endif %}
    {% if envio_traslado_producto.RecepcionTrasladoProducto_envio_traslado_producto.all %}
    <a href="{% url 'traslado_producto_app:recepcion_inicio' %}" class="btn btn-primary">Ver Recepciones</a>
    {% endif %}
</h3>


<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Sociedad:</th>
                    <td>
                        {% if envio_traslado_producto.sociedad %}
                        {{ envio_traslado_producto.sociedad }}  
                        {% endif %}
                    </td>
                    <td class="ps-2" rowspan="2">
                        {% if envio_traslado_producto.estado == 1 %}
                        <button data-form-url="{% url 'traslado_producto_app:envio_actualizar' envio_traslado_producto.id %}"
                            data-table-url="{% url 'traslado_producto_app:envio_ver_tabla' envio_traslado_producto.id %}"
                            data-keep-open="true"
                            class="delete btn btn-primary">
                            Actualizar Envio
                        </button>
                        {% endif %}
                    </td>                
                </tr>
                <tr>
                    <th class="pe-2">Sede Origen:</th>
                    <td>
                        {% if envio_traslado_producto.sede_origen %}
                        {{ envio_traslado_producto.sede_origen }} 
                        {% endif %}
                    </td>  
                </tr>
                <tr>
                    <th class="pe-2">Dirección Destino</th>
                    <td>
                        {% if envio_traslado_producto.direccion_destino  %}
                        {{ envio_traslado_producto.direccion_destino }}
                        {% endif %}
                    </td>
                    <td class="ps-2" rowspan="2">
                        {% if envio_traslado_producto.estado == 1 %}
                        <button data-form-url="{% url 'traslado_producto_app:motivo_traslado_crear' %}"
                            data-table-url="{% url 'traslado_producto_app:envio_ver_tabla' envio_traslado_producto.id %}"
                            class="create btn btn-primary">
                            Agregar Motivo Traslado
                        </button>
                        {% endif %}
                    </td>                
                </tr>
                <tr>
                    <th class="pe-2">Motivo:</th>
                    <td>
                        {% if envio_traslado_producto.motivo_traslado %}
                        {{ envio_traslado_producto.motivo_traslado }}
                        {% endif %}
                        </td>
                </tr>
                <tr>
                    <th class="pe-2">Responsable:</th>
                    <td>
                        {% if envio_traslado_producto.responsable %}
                        {{ envio_traslado_producto.responsable }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Fecha Traslado:</th>
                    <td>{{ envio_traslado_producto.fecha_traslado|date:'d/m/Y' }}</td>
                    <td class="px-2" rowspan="2"> 
                        {% if envio_traslado_producto.estado == 1 %}
                        <button data-form-url="{% url 'traslado_producto_app:envio_guardar' envio_traslado_producto.id %}"
                            data-table-url="{% url 'traslado_producto_app:envio_ver' envio_traslado_producto.id %}"
                            class="delete btn btn-primary">
                            Guardar Envio
                        </button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">N° Envio:</th>
                    <td>
                        {% if envio_traslado_producto.numero_envio_traslado %}
                        {{ envio_traslado_producto.numero_envio_traslado|numeroXn:6 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{ envio_traslado_producto.get_estado_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col table-responsive mb-3" style="overflow-y: scroll; max-height: 100px;">
        <table class="table">
            <thead>
                <tr>
                    <th class="fondo-personalizado" style="--color-fondo: {{ envio_traslado_producto.sociedad.color }};">OBSERVACIONES {{ envio_traslado_producto.sociedad.razon_social }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if envio_traslado_producto.observaciones %}
                        {{ envio_traslado_producto.observaciones|linebreaks }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if envio_traslado_producto.estado == 1 %}
<button data-form-url="{% url 'traslado_producto_app:envio_agregar_material' envio_traslado_producto.id %}"
data-table-url="{% url 'traslado_producto_app:envio_ver_tabla' envio_traslado_producto.id  %}"
data-keep-open="True"
class="update btn btn-primary" title="Agregar Material">
Agregar Material
</button>
{% endif %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Producto</th>
                <th>Almacén Origen</th>
                <th>Tipo Stock</th>
                <th class="text-end">Cantidad Envio</th>
                <th class="text-end">Series Registradas</th>
                <th>Unidad</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            {% for material in materiales  %}
            <tr>
                <td>{{ material.item }}</td>
                <td style="min-width: 500px;">{{ material.material.descripcion_documento }}</td>
                <td class="text-nowrap">{{ material.almacen_origen }}</td>
                <td class="text-nowrap">{{ material.tipo_stock }}</td>
                <td class="text-end text-nowrap">{{ material.cantidad_envio }}</td>
                <td class="text-end text-nowrap">
                    {% if material.tipo_stock.serie_registrada %}
                    {{ material.series_validar }}
                    {% endif %}
                </td>
                <td class="text-nowrap">{{ material.unidad }}</td>
                <td class="text-nowrap">{{ material.get_estado_display }}</td>
                <td class="text-center text-nowrap">
                    {% if envio_traslado_producto.estado == 1 %}
                    <button data-form-url="{% url 'traslado_producto_app:envio_actualizar_material' material.id %}"
                        data-table-url="{% url 'traslado_producto_app:envio_ver_tabla' envio_traslado_producto.id %}"
                        data-keep-open="true"
                        class="update btn btn-warning btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button data-form-url="{% url 'traslado_producto_app:envio_eliminar_material' material.id %}"
                        class="delete btn btn-danger btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        <i class="bi-x-lg"></i>
                    </button>
                    {% if material.tipo_stock.serie_registrada %}
                        {% if material.producto.control_serie %}
                            <a href="{% url 'traslado_producto_app:validar_series_envio_traslado_producto_detalle' material.id %}"
                                class="btn btn-dark btn-sm"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Ver/Registrar Series">
                                <i class="bi bi-upc-scan"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                </td>
            </tr>                
            {% endfor %}
                
        </tbody>
    </table>
</div>
<br>
