{% extends 'includes/formulario generico.html' %}
{% load static %}

{% block abajo %}
<span id="url_stock">{{ url_stock }}</span>    
<span id="url_unidad">{{ url_unidad }}</span>    
<span id="sociedad">{{ sociedad }}</span>    
{% endblock abajo %}
    

{% block js %}
    <script src="{% static 'js/traslado_producto/envio/form_material.js' %}?{{ cache_bust }}"></script>
 
    <script>
        $(function () {

            $("#id_material").select2({
                width: '100%',
                dropdownParent: $(".modal-body"),
                matcher: buscar_select2
            });

        });
    </script>

{% endblock js %}