{% load humanize %}
<h3>Detalle Comprobante de Compra Activo
    {% if comprobante.estado == 1 %}
        <button data-form-url="{% url 'activos_app:comprobante_compra_activo_detalle_registrar' contexto_comprobante_compra_activo_detalle.id %}"
            data-table-url="{% url 'activos_app:comprobante_compra_activo_detalle_tabla' contexto_comprobante_compra_activo_detalle.id %}"
            class="create badge bg-primary">
            Registrar Activo
        </button>

        <button data-form-url="{% url 'activos_app:comprobante_compra_activo_culminar' contexto_comprobante_compra_activo_detalle.id %}"
            data-table-url="{% url 'activos_app:comprobante_compra_activo_detalle_tabla' contexto_comprobante_compra_activo_detalle.id %}"
            class="delete badge bg-success">
            Culminar Registro
        </button>
    {% endif %}
        
    <a href="{% url 'activos_app:comprobante_compra_activo_inicio' %}"><span class="badge bg-primary">Regresar</span></a>

</h3>

<hr>
<div class="row mt-3">
    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2 text-nowrap">N° Comprobante:</th>
                    <td>{{ comprobante.numero_comprobante }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Tipo Comprobante:</th>
                    <td>{{ comprobante.get_tipo_comprobante_display }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Fecha Comprobante:</th>
                    <td>{{ comprobante.fecha_comprobante|date:'d/m/Y' }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Tipo de Compra:</th>
                    <td>{{ comprobante.get_internacional_nacional_display}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive mb-3">
        <table>
            <tbody>

                <tr>
                    <th class="pe-2">Sociedad:</th>
                    <td>{{ comprobante.sociedad }}</td>
                </tr>
                <tr>
                    <th class="pe-2">Estado:</th>
                    <td>{{ comprobante.get_estado_display}}</td>
                </tr>
                <tr>
                    <th class="pe-2">Archivo:</th>
                    <td>
                    <div class="table-responsive">
                        {% if comprobante.estado == 1 %}
                        <button data-form-url="{% url 'activos_app:comprobante_compra_activo_archivo_agregar' contexto_comprobante_compra_activo_detalle.id %}"
                            data-table-url="{% url 'activos_app:comprobante_compra_activo_detalle_tabla' contexto_comprobante_compra_activo_detalle.id %}"
                            class="create badge bg-primary">
                            Agregar Archivo
                        </button>
                        {% endif %}   
                        <table class="table">
                            <tbody>
                                {% for archivo in archivos %}
                                    <tr>
                                        <td class="text-center">
                                            <a href="{{ MEDIA_URL }}{{ archivo.archivo }}" target="_blank">
                                                {{ archivo.archivo }}
                                            </a>
                                        </td>
                                        {% if comprobante.estado == 1 %}
                                        <td class="text-center text-nowrap">
                                            <button data-form-url="{% url 'activos_app:comprobante_compra_activo_archivo_eliminar' archivo.id %}"
                                                class="delete btn btn-danger btn-sm"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </td>
                                        {% endif %}   
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Activo</th>
                <th>Descripción</th>
                <th>Orden de Compra</th>
                <th>Tipo IGV</th>
                <th class="text-end">Cantidad</th>
                <th class="text-nowrap">Prec. Unit.<br>sin IGV </th>
                <th class="text-nowrap">Prec. Unit.<br>con IGV </th>
                <th class="text-nowrap">Prec. Final<br>con IGV</th>
                <th>Descuento</th>
                <th class="text-nowrap">Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                {% if comprobante.estado == 1 %}
                <th class="text-center">Acciones</th>
                {% endif %}   
            </tr>
        </thead>
        <tbody>
            {% for activo in activos %}
                <tr>

                    <td>{{ activo.item }}</td>
                    <td>{{ activo.activo }}</td>
                    <td>{{ activo.descripcion_comprobante}}</td>
                    <td>
                        {% if activo.orden_compra_detalle %}
                            {{ activo.orden_compra_detalle }}
                        {% else %}

                        {% endif %} 
                    </td>
                    <td>{{ activo.get_tipo_igv_display }}</td>
                    <td class="text-end">{{ activo.cantidad|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.precio_unitario_sin_igv|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.precio_unitario_con_igv|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.precio_final_con_igv|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.descuento|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.sub_total|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.igv|intcomma }}</td>
                    <td class="text-end text-nowrap">{{ activo.total|intcomma }}</td>
                    {% if comprobante.estado == 1 %}
                    <td class="text-center text-nowrap">
                        <button data-form-url="{% url 'activos_app:comprobante_compra_activo_detalle_actualizar' activo.id %}"
                            data-table-url="{% url 'activos_app:comprobante_compra_activo_detalle_tabla' contexto_comprobante_compra_activo_detalle.id %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'activos_app:comprobante_compra_activo_detalle_eliminar' activo.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </td>
                    {% endif %}   

                </tr>
            {% endfor %}    
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="text-end">Descuento Global:</td>
                <td class="text-end">{{ totales.descuento_global|intcomma }}</td>
            </tr>            
            <tr>
                <td colspan="11" class="text-end">Descuento Total:</td>
                <td class="text-end">{{ totales.total_descuento|intcomma }}</td>
            </tr>           
             <tr>
                <td colspan="11" class="text-end">Anticipo:</td>
                <td class="text-end">{{ totales.total_anticipo|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Exonerada:</td>
                <td class="text-end">{{ totales.total_exonerada|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Inafecta:</td>
                <td class="text-end">{{ totales.total_inafecta|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Gravada:</td>
                <td class="text-end">{{ totales.total_gravada|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">IGV:</td>
                <td class="text-end">{{ totales.total_igv|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Gratuita:</td>
                <td class="text-end">{{ totales.total_gratuita|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Otros Cargos:</td>
                <td class="text-end">{{ totales.total_otros_cargos|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">ICBPER:</td>
                <td class="text-end">{{ totales.total_icbper|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Total:</td>
                <td class="text-end">{{ totales.total|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
</div>
