{% extends 'base.html' %}

{% block titulo %}
    Telecrédito
{% endblock titulo %}

{% block contenido %}
    <h3>Telecrédito
        <button data-form-url="{% url 'contabilidad_app:telecredito_registrar' %}"
            data-table-url="{% url 'contabilidad_app:telecredito_tabla' %}"
            class="create badge bg-primary">
            Registrar 
        </button>
    </h3>

    <form action="" method="get" autocomplete="off">
        <div class="row">
            {% for field in form %}
            <div class="col-lg-4">
                <div class="input-group flex-nowrap {% if field.errors %} invalid{% endif %}"
                {% if field.help_text %}
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text }}"
                {% endif %} >
                
                {% if 'Boton' not in field.label %}
                <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                </div>
                {% for error in field.errors %}
                <p class="text-danger mt-0 error-formulario">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </form>

    <div class="table-responsive" id="tabla">
        {% include 'contabilidad/telecredito/inicio_tabla.html' %}
    </div>
    
{% endblock contenido %}
    
