{% load funciones_propias %}
{% load humanize %}

<h3>Detalle Cotización
    <button onclick="history.back()" class="btn btn-primary">Regresar</button>
</h3>
<br>
<div class="row">
    <div class="col-lg-6 table-responsive">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Cliente:</th>
                    <td>{{ cotizacion.cliente.razon_social }}</td>
                    <td class="ps-2" rowspan="2">
                        <button data-form-url="{% url 'cotizacion_app:cotizacion_venta_cliente' cotizacion.id %}"
                            data-table-url="{% url 'cotizacion_app:cotizacion_venta_detalle_tabla' cotizacion.id %}"
                            class="update btn btn-primary" title="Seleccionar Cliente">
                            Seleccionar Cliente
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="pe-2">Interlocutor:</th>
                    <td>
                        {% if cotizacion.cliente_interlocutor %}
                        {{ cotizacion.cliente_interlocutor }}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6 table-responsive">
        <table>
            <tbody>
                <tr>
                    <th class="pe-2">Fecha:</th>
                    <td> {{ cotizacion.fecha_cotizacion|date:'d/m/Y'  }} </td>
                    <td class="ps-2" rowspan="2"> 
                        <button data-form-url="{% url 'cotizacion_app:cotizacion_venta_guardar' cotizacion.id %}"
                            data-table-url="{% url 'cotizacion_app:cotizacion_venta_inicio' %}"
                            class="delete btn btn-primary">
                            Guardar Cotización
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<br>
<div class="table_responsive">
    <button data-form-url="{% url 'cotizacion_app:cotizacion_venta_agregar_material' cotizacion.id %}"
        data-table-url="{% url 'cotizacion_app:cotizacion_venta_detalle_tabla' cotizacion.id  %}"
        data-keep-open="True"
        class="update btn btn-primary" title="Agregar Material">
        Agregar Material
    </button>

    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Material</th>
                <th>Unidad</th>
                <th class="text-end">Cantidad</th>
                <th>Prec. Unit. sin IGV </th>
                <th>Prec. Unit. con IGV </th>
                <th>Prec. Final con IGV</th>
                <th>Descuento</th>
                <th>Sub Total</th>
                <th>IGV</th>
                <th>Total</th>
                <th>Vendible</th>
                <th>Calidad</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiales %}
                <tr>
                    <td>{{ material.item }}</td>
                    <td>{{ material.material.descripcion_venta }}</td>
                    <td>{{ material.material.unidad_base }}</td>
                    <td class="text-end">{{ material.cantidad|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.precio_unitario_sin_igv|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.precio_unitario_con_igv|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.precio_final_con_igv|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.descuento|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.sub_total|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.igv|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.total|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.material.vendible|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.material.calidad|redondear|intcomma }}</td>
                    <td class="text-end">{{ material.material.stock|redondear|intcomma }}</td>
                    <td class="text-center text-nowrap">
                        <button data-form-url="{% url 'movimiento_almacen_app:ver_stock' material.material.id material.material.content_type %}"
                            class="read btn btn-success btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Stocks">
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" class="text-end">Descuento Global:</td>
                <td class="text-end">{{ totales.descuento_global|intcomma }}</td>
            </tr>            
            <tr>
                <td colspan="11" class="text-end">Descuento Total:</td>
                <td class="text-end">{{ totales.total_descuento|intcomma }}</td>
            </tr>           
             <tr>
                <td colspan="11" class="text-end">Anticipo:</td>
                <td class="text-end">{{ totales.total_anticipo|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Exonerada:</td>
                <td class="text-end">{{ totales.total_exonerada|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Inafecta:</td>
                <td class="text-end">{{ totales.total_inafecta|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Gravada:</td>
                <td class="text-end">{{ totales.total_gravada|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">IGV:</td>
                <td class="text-end">{{ totales.total_igv|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Gratuita:</td>
                <td class="text-end">{{ totales.total_gratuita|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Otros Cargos:</td>
                <td class="text-end">{{ totales.total_otros_cargos|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">ICBPER:</td>
                <td class="text-end">{{ totales.total_icbper|intcomma }}</td>
            </tr>
            <tr>
                <td colspan="11" class="text-end">Total:</td>
                <td class="text-end">{{ totales.total|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
</div>

