{% extends 'includes/modal generico.html' %}
{% load funciones_propias %}
{% load humanize %}
{% load static %}

{% block content %}
<form action="" method="post" id="formulario-sociedad" autocomplete="off">
    {% csrf_token %}
    
    {% for sociedad in sociedades %}
    <div class="flex-nowrap mt-3">
        <label class="input-group-text text-wrap fondo-personalizado" for="{{ id_cotizacion }}" style="--color-fondo: {{ sociedad.nombre_sociedad.color }};">{{ sociedad.nombre_sociedad }}</label>
        <div class="row">
            <div class="col-6 form-floating">
                <input class="form-control text-end" type="float" name="{{ id_cotizacion }}" id="{{ sociedad.nombre_sociedad.abreviatura }}" placeholder="0.00">
                <label for="{{ sociedad.nombre_sociedad.abreviatura }}">Sin IGV</label>
            </div>
            <div class="col-6 form-floating">
                <input class="form-control text-end" type="float" id="{{ sociedad.nombre_sociedad.abreviatura }}-con-igv" placeholder="0.00">
                <label for="{{ sociedad.nombre_sociedad.abreviatura }}-con-igv">Con IGV</label>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="guardar_formulario">Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
    </div>
    <span id="url_guardar" hidden>{{ url_guardar }}</span>
    <span id="descuentos" hidden>{{ descuentos }}</span>
    <span id="igv" hidden>{{ igv }}</span>
</form>
{% endblock content %}    

{% block js %}
    <script src="{% static 'js/cotizacion/cotizacion_venta/form_descuento.js' %}?{{ cache_bust }}"></script>
{% endblock js %}