{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cotizaciones
{% endblock titulo %}

{% block contenido %}
    <h3> Cotizaciones
        <a href="{% url 'cotizacion_app:cotizacion_venta_registrar' %}"
            class="badge btn btn-primary" title="Nueva Cotización">
            Nueva Cotización
        </a>
    </h3>
    <br>
    <form action="" method="get" autocomplete="off">
        {% include 'includes/formulario lineal.html' %}
        <button type="submit" class="btn btn-success" title="Buscar">
            <i class="bi bi-search"></i>
        </button>
        <a class="btn btn-success" href="{% url 'cotizacion_app:cotizacion_venta_inicio' %}">Limpiar</a>
    </form>
    <br>

    {% include 'includes/paginador.html' %}
    
    <div class="table-responsive" id="tabla">
        {% include 'cotizacion/cotizacion_venta/inicio_tabla.html' %}
    </div>

    {% include 'includes/paginador inferior.html' %}
{% endblock contenido %}