{% extends 'base.html' %}
{% load humanize %}

{% block titulo %}
{{ contexto_requerimiento_detalle.concepto }}
{% endblock titulo %}
    
{% block contenido %}
    <h3>{{ contexto_requerimiento_detalle.concepto }} | {{ contexto_requerimiento_detalle.usuario.username }}</h3>
    <h3>
        {% if contexto_requerimiento_detalle.estado == 1 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_solicitar' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-success">
                Solicitar
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 2 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_aprobar' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-success">
                Aprobar
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 2 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_rechazar' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-danger">
                Rechazar
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 3 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_finalizar_rendicion' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-success">
                Finalizar Rendición
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 5 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_aprobar_rendicion' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-success">
                Aprobar Rendición
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 5 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_rechazar_rendicion' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-danger">
                Rechazar Rendición
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 2 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_editar' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-secondary">
                Editar
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 3 or contexto_requerimiento_detalle.estado == 4 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_retroceder' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-secondary">
                Retroceder
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 6 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_editar_rendicion' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-secondary">
                Editar Rendición
            </button>
        {% endif %}
        {% if contexto_requerimiento_detalle.estado == 7 %}
            <button data-form-url="{% url 'caja_chica_app:requerimiento_retroceder_rendicion' contexto_requerimiento_detalle.id %}"
                data-table-url="{% url 'caja_chica_app:requerimiento_inicio' %}"
                class="delete badge bg-secondary">
                Retroceder Rendición
            </button>
        {% endif %}
        <a href="{% url 'caja_chica_app:requerimiento_inicio' %}"><span class="badge bg-primary">Regresar</span></a>
    </h3>
    <br>
    <div id="tabla">
        {% include 'caja_chica/requerimiento/detalle_tabla.html' %}
    </div>
    
{% endblock contenido %}
    