{% load humanize %}
{% load funciones_propias %}

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Solicitante</th>
            <th class="text-end">Monto Solicitado</th>
            <th class="text-end">Monto Recibido</th>
            <th class="text-end">Monto Usado</th>
            <th class="text-end">Vuelto</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for requerimiento in contexto_requerimientos %}
            <tr>
                <td>{{ requerimiento.fecha|date:'d/m/Y' }} </td>
                <td>{{ requerimiento.concepto }}</td>
                <td>{{ requerimiento.usuario|nombre_usuario }}</td>
                <td class="text-nowrap text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.monto|redondear|intcomma }}</td>
                <td class="text-nowrap text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.monto_final|redondear|intcomma }}</td>
                <td class="text-nowrap text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.monto_usado|redondear|intcomma }}</td>
                <td class="text-nowrap text-end">{{ requerimiento.moneda.simbolo }} {{ requerimiento.vuelto|redondear|intcomma }}</td>
                <td>{{ requerimiento.get_estado_display }}</td>
                <td class="text-nowrap text-center">
                    {% if requerimiento.estado == 1 %}
                        <button data-form-url="{% url 'caja_chica_app:requerimiento_actualizar' requerimiento.id %}"
                            data-table-url="{% url 'caja_chica_app:requerimiento_recibido_tabla' %}"
                            data-keep-open="true"
                            class="update btn btn-warning btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button data-form-url="{% url 'caja_chica_app:requerimiento_eliminar' requerimiento.id %}"
                            class="delete btn btn-danger btn-sm"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    {% endif %}
                    <a href="{% url 'caja_chica_app:requerimiento_detalle' requerimiento.id %}"
                        class="btn btn-info btn-sm"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>